.case-study {
  padding: 25px 0;
}
@media screen and (min-width: 1024px) {
  .case-study {
    margin-top: 35px;
  }
}
.case-study__top {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  .case-study__top {
    margin-bottom: 20px;
  }
}
.case-study .container {
  max-width: 1280px;
}
.case-study__item {
  border-radius: 36px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .case-study__item {
    border-radius: 30px;
  }
}
.case-study__bottom {
  overflow: hidden !important;
}
.case-study .swiper-pagination {
  top: auto !important;
  bottom: 44px !important;
  text-align: left;
  left: 72px !important;
  width: fit-content !important;
}
.case-study .swiper-pagination .swiper-pagination-bullet {
  width: 23px;
  height: 23px;
  border: 1px solid #002433;
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .case-study .swiper-pagination .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
  }
}
.case-study .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #002433;
  background-color: #00FFFF;
}
@media screen and (max-width: 1024px) {
  .case-study .swiper-pagination {
    left: 95px !important;
    bottom: 10px !important;
  }
}
@media screen and (max-width: 768px) {
  .case-study .swiper-pagination {
    bottom: 115px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.case-study__item.swiper-slide {
  opacity: 0 !important;
}
.case-study__item.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.case-item {
  transition: all 0.3s;
  display: flex;
  background-color: rgba(227, 224, 222, 0.3);
}
.case-item:hover {
  transition: all 0.3s;
}
.case-item:hover .case-item__image img {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .case-item {
    flex-direction: column-reverse;
  }
}
.case-item p {
  margin-bottom: 50px;
}
.case-item__content {
  flex: 0 0 51%;
}
.case-item__content_inner {
  padding-left: 74px;
  padding-top: 95px;
  padding-bottom: 50px;
  padding-right: 158px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .case-item__content_inner {
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .case-item__content_inner {
    padding-top: 23px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 52px;
    text-align: center;
  }
}
.case-item__title {
  margin-bottom: 16px;
  color: #002433;
}
.case-item__image {
  overflow: hidden;
  transition: all 0.3s;
  flex: 0 1 49%;
}
@media screen and (max-width: 768px) {
  .case-item__image {
    height: 292px;
  }
}
.case-item__image img {
  width: 100%;
  transition: all 0.3s;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .case-item__image img {
    height: 292px;
  }
}
.case-item__arrow {
  margin-top: auto;
}
.case-item__link-container {
  margin-top: auto;
  display: flex;
}
.case-item__link-container .case-item__arrow {
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .case-item__link-container .case-item__arrow {
    margin-left: unset;
  }
}
@media screen and (max-width: 1024px) {
  .case-item__link-container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .case-item__link-container {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .case-item p {
    margin-bottom: 95px;
  }
}

/*# sourceMappingURL=style.css.map */
