.small-cta {
  padding: 20px 0;

  .image-position_left {
	@media screen and (min-width: 1024px) {
	  flex-direction: row-reverse;
	}
  }

  &__inner {
	display: flex;
	border-radius: 36px;
	overflow: hidden;
	@media screen and (max-width: 1024px) {
	  flex-direction: column-reverse;
	  border-radius: 44px;
	}
  }

  &__text {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (max-width: 1024px) {
	  flex: 0 0 auto;
	}
  }

  &__image {
	flex: 0 0 50%;
	@media screen and (max-width: 1024px) {
	  flex: 0 0 auto;
	  font-size: 100px;
	}
  }

  &__image {
	img {
	  height: 100%;
	  width: 100%;
	  object-fit: cover;
	  @media screen and (max-width: 1024px) {
		height: 200px;
		object-fit: cover;
	  }
	}
  }

  &__text {
	padding: 30px 108px;
	@media screen and (max-width: 1024px) {
	  padding-left: 23px;
	  padding-top: 16px;
	  padding-bottom: 23px;
	  padding-right: 50px;
	}

	&.blue {
	  p, h1, h2, h3, h4, h5, h6, li, a {
		color: white;
	  }

	  .wp-block-button__link {
		outline: 2px solid #fff;
		border: 3px solid transparent;
		color: white;

		&:hover {
		  border: 3px solid #fff;
		}
	  }
	}

	.wp-block-button {
	  margin: 0;
	  border: none;
	}
  }
  &__content {
	p {
	  @media screen and (max-width: 1024px) {
		margin-bottom: 0;
		margin-top: 0;
	  }
	  @media screen and (max-width: 1024px) {
		& + & {
		  margin-bottom: 0.7em;
		  margin-top: 0.7em;
		}
	  }
	}

	h3 {
	  @media screen and (max-width: 1024px) {
		margin-bottom: 0.3em;
	  }
	}
  }
  .theme-button {
	@media screen and (max-width: 1024px) {
	  margin-top: 0;
	}
  }
}
