.small-cta {
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .small-cta .image-position_left {
    flex-direction: row-reverse;
  }
}
.small-cta__inner {
  display: flex;
  border-radius: 36px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .small-cta__inner {
    flex-direction: column-reverse;
    border-radius: 44px;
  }
}
.small-cta__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .small-cta__text {
    flex: 0 0 auto;
  }
}
.small-cta__image {
  flex: 0 0 50%;
}
@media screen and (max-width: 1024px) {
  .small-cta__image {
    flex: 0 0 auto;
    font-size: 100px;
  }
}
.small-cta__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .small-cta__image img {
    height: 200px;
    object-fit: cover;
  }
}
.small-cta__text {
  padding: 30px 108px;
}
@media screen and (max-width: 1024px) {
  .small-cta__text {
    padding-left: 23px;
    padding-top: 16px;
    padding-bottom: 23px;
    padding-right: 50px;
  }
}
.small-cta__text.blue p, .small-cta__text.blue h1, .small-cta__text.blue h2, .small-cta__text.blue h3, .small-cta__text.blue h4, .small-cta__text.blue h5, .small-cta__text.blue h6, .small-cta__text.blue li, .small-cta__text.blue a {
  color: white;
}
.small-cta__text.blue .wp-block-button__link {
  outline: 2px solid #fff;
  border: 3px solid transparent;
  color: white;
}
.small-cta__text.blue .wp-block-button__link:hover {
  border: 3px solid #fff;
}
.small-cta__text .wp-block-button {
  margin: 0;
  border: none;
}
@media screen and (max-width: 1024px) {
  .small-cta__content p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .small-cta__content p + .small-cta__content p {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
  }
}
@media screen and (max-width: 1024px) {
  .small-cta__content h3 {
    margin-bottom: 0.3em;
  }
}
@media screen and (max-width: 1024px) {
  .small-cta .theme-button {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
