.collapsable-content{
  &__item{
	max-height: unset!important;
	& + & {
	  margin-top: 23px;
	}
  }
  .accordion.active+div{
	padding-left: 0!important;
  }
  &__label{
	background-color: rgba(227, 224, 222, 0.2);
	border-radius: 11px;
	border: 4px solid rgba(78, 76, 90, 0.2);
	font-size: 20px;
	padding-left: 42px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 70px;
	cursor: pointer;
	color: #002433;
	position: relative;

	@media screen and (max-width: 1024px){
	  padding-left: 20px;
	  padding-top: 15px;
	  padding-bottom: 15px;
	  padding-right: 65px;
	}
	.plus_minus{
	  position: absolute;
	  right: 20px;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 41px;
	  height: 41px;
	  border-radius: 50%;
	  background-color: #00FFFF;
	  display: block;
	  &:after{
		content: "";
		position: absolute;
		width: 25px;
		background-color: #002433;
		height: 2px;
		top: 50%;
		transform: translateY(-50%) translateX(28%);
	  }
	  &:before{
		content: "";
		position: absolute;
		width: 2px;
		background-color: #002433;
		height: 25px;
		top: 50%;
		left: 43%;
		transform: translateY(-50%) translateX(28%);
	  }
	}
  }
  &__content{
	transition: all .3s;
	overflow: hidden;
	max-height: 0;
	ul{
	  padding-left: 12px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  flex-wrap: wrap;
	  margin: 0 -15px;
	  display: flex;
	  justify-content: space-between;
	  @media screen and (max-width: 1024px){
		flex-direction: column;
		margin: 0;
		row-gap: 15px;
	  }
	}
	li{
	  flex: 0 1 50%;
	  padding-left: 30px;
	  padding-right: 15px;
	  position: relative;
	  &:before{
		content: "";
		position: absolute;
		top: 9px;
		left: 6px;
		width: 16px;
		height: 8px;
		border-radius: 4px;
		background-color: #0ff;
	  }
	  @media screen and (max-width: 1024px){
		flex: 0 1 100%;
		padding-right: 0;
		padding-left: 15px;
	  }
	}
  }
  &__item{
	&.accordion__active{
	 .plus_minus{
	   &:before{
		 opacity: 0;
	   }
	 }
	}
  }
}
.collapsable-content.is-style-alternative{
  padding: 70px 0;
  @media screen and (max-width: 1024px){
	padding: 35px 0;
  }
}
@media (max-width: 1024px) {
  .collapsable-content__content li{
	flex: 0 1 100%;
	padding-right: 0;
	padding-left: 30px;
  }
  .collapsable-content__label{
	padding-left: 20px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-right: 65px;
  }
}
