.collapsable-content__item {
  max-height: unset !important;
}
.collapsable-content__item + .collapsable-content__item {
  margin-top: 23px;
}
.collapsable-content .accordion.active + div {
  padding-left: 0 !important;
}
.collapsable-content__label {
  background-color: rgba(227, 224, 222, 0.2);
  border-radius: 11px;
  border: 4px solid rgba(78, 76, 90, 0.2);
  font-size: 20px;
  padding-left: 42px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 70px;
  cursor: pointer;
  color: #002433;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .collapsable-content__label {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 65px;
  }
}
.collapsable-content__label .plus_minus {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #00FFFF;
  display: block;
}
.collapsable-content__label .plus_minus:after {
  content: "";
  position: absolute;
  width: 25px;
  background-color: #002433;
  height: 2px;
  top: 50%;
  transform: translateY(-50%) translateX(28%);
}
.collapsable-content__label .plus_minus:before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #002433;
  height: 25px;
  top: 50%;
  left: 43%;
  transform: translateY(-50%) translateX(28%);
}
.collapsable-content__content {
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0;
}
.collapsable-content__content ul {
  padding-left: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .collapsable-content__content ul {
    flex-direction: column;
    margin: 0;
    row-gap: 15px;
  }
}
.collapsable-content__content li {
  flex: 0 1 50%;
  padding-left: 30px;
  padding-right: 15px;
  position: relative;
}
.collapsable-content__content li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 6px;
  width: 16px;
  height: 8px;
  border-radius: 4px;
  background-color: #0ff;
}
@media screen and (max-width: 1024px) {
  .collapsable-content__content li {
    flex: 0 1 100%;
    padding-right: 0;
    padding-left: 15px;
  }
}
.collapsable-content__item.accordion__active .plus_minus:before {
  opacity: 0;
}

.collapsable-content.is-style-alternative {
  padding: 70px 0;
}
@media screen and (max-width: 1024px) {
  .collapsable-content.is-style-alternative {
    padding: 35px 0;
  }
}

@media (max-width: 1024px) {
  .collapsable-content__content li {
    flex: 0 1 100%;
    padding-right: 0;
    padding-left: 30px;
  }
  .collapsable-content__label {
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 65px;
  }
}

/*# sourceMappingURL=style.css.map */
