.image-text-two {
  padding: 40px 0;
  overflow: hidden;
}
.image-text-two .container {
  max-width: 1240px;
}
.image-text-two__inner {
  padding: 0 15px;
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .image-text-two__inner {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .image-text-two__inner.reverse {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1024px) {
  .image-text-two__inner {
    flex-direction: column;
  }
}
.image-text-two__image {
  padding: 0 15px;
  flex: 0 1 642px;
}
@media screen and (max-width: 1024px) {
  .image-text-two__image {
    flex: 0 1 auto;
    padding: 0;
  }
}
.image-text-two__image img {
  object-fit: contain;
  border-radius: 36px;
  height: auto;
  width: 642px;
}
.image-text-two__content {
  padding: 0 15px;
  flex: 0 0 575px;
}
@media screen and (max-width: 1024px) {
  .image-text-two__content {
    flex: 0 1 auto;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
