.image-text-two {
  padding: 40px 0;
  overflow: hidden;

  .container {
	max-width: 1240px;
  }

  &__inner {
	padding: 0 15px;
	margin: 0 -15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 1024px) {
	  margin: 0;
	  padding: 0;
	}
	&.reverse {
	  @media screen and (min-width: 1024px) {
		flex-direction: row-reverse;
	  }
	}

	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	}
  }
  &__image {
	padding: 0 15px;
	flex: 0 1 642px;
	@media screen and (max-width: 1024px) {
	  flex: 0 1 auto;
	  padding: 0;
	}

	img {
	  object-fit: contain;
	  border-radius: 36px;
	  height: auto;
	  width: 642px;
	}
  }
  &__content {
	padding: 0 15px;
	flex: 0 0 575px;
	@media screen and (max-width: 1024px) {
	  flex: 0 1 auto;
	  padding: 0;
	}
  }
}
