@import "mixins.scss";

.block-icons {
  &.navy{
	p{
	  color: white;
	}
	h2,h3,h4,h5,h6,h1{
	  color: white;
	}
  }
  .acf-innerblocks-container{
	h2{
	  margin-bottom: 35px;
	  @media screen and (max-width: 1024px) {
		margin-bottom: 10px;
	  }
	}
  }
  padding: 60px 0;
  @media screen and (max-width: 1024px){
	padding-top: 26px;
	padding-bottom: 30px;
  }
  & > * {
	font-family: "Nunito",sans-serif;
  }
  &__wrapper {
	border: 12px solid #E3E0DE;
	border-radius: 44px;
	padding-top: 30px;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 75px;
	@media screen and (max-width: 1024px) {
	  padding-left: 15px;
	  padding-right: 15px;
	  padding-top: 5px;
	  padding-bottom: 10px;
	}
	@media screen and (max-width: 768px){
	  border: none;
	  padding-left: 0px;
	  padding-right: 0px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	}
  }
  &__inner {
	display: flex;
	margin: 0 -35px;
	//justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 20px;
	@media screen and (max-width: 785px) {
	  flex-direction: column;
	  margin: 0;
	  row-gap: 12px;
	  align-items: flex-start;
	}
  }
  .container{
	max-width: 1280px;
  }
  &__top-content{
	margin-bottom: 20px;
  }
  &.lightgrey{
	.icon-block__wrapper{
	  border: 12px solid #fff;
	  @media screen and (max-width: 768px){
		border: none;
	  }
	}
  }
  &.navy{
	.icon-item__description h1, .icon-item__description h2, .icon-item__description h3, .icon-item__description h4, .icon-item__description h5, .icon-item__description h6, .icon-item__description p{
	  color: white;
	}
  }
  &.is-style-alternative {
	.item-icon__logo {
	  background:transparent;
	  img {
		width: 60px;
	  }
	}
	.container {
	  @include screen(1536) {
		max-width: 1366px;
	  }
	}
	.block-icons__wrapper {
	  @include screen(1280) {
		padding: 0 50px;
	  }
	}
  }
}

.item-icon {
  flex: 0 1 50%;
  padding: 0 35px;
  @media screen and (max-width: 768px){
	padding: 0;
	flex: 0 1 100%;
  }

  &__wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	@media screen and (max-width: 1024px){
	  gap: 20px;
	}
  }
  &__logo {
	width: 100px;
	height: 100px;
	//background-color: #B6FFFF;
	border-radius: 50%;
	flex: 0 0 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 1024px){
	  width: 70px;
	  height: 70px;
	  flex: 0 0 70px;
	}
	img {
	  width: 80px;
	  @media screen and (max-width: 1024px){
		width: 50px;
	  }
	}
  }
  &__description{
	p{
	  color: #4E4C5A;
	}
	h1,h2,h3,h4,h5,h6{
	  color: #4E4C5A;
	}
  }
}
