.block-icons {
  padding: 60px 0;
}
.block-icons.navy p {
  color: white;
}
.block-icons.navy h2, .block-icons.navy h3, .block-icons.navy h4, .block-icons.navy h5, .block-icons.navy h6, .block-icons.navy h1 {
  color: white;
}
.block-icons .acf-innerblocks-container h2 {
  margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
  .block-icons .acf-innerblocks-container h2 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .block-icons {
    padding-top: 26px;
    padding-bottom: 30px;
  }
}
.block-icons > * {
  font-family: "Nunito", sans-serif;
}
.block-icons__wrapper {
  border: 12px solid #E3E0DE;
  border-radius: 44px;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 75px;
}
@media screen and (max-width: 1024px) {
  .block-icons__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .block-icons__wrapper {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.block-icons__inner {
  display: flex;
  margin: 0 -35px;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (max-width: 785px) {
  .block-icons__inner {
    flex-direction: column;
    margin: 0;
    row-gap: 12px;
    align-items: flex-start;
  }
}
.block-icons .container {
  max-width: 1280px;
}
.block-icons__top-content {
  margin-bottom: 20px;
}
.block-icons.lightgrey .icon-block__wrapper {
  border: 12px solid #fff;
}
@media screen and (max-width: 768px) {
  .block-icons.lightgrey .icon-block__wrapper {
    border: none;
  }
}
.block-icons.navy .icon-item__description h1, .block-icons.navy .icon-item__description h2, .block-icons.navy .icon-item__description h3, .block-icons.navy .icon-item__description h4, .block-icons.navy .icon-item__description h5, .block-icons.navy .icon-item__description h6, .block-icons.navy .icon-item__description p {
  color: white;
}
.block-icons.is-style-alternative .item-icon__logo {
  background: transparent;
}
.block-icons.is-style-alternative .item-icon__logo img {
  width: 60px;
}
@media only screen and (min-width: 1536px) {
  .block-icons.is-style-alternative .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1280px) {
  .block-icons.is-style-alternative .block-icons__wrapper {
    padding: 0 50px;
  }
}

.item-icon {
  flex: 0 1 50%;
  padding: 0 35px;
}
@media screen and (max-width: 768px) {
  .item-icon {
    padding: 0;
    flex: 0 1 100%;
  }
}
.item-icon__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1024px) {
  .item-icon__wrapper {
    gap: 20px;
  }
}
.item-icon__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .item-icon__logo {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
  }
}
.item-icon__logo img {
  width: 80px;
}
@media screen and (max-width: 1024px) {
  .item-icon__logo img {
    width: 50px;
  }
}
.item-icon__description p {
  color: #4E4C5A;
}
.item-icon__description h1, .item-icon__description h2, .item-icon__description h3, .item-icon__description h4, .item-icon__description h5, .item-icon__description h6 {
  color: #4E4C5A;
}

/*# sourceMappingURL=style.css.map */
