.two-column-text {
  margin: 50px 0;
}
@media only screen and (min-width: 1280px) {
  .two-column-text {
    margin: 75px 0;
  }
}
.two-column-text .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1024px) {
  .two-column-text .wrapper {
    gap: 3.5vw;
  }
}
.two-column-text .left,
.two-column-text .right {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .two-column-text .left,
  .two-column-text .right {
    flex: 0 0 calc(50% - 3.5vw);
    max-width: calc(50% - 3.5vw);
  }
}
@media only screen and (min-width: 1024px) {
  .two-column-text.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.two-column-text.navy, .two-column-text.light-grey {
  margin: 0;
  padding: 50px 0;
}
@media only screen and (min-width: 1280px) {
  .two-column-text.navy, .two-column-text.light-grey {
    padding: 75px 0;
  }
}
.two-column-text.navy {
  background: rgb(0, 36, 51);
}
.two-column-text.light-grey {
  background: #f9f9f8;
}

/*# sourceMappingURL=style.css.map */
