@import "mixins.scss";

.two-column-text {
    margin: 50px 0;
    @include screen(1280) {
        margin: 75px 0;
    }
    .wrapper {
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        @include screen(1024) {
            gap:3.5vw;
        }
    }
    .left,
    .right {
        flex:0 0 100%;
        max-width: 100%;
        @include screen(1024) {
            flex:0 0 calc(50% - 3.5vw);
            max-width: calc(50% - 3.5vw);
        }
    }
    &.is-style-reverse {
        .wrapper {
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
    &.navy,
    &.light-grey {
        margin:0;
        padding: 50px 0;
        @include screen(1280) {
            padding: 75px 0;
        }
    }
    &.navy {
        background:rgba(0, 36, 51, 1);

    }
    &.light-grey {
        background:#f9f9f8;
    }
}