{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}} {{fields.background_color}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
        <div class="left">
            {{fields.content.left_content}}
        </div>
        <div class="right">
            <InnerBlocks />
        </div>
        </div>
    </div>
</section>
{% endblock %}
