.job-container {
  max-width: 800px;
  margin: 50px auto;
}
@media screen and (max-width: 1024px) {
  .job-container img {
    height: auto !important;
  }
}
@media only screen and (min-width: 1280px) {
  .job-container {
    margin: 75px auto;
  }
}
.job-container a {
  text-decoration: none;
  font-weight: 600;
  color: #160F50;
}
.job-container h1,
.job-container h2,
.job-container h3,
.job-container h4,
.job-container h5,
.job-container h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
