@import "mixins.scss";


.job-container {
  img {
	@media screen and (max-width: 1024px) {
	  height: auto!important;
	}
  }

  max-width: 800px;
  margin: 50px auto;
  @include screen(1280) {
	margin: 75px auto;
  }

  a {
	text-decoration: none;
	font-weight: 600;
	color: #160F50;
  }

  @include headings() {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  }
}

