{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="job-container">
      <div class="job-content">
        <InnerBlocks />
      </div>
    </div>
  </div>
</section>
{% endblock %}

