.book-a-demo {
  padding-top: 150px;
  padding-bottom: 107px;
  background-color: #002433;
  height: 100%;
  position: relative;
  overflow: hidden;
  .ginput_container_textarea{
	width: calc(100% - 16px);
  }

  .container {
	width: 100%;
	max-width: 1670px;
	padding: 0 25px;
	@media screen and (min-width: 1024px){
	  padding: 0 50px;
	}
  }

  @media screen and (max-width: 1200px) {
	padding-top: 0;
  }

  &:before {
	content: "";
	background-color: #173945;
	position: absolute;
	left: 83px;
	top: -186px;
	width: 637px;
	height: 970px;
	border-radius: 419px;
	transform: translate(-43px, 36px) rotate(38deg);
	@media screen and (max-width: 1450px) {
	  border-radius: 300px;
	  top: -120px;
	  left: 60px;
	  width: 337px;
	  height: 670px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 200px;
	  height: 370px;
	}
	@media screen and (max-width: 767px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 120px;
	  height: 220px;
	}
  }

  &:after {
	content: "";
	position: absolute;
	width: 350px;
	position: absolute;
	top: -105px;
	right: -445px;
	height: 1180px;
	width: 1180px;
	background-color: #000F18;
	border-radius: 50%;
	@media screen and (max-width: 1450px) {
	  width: 700px;
	  height: 700px;
	  right: -300px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 50%;
	  top: -80px;
	  right: -50px;
	  width: 300px;
	  height: 300px;
	}
	@media screen and (max-width: 767px) {
	  top: -40px;
	  right: -20px;
	  width: 150px;
	  height: 150px;
	}
  }

  &__inner {
	position: relative;
	z-index: 10;
	//text-align: center;
	img {
	  width: 100%;
	}

	p {
	  max-width: 725px;
	  //margin: 0 auto;
	}

	h4 {
	  max-width: 800px;
	  margin: 0 auto;
	  margin-bottom: 10px;
	}
  }

  &__wrapper {
	padding-top: 98px;
	@media screen and (max-width: 1024px) {
	  padding-top: 40px;
	}

	&:before {
	  content: "";
	  position: absolute;
	  width: 436px;
	  position: absolute;
	  bottom: -240px;
	  right: 38px;
	  height: 350px;
	  background-color: #0D303D;
	  border-radius: 50%;
	  @media screen and (max-width: 1024px) {
		width: 250px;
		height: 270px;
	  }
	}

	&:after {
	  content: "";
	  width: 515px;
	  position: absolute;
	  bottom: -138px;
	  left: -52px;
	  height: 515px;
	  background-color: #001E2B;
	  border-radius: 50%;
	  @media screen and (max-width: 1024px) {
		width: 180px;
		height: 180px;
		left: 10px;
		bottom: -30px;
	  }
	}
  }

  &__inner {
	display: flex;
	margin: 0 -15px;
	justify-content: space-between;
	@media screen and (max-width: 1024px){
	  flex-direction: column;
	  margin: 0;
	}
	p{
	  @media screen and (max-width: 1024px){
		margin: 0;
	  }
	}
  }
  &__left-side {
	padding: 0 15px;
	flex: 0 0 41%;
	//padding-top: 75px;
	@media screen and (max-width: 1024px){
	  padding: 0;
	  padding-top: 0px;
	  flex: 1 1 auto ;
	}

	h2 {
	  line-height: 1.375;
	}

	img {
	  display: inline-block;
	  margin-bottom: 50px;
	  margin-top: 22px;
	}
  }

  &__right-side {
	padding: 0 15px;
	flex: 1 0 51%;
	@media screen and (max-width: 1024px){
	  flex: 1 1 auto;
	  padding: 0;
	  margin-top: 35px;
	}
  }

  .gform_wrapper.gravity-theme .gform_fields {
	grid-column-gap: 24px;
	grid-row-gap: 16px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto-fill, auto);
	width: 100%;
	@media screen and (max-width: 1024px){
	  grid-column-gap: 1%;
	}
  }

  .gform_title {
	margin-bottom: 24px;
	color: #002433;
  }

  @media only screen and (min-width: 1400px) {
	.gform_wrapper.gravity-theme .gform_fields {
	  grid-row-gap: 18px;
	}
  }

  .gform_wrapper.gravity-theme .gfield.gfield--width-half {
	grid-column: span 12;
  }

  @media only screen and (min-width: 768px) {
	.gform_wrapper.gravity-theme .gfield.gfield--width-half {
	  grid-column: span 6;
	}
	.gform_wrapper.gravity-theme .gfield.gfield--width-full {
	  grid-column: span 12;
	}
  }

  .gform_required_legend {
	display: none;
  }

  &__form {
	.gform_submission_error{
	  color: red!important;
	}
	.gfield_validation_message{
	  color: red!important;
	}
	p {
	  color: #9796A0!important;
	}

	background-color: #FFFFFF;
	box-shadow: 0px 3px 16px #00000029;
	border-radius: 12px;
	padding-left: 60px;
	padding-top: 60px;
	padding-right: 60px;
	padding-bottom: 55px;
	@media screen and (max-width: 1024px){
	  padding: 30px;
	}

	label {
	  margin-bottom: 5px;
	}

	input {
	  width: 100%;
	  height: 50px;
	  padding-left: 12px;
	  font-size: 14px;
	  border: 1px solid #E3E0DE;
	  border-radius: 4px;
	  font-family: "Nunito", sans-serif;
	  box-sizing: border-box;
	  padding-right: 12px;
	  &::placeholder {
		color: #9796A0;
		font-size: 14px;
	  }
	}

	.gfield_required.gfield_required_asterisk {
	  color: #F9304D;
	}

	textarea {
	  width: 100%;
	  padding-left: 12px;
	  padding-top: 16px;
	  border: 1px solid #E3E0DE;
	  border-radius: 4px;
	  font-family: "Nunito", sans-serif;
	  height: 210px;
	  font-family: "Nunito", sans-serif;
	  resize: none;

	  &::placeholder {
		color: #9796A0;
		font-size: 14px;
		font-family: "Nunito", sans-serif;
	  }
	}

	input[type="submit"] {
	  width: max-content;
	  background-color: #00FFFF;
	  font-size: 16px;
	  border-radius: 26px;
	  padding-top: 7px;
	  padding-bottom: 7px;
	  padding-left: 37px;
	  padding-right: 37px;
	  height: auto;
	  color: #002433;
	  border: 2px solid #0ff;
	  cursor: pointer;
	  font-weight: 400;
	  &:hover {
		background-color: #002433;
		color: #0ff;
	  }
	}

	.gform_footer {
	  margin-top: 30px;
	}
	.gfield--type-textarea{
	  @media screen and (max-width: 767px){
		grid-column: span 12;
	  }
	}
	.gfield--type-html{
	  @media screen and (max-width: 767px){
		grid-column: span 12;
	  }
	}
  }

  h2, h3, h4, h5, h6, h1, p {
	color: white;
  }

  &__item {
	padding-left: 55px;
	position: relative;

	& + & {
	  margin-top: 13px;
	}

	&:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 33px;
	  height: 33px;
	  background-image: url("./../../assets/images/checkmark_bullet.svg");
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;
	}
  }

  &__label {
	color: #5CFF7A!important;
	font-size: 18px;
  }

  &__list {
	margin-top: 26px;
  }
}

