.animated-block {
  overflow: hidden;
  padding: 42px 0;
  @media screen and (max-width: 1024px) {
	padding-bottom: 0;
	padding-top: 30px;
  }

  &__inner {
	position: relative;
	max-width: 658px;
	margin-left: auto;
	@media screen and (max-width: 1279px) {
	  max-width: 100%;
	}
  }

  &__wrapper {
	position: relative;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1600px;
	margin: 0 auto;
	@media screen and (max-width: 1024px){
	  margin-bottom: -35px;
	}

	.container {
	  width: 100%;
	}
  }

  &__block {
	left: -50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	@media screen and (max-width: 1530px) {
	  lottie-player {
		width: 75% !important;
		height: 75% !important;
	  }
	}
	@media screen and (max-width: 1279px) {
	  position: relative;
	  top: 0;
	  transform: translateY(0);
	  left: 0;
	  lottie-player {
		width: 65%!important;
		height: 65%!important;
		margin: 0 auto;
	  }
	}
	@media screen and (max-width: 767px) {
	  left: -105px;
	  lottie-player {
		height: 475px !important;
		width: 400px !important;
		margin: 0;
	  }
	}
  }

  &__text {
	margin-bottom: 45px;

	p {
	  color: #4E4C5A;
	  max-width: 565px;
	}

	h1, h2, h3, h4, h5, h6 {
	  color: #002433;
	  margin-bottom: 40px;
	  @media screen and (max-width: 1279px) {
		margin-bottom: 15px;
	  }
	}

	@media screen and (max-width: 1279px) {
	  margin-bottom: 0px;
	}
  }

  &__box {
	background-color: rgba(227, 224, 222, 0.2);
	border-radius: 24px;
	padding-top: 51px;
	padding-left: 48px;
	padding-bottom: 63px;
	padding-right: 48px;
	margin-bottom: 25px;
	@media screen and (max-width: 1024px) {
	  padding: 15px 30px 33px;
	  margin: 0 -35px 15px;
	  border-radius: 0;
	}

	p {
	  color: #4E4C5A;
	}
  }

  .main-link {
	a {
	  @media screen and (min-width: 1024px) {
		font-size: 20px;
	  }
	}
  }

  .wp-block-group.has-background {
	border-radius: 24px;
  }
}
.animated-block__inner.navy{
  .animated-block__text{
	p,h1,h2,h3,h4,h5,h6{
	  color: white;
	}
  }
  .animated-block__box{
	p,h1,h2,h3,h4,h5,h6{
	  color: white;
	}
  }
  .main-link{
	a{
	  color: white;
	  &:before{
		background-image: url("./../../assets/images/chevron-right_light.svg");
	  }
	}
  }
}
