.animated-block {
  overflow: hidden;
  padding: 42px 0;
}
@media screen and (max-width: 1024px) {
  .animated-block {
    padding-bottom: 0;
    padding-top: 30px;
  }
}
.animated-block__inner {
  position: relative;
  max-width: 658px;
  margin-left: auto;
}
@media screen and (max-width: 1279px) {
  .animated-block__inner {
    max-width: 100%;
  }
}
.animated-block__wrapper {
  position: relative;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .animated-block__wrapper {
    margin-bottom: -35px;
  }
}
.animated-block__wrapper .container {
  width: 100%;
}
.animated-block__block {
  left: -50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1530px) {
  .animated-block__block lottie-player {
    width: 75% !important;
    height: 75% !important;
  }
}
@media screen and (max-width: 1279px) {
  .animated-block__block {
    position: relative;
    top: 0;
    transform: translateY(0);
    left: 0;
  }
  .animated-block__block lottie-player {
    width: 65% !important;
    height: 65% !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .animated-block__block {
    left: -105px;
  }
  .animated-block__block lottie-player {
    height: 475px !important;
    width: 400px !important;
    margin: 0;
  }
}
.animated-block__text {
  margin-bottom: 45px;
}
.animated-block__text p {
  color: #4E4C5A;
  max-width: 565px;
}
.animated-block__text h1, .animated-block__text h2, .animated-block__text h3, .animated-block__text h4, .animated-block__text h5, .animated-block__text h6 {
  color: #002433;
  margin-bottom: 40px;
}
@media screen and (max-width: 1279px) {
  .animated-block__text h1, .animated-block__text h2, .animated-block__text h3, .animated-block__text h4, .animated-block__text h5, .animated-block__text h6 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1279px) {
  .animated-block__text {
    margin-bottom: 0px;
  }
}
.animated-block__box {
  background-color: rgba(227, 224, 222, 0.2);
  border-radius: 24px;
  padding-top: 51px;
  padding-left: 48px;
  padding-bottom: 63px;
  padding-right: 48px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .animated-block__box {
    padding: 15px 30px 33px;
    margin: 0 -35px 15px;
    border-radius: 0;
  }
}
.animated-block__box p {
  color: #4E4C5A;
}
@media screen and (min-width: 1024px) {
  .animated-block .main-link a {
    font-size: 20px;
  }
}
.animated-block .wp-block-group.has-background {
  border-radius: 24px;
}

.animated-block__inner.navy .animated-block__text p, .animated-block__inner.navy .animated-block__text h1, .animated-block__inner.navy .animated-block__text h2, .animated-block__inner.navy .animated-block__text h3, .animated-block__inner.navy .animated-block__text h4, .animated-block__inner.navy .animated-block__text h5, .animated-block__inner.navy .animated-block__text h6 {
  color: white;
}
.animated-block__inner.navy .animated-block__box p, .animated-block__inner.navy .animated-block__box h1, .animated-block__inner.navy .animated-block__box h2, .animated-block__inner.navy .animated-block__box h3, .animated-block__inner.navy .animated-block__box h4, .animated-block__inner.navy .animated-block__box h5, .animated-block__inner.navy .animated-block__box h6 {
  color: white;
}
.animated-block__inner.navy .main-link a {
  color: white;
}
.animated-block__inner.navy .main-link a:before {
  background-image: url("./../../assets/images/chevron-right_light.svg");
}

/*# sourceMappingURL=style.css.map */
