$darkgreen: #002433;
$blackgreen: #000e14;
$white: #fff;
$brightblue: #00ffff;

/********************/
/*** editor stylings *****/
/********************/
.textleftformright{
  .formarea .gf_progressbar {
	background-color: rgb(227, 224, 222);
	border-radius: 4px;
  }
  .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
	margin-top: 21px;
	margin-bottom: 20px;
  }
  //padding-top: 150px;
  padding-bottom: 55px;
  background-color: #002433!important;
  height: 100%;
  position: relative;
  overflow: hidden;
  &:before{
	content: "";
	background-color: #173945;
	position: absolute;
	left: 83px;
	top: -186px;
	width: 637px;
	height: 970px;
	border-radius: 419px;
	transform: translate(-43px, 36px) rotate(38deg);
	@media screen and (max-width: 1450px) {
	  border-radius: 300px;
	  top: -120px;
	  left: 60px;
	  width: 337px;
	  height: 670px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 200px;
	  height: 370px;
	}
	@media screen and (max-width: 767px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 120px;
	  height: 220px;
	}
  }
  &:after{
	content: "";
	position: absolute;
	width: 350px;
	position: absolute;
	top: -105px;
	right: -445px;
	height: 1180px;
	width: 1180px;
	background-color: #000F18;
	border-radius: 50%;
	@media screen and (max-width: 1450px) {
	  width: 700px;
	  height: 700px;
	  right: -300px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 50%;
	  top: -80px;
	  right: -50px;
	  width: 300px;
	  height: 300px;
	}
	@media screen and (max-width: 767px) {
	  top: -40px;
	  right: -20px;
	  width: 150px;
	  height: 150px;
	}
  }
  .gchoice{
	padding-bottom: 13px;
	padding-top: 23px;
	border-bottom: 1px solid rgb(241, 240, 239);
  }
}

.textcolour_brightgreen{
  color: #00ffff;
}
.textcolour_brightgreen_uppercase{
  color: #00ffff;
  text-transform: uppercase;
}


.green_ticks_ul ul{
  margin-left: 0;
  padding-left: 2.5rem;
}

.green_ticks_ul li{
  color: #5cff7a;
  list-style-type: none;
  position: relative;
}

.green_ticks_ul li:before{
  content: '';
  background-image: url('https://i.ibb.co/DgwhDrB/checkmark-bullet.png');
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: -2.25rem;
  top: 0.25rem;
}

.green_ticks_ul li{
  margin-bottom: 1rem;
}

.green_ticks_ul li ul{
  margin-left: 0;
  padding-left: 0;
}

.green_ticks_ul li ul li{
  color: #fff;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: unset;
  font-size: calc(.8rem + 0.1vw);
}


.green_ticks_ul li ul li:before{
  display: none;
}


.slim_editor_image_fullwidth img{
  border-radius: 1rem;
  width: 100%;
}
.slim_editor_image_maxheight img{
  border-radius: 1rem;
  max-height: 20rem;
}

/********************/
/*** editor stylings *****/
/********************/


.acfblock-textandimageblocktwo{
  background-color: $blackgreen;
  // height: 90vh;
  min-height: 500px;
  // max-height: 60rem;
  // border-bottom-right-radius: 10rem;
  position: relative;
  overflow: hidden;

  .background_a{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 0.3;
  }

  .background_a.center_left{
	background-size: 55%;
	background-position: center left;
  }

  .background_a.top_left{
	background-size: 60vw;
	background-position: -5vw -10vw;
  }


  .background_b{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.3;
  }


  .background_b.center_left{
	background-size: 55%;
	background-position: center left;
  }

  .background_b.top_right{
	background-size: 55%;
	background-position: 120% 150%;
  }

  .background_b.right_side_circle{
	background-size: 80vw;
	background-position: 60vw;
  }




  .containo_pemac{
	height: 100%;
	width: 90vw;
	margin: 0 auto;
	// max-width: 1680px;
	position: relative;
	padding: 6rem 0;
	.flexholder{
	  display: flex;
	  align-items: center;
	  height: 100%;

	  @media screen and (min-width:992px) {
		flex-direction: row;
	  }
	  @media screen and (max-width:991px) {
		flex-direction: column;
	  }


	  .leftarea{
		height: 100%;

		@media screen and (min-width:992px) {
		  width: 50%;
		  padding-right: 2rem;
		}
		@media screen and (max-width:991px) {
		  width: 90%;
		}

		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;


		.titletext{
		  font-size: calc(2.5rem + 0.1vw);
		  font-weight: 600;
		}


		h1,h2,h3,h4,h5{
		  color:$white;
		  font-weight: 500;
		  line-height: 1.15em
		}


		h2{
		  font-size: 40px;
		  font-size: calc(2.5rem + 0.1vw);
		}

		h3{
		  font-size: 24px;
		  font-size: calc(1.6rem + 0.1vw);
		}

		h4{
		  font-size: 18px;
		  font-size: calc(1.25rem + 0.1vw);
		}

		h5{
		  font-size: 20px;
		  font-size: calc(1.15rem + 0.1vw);
		}

		.contento{
		  color: $white;
		  p{
			line-height: 1.75rem;
		  }
		}


		.titletext, .contento{
		  position: relative;
		  z-index: 6;
		  @media screen and (min-width:992px) {
			max-width:40rem;
		  }
		}

	  }


	  /********************/
	  /*** ********** *****/
	  /********************/

	  .formarea{

		@media screen and (min-width:992px) {
		  width: 50%;
		  padding-left: 2rem;
		}
		@media screen and (max-width:991px) {
		  width: 90%;
		}
		.formholder{
		  position: relative;
		  z-index: 1;
		  background: $white;
		  border-radius: .5rem;
		  padding: 2rem 2.5rem;


		  .gform_wrapper{
			width: 100%;

			.gf_list_2col{
			  width: 50%;
			}

			.gform_submission_error{
			  font-size: calc(1.25rem + 0.1vw);
			}

			.gform_fields{
			  display: flex;
			  flex-wrap: wrap;
			  justify-content: space-between;
			}



			.gfield{
			  margin-bottom: 0.75rem;
			  input[type="text"], input[type="email"], input[type="tel"]{
				width: calc(100% - 2rem);
				padding: 0.5rem;
				border-radius: 2px;
				border: 1px solid #dbdbdb;
			  }


			  .gfield_label.gform-field-label{
				margin-bottom: 0.2rem;
				color: $darkgreen;
				font-weight: 700;
			  }

			}

			.gform_title{
			  display: none;
			}

			.gform-theme-button, .gform_button.button{
			  background: $brightblue;
			  padding: 0.15rem 1.75rem;
			  border: none;
			  border-radius: 1rem;
			  height: unset;
			  color: #444;
			  font-size: calc(.8rem + 0.1vw);
			  font-family: "Nunito",sans-serif;
			}


			.gform_page_footer {
			  margin-top: 2rem;
			}

			.gform_previous_button{
			  margin-right: 2rem;
			}


			.gfield_select{
			  border: 1px solid #dbdbdb;
			  width: calc(100% - 1rem);
			  padding: 0.5rem;
			}


			input[type='radio'] {
			  accent-color: $brightblue;
			}

			.gform_confirmation_message{
			  h3{
				font-size: calc(1.5rem + 0.1vw);
			  }
			}

			//end wrapper
		  }


		  .gf_progressbar_wrapper{
			margin-bottom: 1.5rem;
		  }

		  .gform_confirmation_wrapper{
			text-align: center;
			img{
			  margin: 0 auto;
			  margin-bottom: 1rem;
			}
			h3{
			  font-size: calc(1.5rem + 0.1vw);
			}

		  }



		  .gf_progressbar_title{
			display: none;
		  }


		  .gform_wrapper.gravity-theme .gf_progressbar_percentage{
			height:8px;
			border-radius: 8px;
			span{
			  display: none;
			}
		  }


		}
	  }

	  /********************/
	  /*** ********** *****/
	  /********************/




	}




	.flexholder.align_top{
	  align-items: flex-start;

	  .leftarea{
		justify-content: flex-start;
	  }
	}

	.flexholder.align_center{
	  align-items: center;
	}



  }

}


.containo_pemac.push_if_top{
  @media screen and (min-width:992px) {
	margin-top: 10rem;
  }
  @media screen and (max-width:991px) {
	margin-top: 6rem;
  }

}

.formholder{
  .gform_body{
	opacity: 1;
	transition: 0.5s all ease;
  }
  .gform_body.hideo{
	opacity: 0;
	transition: 0.5s all ease;
  }

  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield{
	width: 100%;
  }
  .textleftformright{
	.formarea{
	  .gf_progressbar{
		background-color: #E3E0DE;
		border-radius: 4px;
	  }
	}

	.gchoice{
	  padding-bottom: 13px;
	  border-bottom: 1px solid #F1F0EF;
	  padding-top: 23px;
	}
  }
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label{

	margin-top: 21px;
	margin-bottom: 20px;
  }
  .top_label{
	legend{
	  font-size: 26px;
	}
  }
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield{
	width: 100%;
  }
  .textleftformright.acfblock-textandimageblocktwo{
	background-color: #002433;
	position: relative;
	.leftarea{
	  h1,h2,h3,h4,h5,h6{
		font-weight: 700!important;
	  }
	}
	&:before{
	  content: "";
	  background-color: #173945;
	  position: absolute;
	  left: 83px;
	  top: -186px;
	  width: 637px;
	  height: 970px;
	  border-radius: 419px;
	  transform: translate(-43px, 36px) rotate(38deg);
	  @media screen and (max-width: 1450px) {
		border-radius: 300px;
		top: -120px;
		left: 60px;
		width: 337px;
		height: 670px;
	  }
	  @media screen and (max-width: 1024px) {
		border-radius: 120px;
		top: -80px;
		left: 60px;
		width: 200px;
		height: 370px;
	  }
	  @media screen and (max-width: 767px) {
		border-radius: 120px;
		top: -80px;
		left: 60px;
		width: 120px;
		height: 220px;
	  }
	}
	&:after{
	  content: "";
	  position: absolute;
	  width: 350px;
	  position: absolute;
	  top: -105px;
	  right: -445px;
	  height: 1180px;
	  width: 1180px;
	  background-color: #000F18;
	  border-radius: 50%;
	  @media screen and (max-width: 1450px) {
		width: 700px;
		height: 700px;
		right: -300px;
	  }
	  @media screen and (max-width: 1024px) {
		border-radius: 50%;
		top: -80px;
		right: -50px;
		width: 300px;
		height: 300px;
	  }
	  @media screen and (max-width: 767px) {
		top: -40px;
		right: -20px;
		width: 150px;
		height: 150px;
	  }
	}
  }


  @media screen and (max-width: 1230px) {
	.hero-block-three__inner::before {
	  width: 115% !important;
	  height: 115% !important;
	}
  }

}


.containo_pemac.push_if_top{
  @media screen and (min-width:992px) {
	margin-top: 10rem;
  }
  @media screen and (max-width:991px) {
	margin-top: 6rem;
  }

}

.formholder{
  .gform_body{
	opacity: 1;
	transition: 0.5s all ease;
  }
  .gform_body.hideo{
	opacity: 0;
	transition: 0.5s all ease;
  }
}
.textleftformright.acfblock-textandimageblocktwo .leftarea h1, .textleftformright.acfblock-textandimageblocktwo .leftarea h2, .textleftformright.acfblock-textandimageblocktwo .leftarea h3, .textleftformright.acfblock-textandimageblocktwo .leftarea h4, .textleftformright.acfblock-textandimageblocktwo .leftarea h5, .textleftformright.acfblock-textandimageblocktwo .leftarea h6 {
  font-weight: 700!important;
}
.containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=email], .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=tel] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
  margin-top: 21px;
  margin-bottom: 20px;
}
//.ginput_container_checkbox{
//  .gchoice {
//	display: block;
//	margin-bottom: 15px;
//  }
//
//  .gchoice input {
//	padding: 0;
//	height: initial;
//	width: initial;
//	margin-bottom: 0;
//	display: none;
//	cursor: pointer;
//  }
//
//  .gchoice label {
//	position: relative;
//	cursor: pointer;
//	display: flex;
//	align-items: center;
//  }
//
//  .gchoice label:before {
//	content:'';
//	-webkit-appearance: none;
//	background-color: transparent;
//	//padding: 10px;
//	display: inline-block;
//	position: relative;
//	vertical-align: middle;
//	cursor: pointer;
//	margin-right: 8px;
//	width: 10px;
//	height: 10px;
//	border: 1px solid #000;
//	border-radius: 50%;
//	flex: 0 0 10px;
//  }
//  .gchoice input:checked + label:before {
//	background-color: #00ffff;
//  }
//}
.gform_required_legend{
  display: none!important;
}
.gfield_required{
  color: red;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield{
  margin-bottom: 0.75rem;
  width: 100%;
}
.validation_message{
  color: red;
}
.gform_submission_error.hide_summary{
  color: red!important;
}
.gfield_required{
  display: none!important;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_submission_error{
  font-size: 18px!important;
}
.gform_next_button{
  font-size: 16px;
}
@media screen and (max-width: 1024px){
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_page_footer{
	//margin: 0 -20px;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
  }
}
.gform_previous_button{
  background: transparent!important;
  padding: 0!important;
  outline: none!important;
  &:after{
	content: "Back";
  }
}
.gform_page_footer.top_label{
  margin-top: 30px!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gform_next_button{
  font-size: 16px!important;
}
.prev_btn{
  display: flex;
  align-items: center;
  color: #9796A0;
  font-size: 16px;
  position: relative;
  input{
	margin-right: 8px!important;
	position: relative;
	z-index: 100;
	padding-right: 65px !important;
  }
  &:after{
	position: absolute;
	content: "Back";
	right: 25px;
  }
}
.gform_next_button{
  margin-left: auto!important;
}
@media screen and (max-width: 768px){
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder{
	padding: 2rem 1.5rem!important;
  }
}
@media screen and (max-width: 1024px){
  #gform_page_2_1{
	.gform_next_button{
	  width: 100% !important;
	}
  }
}

@media screen and (max-width: 380px){
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_page_footer{
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
  }
  .gform_next_button{
	margin: auto!important;
  }
}
