/********************/
/*** editor stylings *****/
/********************/
.textleftformright {
  padding-bottom: 55px;
  background-color: #002433 !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.textleftformright .formarea .gf_progressbar {
  background-color: rgb(227, 224, 222);
  border-radius: 4px;
}
.textleftformright .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
  margin-top: 21px;
  margin-bottom: 20px;
}
.textleftformright:before {
  content: "";
  background-color: #173945;
  position: absolute;
  left: 83px;
  top: -186px;
  width: 637px;
  height: 970px;
  border-radius: 419px;
  transform: translate(-43px, 36px) rotate(38deg);
}
@media screen and (max-width: 1450px) {
  .textleftformright:before {
    border-radius: 300px;
    top: -120px;
    left: 60px;
    width: 337px;
    height: 670px;
  }
}
@media screen and (max-width: 1024px) {
  .textleftformright:before {
    border-radius: 120px;
    top: -80px;
    left: 60px;
    width: 200px;
    height: 370px;
  }
}
@media screen and (max-width: 767px) {
  .textleftformright:before {
    border-radius: 120px;
    top: -80px;
    left: 60px;
    width: 120px;
    height: 220px;
  }
}
.textleftformright:after {
  content: "";
  position: absolute;
  width: 350px;
  position: absolute;
  top: -105px;
  right: -445px;
  height: 1180px;
  width: 1180px;
  background-color: #000F18;
  border-radius: 50%;
}
@media screen and (max-width: 1450px) {
  .textleftformright:after {
    width: 700px;
    height: 700px;
    right: -300px;
  }
}
@media screen and (max-width: 1024px) {
  .textleftformright:after {
    border-radius: 50%;
    top: -80px;
    right: -50px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .textleftformright:after {
    top: -40px;
    right: -20px;
    width: 150px;
    height: 150px;
  }
}
.textleftformright .gchoice {
  padding-bottom: 13px;
  padding-top: 23px;
  border-bottom: 1px solid rgb(241, 240, 239);
}

.textcolour_brightgreen {
  color: #00ffff;
}

.textcolour_brightgreen_uppercase {
  color: #00ffff;
  text-transform: uppercase;
}

.green_ticks_ul ul {
  margin-left: 0;
  padding-left: 2.5rem;
}

.green_ticks_ul li {
  color: #5cff7a;
  list-style-type: none;
  position: relative;
}

.green_ticks_ul li:before {
  content: "";
  background-image: url("https://i.ibb.co/DgwhDrB/checkmark-bullet.png");
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: -2.25rem;
  top: 0.25rem;
}

.green_ticks_ul li {
  margin-bottom: 1rem;
}

.green_ticks_ul li ul {
  margin-left: 0;
  padding-left: 0;
}

.green_ticks_ul li ul li {
  color: #fff;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: unset;
  font-size: calc(0.8rem + 0.1vw);
}

.green_ticks_ul li ul li:before {
  display: none;
}

.slim_editor_image_fullwidth img {
  border-radius: 1rem;
  width: 100%;
}

.slim_editor_image_maxheight img {
  border-radius: 1rem;
  max-height: 20rem;
}

/********************/
/*** editor stylings *****/
/********************/
.acfblock-textandimageblocktwo {
  background-color: #000e14;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}
.acfblock-textandimageblocktwo .background_a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.3;
}
.acfblock-textandimageblocktwo .background_a.center_left {
  background-size: 55%;
  background-position: center left;
}
.acfblock-textandimageblocktwo .background_a.top_left {
  background-size: 60vw;
  background-position: -5vw -10vw;
}
.acfblock-textandimageblocktwo .background_b {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
}
.acfblock-textandimageblocktwo .background_b.center_left {
  background-size: 55%;
  background-position: center left;
}
.acfblock-textandimageblocktwo .background_b.top_right {
  background-size: 55%;
  background-position: 120% 150%;
}
.acfblock-textandimageblocktwo .background_b.right_side_circle {
  background-size: 80vw;
  background-position: 60vw;
}
.acfblock-textandimageblocktwo .containo_pemac {
  height: 100%;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  padding: 6rem 0;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder {
  display: flex;
  align-items: center;
  height: 100%;
  /********************/
  /*** ********** *****/
  /********************/
  /********************/
  /*** ********** *****/
  /********************/
}
@media screen and (min-width: 992px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder {
    flex-direction: row;
  }
}
@media screen and (max-width: 991px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder {
    flex-direction: column;
  }
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
    width: 50%;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
    width: 90%;
  }
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
  font-size: calc(2.5rem + 0.1vw);
  font-weight: 600;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h1, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h2, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h3, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h4, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h5 {
  color: #fff;
  font-weight: 500;
  line-height: 1.15em;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h2 {
  font-size: 40px;
  font-size: calc(2.5rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h3 {
  font-size: 24px;
  font-size: calc(1.6rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h4 {
  font-size: 18px;
  font-size: calc(1.25rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h5 {
  font-size: 20px;
  font-size: calc(1.15rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
  color: #fff;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento p {
  line-height: 1.75rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
  position: relative;
  z-index: 6;
}
@media screen and (min-width: 992px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
    max-width: 40rem;
  }
}
@media screen and (min-width: 992px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea {
    width: 50%;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea {
    width: 90%;
  }
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper {
  width: 100%;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gf_list_2col {
  width: 50%;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_submission_error {
  font-size: calc(1.25rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield {
  margin-bottom: 0.75rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=text], .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=email], .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=tel] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
  margin-bottom: 0.2rem;
  color: #002433;
  font-weight: 700;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_title {
  display: none;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform-theme-button, .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_button.button {
  background: #00ffff;
  padding: 0.15rem 1.75rem;
  border: none;
  border-radius: 1rem;
  height: unset;
  color: #444;
  font-size: calc(0.8rem + 0.1vw);
  font-family: "Nunito", sans-serif;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_page_footer {
  margin-top: 2rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_previous_button {
  margin-right: 2rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield_select {
  border: 1px solid #dbdbdb;
  width: calc(100% - 1rem);
  padding: 0.5rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper input[type=radio] {
  accent-color: #00ffff;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_confirmation_message h3 {
  font-size: calc(1.5rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gf_progressbar_wrapper {
  margin-bottom: 1.5rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_confirmation_wrapper {
  text-align: center;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_confirmation_wrapper img {
  margin: 0 auto;
  margin-bottom: 1rem;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_confirmation_wrapper h3 {
  font-size: calc(1.5rem + 0.1vw);
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gf_progressbar_title {
  display: none;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper.gravity-theme .gf_progressbar_percentage {
  height: 8px;
  border-radius: 8px;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper.gravity-theme .gf_progressbar_percentage span {
  display: none;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder.align_top {
  align-items: flex-start;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder.align_top .leftarea {
  justify-content: flex-start;
}
.acfblock-textandimageblocktwo .containo_pemac .flexholder.align_center {
  align-items: center;
}

@media screen and (min-width: 992px) {
  .containo_pemac.push_if_top {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 991px) {
  .containo_pemac.push_if_top {
    margin-top: 6rem;
  }
}

.formholder .gform_body {
  opacity: 1;
  transition: 0.5s all ease;
}
.formholder .gform_body.hideo {
  opacity: 0;
  transition: 0.5s all ease;
}
.formholder .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield {
  width: 100%;
}
.formholder .textleftformright .formarea .gf_progressbar {
  background-color: #E3E0DE;
  border-radius: 4px;
}
.formholder .textleftformright .gchoice {
  padding-bottom: 13px;
  border-bottom: 1px solid #F1F0EF;
  padding-top: 23px;
}
.formholder .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
  margin-top: 21px;
  margin-bottom: 20px;
}
.formholder .top_label legend {
  font-size: 26px;
}
.formholder .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield {
  width: 100%;
}
.formholder .textleftformright.acfblock-textandimageblocktwo {
  background-color: #002433;
  position: relative;
}
.formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h1, .formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h2, .formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h3, .formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h4, .formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h5, .formholder .textleftformright.acfblock-textandimageblocktwo .leftarea h6 {
  font-weight: 700 !important;
}
.formholder .textleftformright.acfblock-textandimageblocktwo:before {
  content: "";
  background-color: #173945;
  position: absolute;
  left: 83px;
  top: -186px;
  width: 637px;
  height: 970px;
  border-radius: 419px;
  transform: translate(-43px, 36px) rotate(38deg);
}
@media screen and (max-width: 1450px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:before {
    border-radius: 300px;
    top: -120px;
    left: 60px;
    width: 337px;
    height: 670px;
  }
}
@media screen and (max-width: 1024px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:before {
    border-radius: 120px;
    top: -80px;
    left: 60px;
    width: 200px;
    height: 370px;
  }
}
@media screen and (max-width: 767px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:before {
    border-radius: 120px;
    top: -80px;
    left: 60px;
    width: 120px;
    height: 220px;
  }
}
.formholder .textleftformright.acfblock-textandimageblocktwo:after {
  content: "";
  position: absolute;
  width: 350px;
  position: absolute;
  top: -105px;
  right: -445px;
  height: 1180px;
  width: 1180px;
  background-color: #000F18;
  border-radius: 50%;
}
@media screen and (max-width: 1450px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:after {
    width: 700px;
    height: 700px;
    right: -300px;
  }
}
@media screen and (max-width: 1024px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:after {
    border-radius: 50%;
    top: -80px;
    right: -50px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .formholder .textleftformright.acfblock-textandimageblocktwo:after {
    top: -40px;
    right: -20px;
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 1230px) {
  .formholder .hero-block-three__inner::before {
    width: 115% !important;
    height: 115% !important;
  }
}

@media screen and (min-width: 992px) {
  .containo_pemac.push_if_top {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 991px) {
  .containo_pemac.push_if_top {
    margin-top: 6rem;
  }
}

.formholder .gform_body {
  opacity: 1;
  transition: 0.5s all ease;
}
.formholder .gform_body.hideo {
  opacity: 0;
  transition: 0.5s all ease;
}

.textleftformright.acfblock-textandimageblocktwo .leftarea h1, .textleftformright.acfblock-textandimageblocktwo .leftarea h2, .textleftformright.acfblock-textandimageblocktwo .leftarea h3, .textleftformright.acfblock-textandimageblocktwo .leftarea h4, .textleftformright.acfblock-textandimageblocktwo .leftarea h5, .textleftformright.acfblock-textandimageblocktwo .leftarea h6 {
  font-weight: 700 !important;
}

.containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=email], .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield input[type=tel] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}

.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield .gfield_label.gform-field-label {
  margin-top: 21px;
  margin-bottom: 20px;
}

.gform_required_legend {
  display: none !important;
}

.gfield_required {
  color: red;
}

.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gfield {
  margin-bottom: 0.75rem;
  width: 100%;
}

.validation_message {
  color: red;
}

.gform_submission_error.hide_summary {
  color: red !important;
}

.gfield_required {
  display: none !important;
}

.acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_submission_error {
  font-size: 18px !important;
}

.gform_next_button {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_page_footer {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.gform_previous_button {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}
.gform_previous_button:after {
  content: "Back";
}

.gform_page_footer.top_label {
  margin-top: 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gform_next_button {
  font-size: 16px !important;
}

.prev_btn {
  display: flex;
  align-items: center;
  color: #9796A0;
  font-size: 16px;
  position: relative;
}
.prev_btn input {
  margin-right: 8px !important;
  position: relative;
  z-index: 100;
  padding-right: 65px !important;
}
.prev_btn:after {
  position: absolute;
  content: "Back";
  right: 25px;
}

.gform_next_button {
  margin-left: auto !important;
}

@media screen and (max-width: 768px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder {
    padding: 2rem 1.5rem !important;
  }
}
@media screen and (max-width: 1024px) {
  #gform_page_2_1 .gform_next_button {
    width: 100% !important;
  }
}
@media screen and (max-width: 380px) {
  .acfblock-textandimageblocktwo .containo_pemac .flexholder .formarea .formholder .gform_wrapper .gform_page_footer {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .gform_next_button {
    margin: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
