@import "mixins.scss";

.hero-block-three {
  background-color: #002433;
  position: relative;
  min-height: 550px;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
	min-height: 893px;
  }
  h4 {
	margin-bottom: -15px;
  }
  &:before {
	content: "";
	top: 0;
	left: 0;
	background-color: rgba(0, 36, 51, 0.25);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 11;
  }

  &__inner {
	position: relative;
	z-index: 15;
	@include screen(1024) {
		padding: 75px 0px 0;
	}
	@include screen(1366) {
		padding: 175px 0px 0;
		min-height: 550px;
	}
	@include screen(1920) {
		padding: 190px 15px 0;
	}

	&:before {
	  content: "";
	  position: absolute;
	  background-image: url("./../../assets/images/subtraction.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	  width: 100%;
	  height: 100%;
	  left: -106px;
	  top: 0;
	  z-index: -1;
	  @media screen and (max-width: 1024px){
		content: none;
	  }
	}
	p{
		line-height: 1.5;
	  @media screen and (min-width: 1024px) {
		max-width: 635px;
	  }
	}
  }

  &__image {
	position: absolute;
	width: 1090px;
	height: 100%;
	right: 0;
	top: 0;
	@media screen and (max-width: 1024px) {
	  height: 550px;
	  top: auto;
	  bottom: 0;
	  transform: translateX(50%);
	  right: 50%;
	  z-index: 11;
	}

	img {
	  border-top-left-radius: 1000px;
	  border-top-right-radius: 1000px;
	  width: 100%;
	  height: 100%;
	}

	&:before {
	  content: "";
	  right: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  //background-color: rgba(0, 36, 51, 0.5);
	  position: absolute;
	  z-index: 12;
	  background-image: url("./../../assets/images/overlay_hero-min.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  opacity: 1;
	  mix-blend-mode: saturation;
	  @media screen and (max-width: 1024px) {
		background-image: none;
		background: transparent linear-gradient(180deg, #002433 0%, #002433 100%) 0% 0% no-repeat padding-box;
		mix-blend-mode: multiply;
		opacity: 1;
		border-top-left-radius: 1000px;
		border-top-right-radius: 1000px;
	  }
	}

	&:after {
	  content: "";
	  right: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #002433;
	  position: absolute;
	  z-index: 9;
	}
  }

  // &__wrapper{
	// @media screen and (max-width: 1024px) {
	//   position: relative;
	//   min-height: 893px;
	//   &:after{
	// 	content: "";
	// 	position: absolute;
	// 	width: 597px;
	// 	height: 596px;
	// 	left: -274px;
	// 	top: 113px;
	// 	border-radius: 50%;
	// 	transform: rotate(0deg);
	// 	background-image: none;
	// 	background-color: #183946;
	// 	z-index: 1;
	//   }
	// }
  // }
  .acf-innerblocks-container {
	@include screen(1024) {
		max-width: 80%;
	}
	@include screen(1366) {
		max-width: 70%;
	}
	@include screen(1536) {
		max-width: 65%;
	}

  }
}



.leftbean{


				 @media screen and (min-width:1024px) {
	             	top: -15rem;
	             		transform: rotate(45deg);
	background: #33bec3;
	height: 30vw;
	width: 15vw;
	background: #33bec3;
	left: -5rem;
	border-radius: 15vw;
	position: absolute;
	opacity: 0.1;
	             }
	             @media screen and (max-width:1023px) {
	               	top: -25rem;
	               	transform: rotate(38deg);
    height: 40rem;
    width: 20rem;
    background: #ffffff;
    left: -5rem;
    border-radius: 10rem;
    position: absolute;
    opacity: .15;
	             }

}

.hero-block-three.alternative_layouts{


.hero-block-three__inner{
				 @media screen and (min-width:1024px) {
	                	padding-bottom: 3rem;
	             }
	             @media screen and (max-width:1023px) {
	                	padding-bottom: 3rem;
	                		padding-top: 3rem;
	             }

}

.hero-block-three__inner:before{
	opacity: 0 !important;
}

	.hero-block-three__image{

		.thunderlay{
			position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.3;
		}
							&:before{

			 @media screen and (min-width:1024px) {
				height: 150%;
				max-width: 60vw;
				right: 0;
				top: -25%;
				position: absolute;
				border-top-left-radius: 10vh;
				border-bottom-left-radius: 300vh;
				background: #00141d;
					  mix-blend-mode: unset;
             }
             @media screen and (max-width:1023px) {
                display: none;
             }

					}
					&:after{
display: none;
					}
		figure.altbackimage{
                				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 150%;
								z-index: 12;
				opacity: 0.8;
								position: absolute;
			 @media screen and (min-width:1024px) {
				max-width: 50vw;
				right: 0;
				top: -25%;
				border-top-left-radius: 100vh;
				border-bottom-left-radius: 100vh;
             }
             @media screen and (max-width:1023px) {

				max-height: 80vw;
				max-width: 90%;
				left: 0;
				bottom: -25%;
				border-top-right-radius: 100vh;
				border-bottom-right-radius: 100vh;

             }

		@media screen and (min-width:992px) and (max-width: 1023px) {
				max-height: 115vw;
								bottom: -35%;
												border-top-right-radius: 100vh;
				border-bottom-right-radius: 20vh;
		}
		@media screen and (min-width:768px) and (max-width: 991px) {
				max-height: 115vw;
								bottom: -35%;
												border-top-right-radius: 100vh;
				border-bottom-right-radius: 20vh;
		}
		@media screen and (max-width:767px) {
				max-height: 115vw;
								bottom: -35%;
												border-top-right-radius: 100vh;
				border-bottom-right-radius: 20vh;

		}
		@media screen and (min-width:351px) and (max-width:440px) {
				max-height: 115vw;
								bottom: -35%;
												border-top-right-radius: 100vh;
				border-bottom-right-radius: 20vh;
		}
		@media screen and (max-width:350px) {
				max-height: 115vw;
								bottom: -35%;
												border-top-right-radius: 100vh;
				border-bottom-right-radius: 20vh;
		}
				img{
					opacity: 0;
				}
		}
	}
}

.hero-block-three.alternative_layouts.is_top_of_page:nth-child(1){
			 @media screen and (min-width:1024px) {
               padding-top: 5rem;

             }
             @media screen and (max-width:1023px) {
                 padding-bottom: 3rem;
    padding-top: 3rem;
             }

}
@media screen and (max-width: 1024px){
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage{
	bottom: 0!important;
  }
  .hero-block-three__image{
	width: 100%;
  }
}
