.hero-block-three {
  background-color: #002433;
  position: relative;
  min-height: 550px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hero-block-three {
    min-height: 893px;
  }
}
.hero-block-three h4 {
  margin-bottom: -15px;
}
.hero-block-three:before {
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 36, 51, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
}
.hero-block-three__inner {
  position: relative;
  z-index: 15;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three__inner {
    padding: 75px 0px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-three__inner {
    padding: 175px 0px 0;
    min-height: 550px;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-block-three__inner {
    padding: 190px 15px 0;
  }
}
.hero-block-three__inner:before {
  content: "";
  position: absolute;
  background-image: url("./../../assets/images/subtraction.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: -106px;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__inner:before {
    content: none;
  }
}
.hero-block-three__inner p {
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .hero-block-three__inner p {
    max-width: 635px;
  }
}
.hero-block-three__image {
  position: absolute;
  width: 1090px;
  height: 100%;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__image {
    height: 550px;
    top: auto;
    bottom: 0;
    transform: translateX(50%);
    right: 50%;
    z-index: 11;
  }
}
.hero-block-three__image img {
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  width: 100%;
  height: 100%;
}
.hero-block-three__image:before {
  content: "";
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  background-image: url("./../../assets/images/overlay_hero-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  mix-blend-mode: saturation;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__image:before {
    background-image: none;
    background: transparent linear-gradient(180deg, #002433 0%, #002433 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
  }
}
.hero-block-three__image:after {
  content: "";
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #002433;
  position: absolute;
  z-index: 9;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1536px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .leftbean {
    top: -15rem;
    transform: rotate(45deg);
    background: #33bec3;
    height: 30vw;
    width: 15vw;
    background: #33bec3;
    left: -5rem;
    border-radius: 15vw;
    position: absolute;
    opacity: 0.1;
  }
}
@media screen and (max-width: 1023px) {
  .leftbean {
    top: -25rem;
    transform: rotate(38deg);
    height: 40rem;
    width: 20rem;
    background: #ffffff;
    left: -5rem;
    border-radius: 10rem;
    position: absolute;
    opacity: 0.15;
  }
}

@media screen and (min-width: 1024px) {
  .hero-block-three.alternative_layouts .hero-block-three__inner {
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .hero-block-three.alternative_layouts .hero-block-three__inner {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.hero-block-three.alternative_layouts .hero-block-three__inner:before {
  opacity: 0 !important;
}
.hero-block-three.alternative_layouts .hero-block-three__image .thunderlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}
@media screen and (min-width: 1024px) {
  .hero-block-three.alternative_layouts .hero-block-three__image:before {
    height: 150%;
    max-width: 60vw;
    right: 0;
    top: -25%;
    position: absolute;
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 300vh;
    background: #00141d;
    mix-blend-mode: unset;
  }
}
@media screen and (max-width: 1023px) {
  .hero-block-three.alternative_layouts .hero-block-three__image:before {
    display: none;
  }
}
.hero-block-three.alternative_layouts .hero-block-three__image:after {
  display: none;
}
.hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150%;
  z-index: 12;
  opacity: 0.8;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-width: 50vw;
    right: 0;
    top: -25%;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
  }
}
@media screen and (max-width: 1023px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 80vw;
    max-width: 90%;
    left: 0;
    bottom: -25%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 115vw;
    bottom: -35%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 20vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 115vw;
    bottom: -35%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 20vh;
  }
}
@media screen and (max-width: 767px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 115vw;
    bottom: -35%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 20vh;
  }
}
@media screen and (min-width: 351px) and (max-width: 440px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 115vw;
    bottom: -35%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 20vh;
  }
}
@media screen and (max-width: 350px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    max-height: 115vw;
    bottom: -35%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 20vh;
  }
}
.hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage img {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .hero-block-three.alternative_layouts.is_top_of_page:nth-child(1) {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 1023px) {
  .hero-block-three.alternative_layouts.is_top_of_page:nth-child(1) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    bottom: 0 !important;
  }
  .hero-block-three__image {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
