@forward "theme/_reset-editor.scss";
@forward "theme/_structure.scss";
@forward "theme/_typography.scss";
@forward "theme/_buttons.scss";

.block-editor-default-block-appender .block-editor-inserter {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 10px;
    border: 5px dotted #d50032;
    width: calc(100% - 30px);
    button {
        transition:all 0.3s ease-out;
        margin:auto !important;
        background: #d50032 !important;
        border: 1px solid #d50032 !important;
        svg {
            transition:all 0.3s ease-out;
            color: white;
        }
        &:hover {
            background: white!important;
            svg {
                color: #d50032
            }
        }
    }
}

.block-editor-block-list__block .block-list-appender {
    position:relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
    height:54px !important;
}

block-preview .acf-block-body {
    margin: 50px 0 !important;
}

block-preview {
    section {
        padding: 50px 0 !important;
    }
    p,
    li {
        margin: 0.5em !important;
        line-height: 1.2 !important;
    }
}