.faq-item + .faq-item {
  margin-top: 14px;
}
.faq-block{
  padding-top: 150px;
  padding-bottom: 100px;
  @media screen and (max-width: 1024px) {
	padding-top: 70px;
	padding-bottom: 30px;
  }
  .container{
	max-width: 1315px;
  }
}
.faq-item {
  border-radius: 11px;
  background-color: rgba(227, 224, 222, 0.2);
  border: 4px solid #E3E0DE;
  &__content {
	max-height: 0;
	overflow: hidden;
	transition: all .3s;
	padding-left: 35px !important;
	max-width: 550px;
  }
  &__label {
	position: relative;
	padding-right: 104px;
	font-size: 20px;
	padding-left: 33px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	line-height: 1.1;
	@media screen and (max-width: 1024px) {
	  font-size: 18px;
	  padding: 17px 91px 18px 19px;
	}

	&.active {
	  .circle {
		background-color: #9796A0;
		//top: 50px;
		transition: all .3s;
	  }
	}

	.circle {
	  right: 30px;
	  width: 41px;
	  height: 41px;

	  &:after {
		height: 20px;
	  }

	  &:before {
		width: 20px;
	  }
	}
  }
  .accordion.active + div {
	padding-left: 35px !important;
	margin-bottom: 30px;
	@media screen and (max-width: 1024px){
	  padding-left: 17px!important;
	  padding-right: 17px!important;
	}
  }
  &__text{
	margin-bottom: 20px;
  }
}

.faq-block {
  &__inner {
	display: flex;
	margin: 0 -15px;
	justify-content: space-between;
	@media screen and (max-width: 1400px) {
	  margin: 0;
	}
	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	}
	&.navy{
	  h2,h1,h3,h4,h5,h6,p{
		color: white;
	  }
	  .main-link{
		a{
		  color: white;
		  &:before{
			background-image: url("./../../assets/images/chevron-right_light.svg");
		  }
		}
	  }
	}
	&.white{
	  .faq-item{
		border: 4px solid #fff;
	  }
	}
  }
  &__content {
	padding: 0 15px;
	max-width: 600px;
	margin-bottom: 30px;
	@media screen and (max-width: 1024px) {
	  max-width: 100%;
	  padding: 0;
	}
  }

  &__accordion {
	margin-top: 30px;
	padding: 0 15px;
	max-width: 660px;
	p{
	  line-height: 1.5;
	}
	@media screen and (max-width: 1024px) {
	  max-width: 100%;
	  padding: 0;
	}
  }
}
