.faq-item + .faq-item {
  margin-top: 14px;
}

.faq-block {
  padding-top: 150px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  .faq-block {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}
.faq-block .container {
  max-width: 1315px;
}

.faq-item {
  border-radius: 11px;
  background-color: rgba(227, 224, 222, 0.2);
  border: 4px solid #E3E0DE;
}
.faq-item__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  padding-left: 35px !important;
  max-width: 550px;
}
.faq-item__label {
  position: relative;
  padding-right: 104px;
  font-size: 20px;
  padding-left: 33px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  line-height: 1.1;
}
@media screen and (max-width: 1024px) {
  .faq-item__label {
    font-size: 18px;
    padding: 17px 91px 18px 19px;
  }
}
.faq-item__label.active .circle {
  background-color: #9796A0;
  transition: all 0.3s;
}
.faq-item__label .circle {
  right: 30px;
  width: 41px;
  height: 41px;
}
.faq-item__label .circle:after {
  height: 20px;
}
.faq-item__label .circle:before {
  width: 20px;
}
.faq-item .accordion.active + div {
  padding-left: 35px !important;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .faq-item .accordion.active + div {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
}
.faq-item__text {
  margin-bottom: 20px;
}

.faq-block__inner {
  display: flex;
  margin: 0 -15px;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .faq-block__inner {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .faq-block__inner {
    flex-direction: column;
  }
}
.faq-block__inner.navy h2, .faq-block__inner.navy h1, .faq-block__inner.navy h3, .faq-block__inner.navy h4, .faq-block__inner.navy h5, .faq-block__inner.navy h6, .faq-block__inner.navy p {
  color: white;
}
.faq-block__inner.navy .main-link a {
  color: white;
}
.faq-block__inner.navy .main-link a:before {
  background-image: url("./../../assets/images/chevron-right_light.svg");
}
.faq-block__inner.white .faq-item {
  border: 4px solid #fff;
}
.faq-block__content {
  padding: 0 15px;
  max-width: 600px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .faq-block__content {
    max-width: 100%;
    padding: 0;
  }
}
.faq-block__accordion {
  margin-top: 30px;
  padding: 0 15px;
  max-width: 660px;
}
.faq-block__accordion p {
  line-height: 1.5;
}
@media screen and (max-width: 1024px) {
  .faq-block__accordion {
    max-width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
