.case-item__arrow {
  margin-top: auto;
}
.case-item__link-container {
  margin-top: auto;
  display: flex;
}
.case-item__link-container .case-item__arrow {
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .case-item__link-container .case-item__arrow {
    margin-left: unset;
  }
}
@media screen and (max-width: 1024px) {
  .case-item__link-container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .case-item__link-container {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
