.case-item {
  &__arrow {
	margin-top: auto;
  }

  &__link-container {
	margin-top: auto;
	display: flex;

	.case-item__arrow {
	  margin-left: auto;
	  @media screen and (max-width: 1024px) {
		margin-left: unset;
	  }
	}

	@media screen and (max-width: 1024px) {
	  justify-content: flex-start;
	}
	@media screen and (max-width: 768px) {
	  justify-content: center;
	}
  }
}
