{% extends "block-base.twig" %}

{% block content %}
<section class="case-study {{blockClasses(block)}}" {{blockSection(block)}}>
	<div class="case-item__arrow main-link">
		<a class="" href="{{fields.content.link.url}}" target="{{fields.content.link.target}}">{{fields.content.link.title}}</a>
	</div>
</section>
{% endblock %}
