.features-list {
  position: relative;
}
.features-list .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.features-list .background img {
  width: 100%;
  height: 100%;
}
.features-list h2 {
  font-weight: 700;
  color: #FFFFFF;
}
.features-list h4 {
  font-weight: 700;
  color: #00FFFF;
  margin-bottom: -5px;
}
.features-list p {
  color: #FFFFFF;
}
.features-list .dsp-c-r,
.features-list .dsp-c-c {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.features-list .dsp-c-c {
  flex-direction: column;
}
.features-list .container {
  max-width: 1193px;
  margin: 0 auto;
  padding: 77px 0 70px 0;
  gap: 33px;
}
@media only screen and (max-width: 1234px) {
  .features-list .container {
    padding: 77px 21px 70px 20px;
  }
}
@media only screen and (max-width: 764px) {
  .features-list .container {
    padding: 44px 21px 44px 20px;
    gap: 25px;
  }
}
@media only screen and (max-width: 414px) {
  .features-list .container {
    padding: 10.62vw 5.07vw 10.62vw 4.83vw;
    gap: 6vw;
  }
}
.features-list .container .headline {
  max-width: 864px;
  margin: 10px auto;
}
.features-list .container .cards {
  max-width: 1193px;
  flex-wrap: wrap;
  row-gap: 37px;
  column-gap: 37px;
}
@media only screen and (max-width: 764px) {
  .features-list .container .cards {
    gap: 17px;
  }
}
@media only screen and (max-width: 414px) {
  .features-list .container .cards {
    gap: 4.1vw;
  }
}
.features-list .container .cards .card {
  align-items: flex-start;
  width: 31%;
  border: 1px solid #00FFFF;
  border-radius: 37px;
  padding: 23px 35px;
  background: rgba(0, 36, 51, 0.6745098039);
  mix-blend-mode: normal;
}
@media only screen and (max-width: 1193px) {
  .features-list .container .cards .card {
    width: 45%;
  }
}
@media only screen and (max-width: 764px) {
  .features-list .container .cards .card {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .features-list .container .cards .card {
    border-radius: 8.93vw;
    padding: 5.8vw 8.93vw;
  }
}

/*# sourceMappingURL=style.css.map */
