@import "mixins.scss";

.features-list {
  position: relative;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    font-weight: 700;
    color: #FFFFFF;
  }
  h4 {
    font-weight: 700;
    color: #00FFFF;
    margin-bottom: -5px;
  }
  p {
    color: #FFFFFF;
  }
  .dsp-c-r, 
  .dsp-c-c {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .container {
    max-width: 1193px;
    margin: 0 auto;
    padding: 77px 0 70px 0;
    gap: 33px;
    @include screen (0, 1234) {
      padding: 77px 21px 70px 20px;
    }
    @include screen (0, 764) {
      padding: 44px 21px 44px 20px;
      gap: 25px;
    }
    @include screen (0, 414) {
      padding: 10.62vw 5.07vw 10.62vw 4.83vw;
      gap:6vw;
    }
    .headline {
      max-width: 864px;
      margin: 10px auto;
    }
    .cards {
      max-width: 1193px;
      flex-wrap: wrap;
      row-gap: 37px;   
      column-gap: 37px;
      @include screen (0, 764) {
        gap: 17px;
      }
      @include screen (0, 414) {
        gap: 4.1vw;
      }
      .card {
        align-items: flex-start;
        width: 31%;
        border: 1px solid #00FFFF;
        border-radius: 37px;
        padding: 23px 35px;
        background: #002433AC;
        mix-blend-mode:normal;
        @include screen (0, 1193) {
          width: 45%;
        }
        @include screen (0, 764) {
          width: 100%;
        }
        @include screen (0, 414) {
          border-radius: 8.93vw;
          padding: 5.8vw 8.93vw;
        }
      }
    }
  }
}
