{% extends "block-base.twig" %}

{% block content %}
	<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
		<div class="background">
			<img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/features-list/background.png" alt="background">
		</div>
		<div class="background_mobile">
			<img src="https://pemac-staging.imsmarketing.ie/wp-content/uploads/2023/09/Mobile-background-blue-block.svg" alt="">
		</div>
		<div class="container dsp-c-c">
			<div class="headline dsp-c-c">
				<InnerBlocks/>
			</div>
			<div class="cards dsp-c-r">
				{% for box in fields.content.boxes %}
					<div class="card dsp-c-c">
						{{box.content}}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<style>
			.wp-core-ui .features-list .background{
			z-index: 0!important;
		}
		.background_mobile{
			display: none;
		}
		@media screen and (max-width: 688px){
			.background_mobile{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 50;
			}
			.background_mobile img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			.features-list .dsp-c-c{
				position: relative;
				z-index: 51;
			}
		}
	</style>
{% endblock %}
