.case-study {
  padding: 25px 0;
  @media screen and (min-width: 1024px){
	margin-top: 35px;
  }
  &__top{
	text-align: center;
	margin-bottom: 50px;
	@media screen and (max-width: 1024px){
	  margin-bottom: 20px;
	}
  }

  .container {
	max-width: 1280px;
  }

  &__item {
	border-radius: 36px;
	overflow: hidden;
	@media screen and (max-width: 768px) {
	  border-radius: 30px;
	}
  }

  &__bottom {
	overflow: hidden !important;
  }

  .swiper-pagination {
	top: auto !important;
	bottom: 44px !important;
	text-align: left;
	left: 72px !important;
	width: fit-content !important;

	.swiper-pagination-bullet {
	  width: 23px;
	  height: 23px;
	  border: 1px solid #002433;
	  background-color: transparent;
	  @media screen and (max-width: 1024px) {
		width: 17px;
		height: 17px;
	  }

	  &.swiper-pagination-bullet-active {
		border: 2px solid #002433;
		background-color: #00FFFF;
	  }
	}

	@media screen and (max-width: 1024px) {
	  left: 95px !important;
	  bottom: 10px !important;
	}
	@media screen and (max-width: 768px) {
	  bottom: 115px !important;
	  left: 50% !important;
	  transform: translateX(-50%);
	}
  }
}

.case-study__item.swiper-slide {
  opacity: 0 !important;

  &.swiper-slide-active {
	opacity: 1 !important;
  }
}
.case-item__content_link{
  text-decoration: none;
}
.case-item {
  transition: all .3s;
  &:hover{
	transition: all .3s;
	.case-item__image img{
	  transform: scale(1.1);
	}
	.case-item__title{
	  text-decoration: underline;
	}
  }
  display: flex;
  background-color: rgba(227, 224, 222, 0.3);
  @media screen and (max-width: 768px) {
	flex-direction: column-reverse;
  }

  p {
	margin-bottom: 50px;
  }

  &__content {
	flex: 0 0 51%;

	&_inner {
	  padding-left: 74px;
	  padding-top: 95px;
	  padding-bottom: 50px;
	  padding-right: 158px;
	  display: flex;
	  flex-direction: column;
	  height: 100%;
	  @media screen and (max-width: 1200px) {
		padding-right: 50px;
	  }
	  @media screen and (max-width: 768px) {
		padding-top: 23px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 52px;
		text-align: center;
	  }
	}
  }

  &__title {
	margin-bottom: 16px;
	color: #002433;
  }

  &__image {
	overflow: hidden;
	transition: all .3s;
	flex: 0 1 49%;
	//height: 520px;
	@media screen and (max-width: 768px) {
	  height: 292px;
	}

	img {
	  width: 100%;
	  transition: all .3s;
	  height: 100%;
	  object-position: center;
	  object-fit: cover;
	  @media screen and (max-width: 768px) {
		height: 292px;
	  }
	}
  }
  &__arrow {
	margin-top: auto;
  }

  &__link-container {
	margin-top: auto;
	display: flex;

	.case-item__arrow {
	  margin-left: auto;
	  @media screen and (max-width: 1024px) {
		margin-left: unset;
	  }
	  //@media screen and (max-width: 768px) {
	  //margin-left: unset;
	  //}
	}

	@media screen and (max-width: 1024px) {
	  justify-content: flex-start;
	}
	@media screen and (max-width: 768px) {
	  justify-content: center;
	}
  }

  p {
	@media screen and (max-width: 768px) {
	  margin-bottom: 95px;
	}
  }
}



