.acfblock-textandimageblocktwo {
  background-color: #000e14;
  height: 90vh;
  min-height: 500px;
  max-height: 60rem;
  border-bottom-right-radius: 10rem;
  position: relative;
  overflow: hidden; }
  .acfblock-textandimageblocktwo .background_a {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.9; }
  .acfblock-textandimageblocktwo .background_b {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.3; }
  .acfblock-textandimageblocktwo .containo_pemac {
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    max-width: 1366px; }
    .acfblock-textandimageblocktwo .containo_pemac .flexholder {
      display: flex;
      align-items: center;
      height: 100%; }
      @media screen and (min-width: 992px) {
        .acfblock-textandimageblocktwo .containo_pemac .flexholder {
          flex-direction: row; } }
      @media screen and (max-width: 991px) {
        .acfblock-textandimageblocktwo .containo_pemac .flexholder {
          flex-direction: column; } }
      .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        @media screen and (min-width: 992px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
            width: 50%; } }
        @media screen and (max-width: 991px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea {
            width: 90%; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
          font-weight: 600;
          margin-bottom: 0.25rem; }
          @media screen and (min-width: 2560px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(3.25rem + 0.1vw); } }
          @media screen and (min-width: 1920px) and (max-width: 2559px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(3.25rem + 0.1vw); } }
          @media screen and (min-width: 1681px) and (max-width: 1919px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(3.25rem + 0.1vw); } }
          @media screen and (min-width: 1441px) and (max-width: 1680px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(3.25rem + 0.1vw); } }
          @media screen and (min-width: 1366px) and (max-width: 1440px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(3rem + 0.1vw); } }
          @media screen and (min-width: 1024px) and (max-width: 1365px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
          @media screen and (min-width: 992px) and (max-width: 1023px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
          @media screen and (min-width: 441px) and (max-width: 767px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
          @media screen and (min-width: 351px) and (max-width: 440px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
          @media screen and (max-width: 350px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext {
              font-size: calc(2.75rem + 0.1vw); } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h1, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h2, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h3, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h4, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea h5 {
          color: #fff;
          font-weight: 500;
          line-height: 1.15em; }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
          color: #fff; }
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento p {
            line-height: 2.5rem;
            font-size: calc(1.75rem + 0.1vw);
            max-width: 33rem; }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
          position: relative;
          z-index: 6; }
          @media screen and (min-width: 992px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .titletext, .acfblock-textandimageblocktwo .containo_pemac .flexholder .leftarea .contento {
              max-width: 40rem; } }
      .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
        height: 100%;
        position: relative;
        z-index: 9; }
        @media screen and (min-width: 992px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            width: 50%; } }
        @media screen and (max-width: 991px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            width: 100%; } }
        @media screen and (min-width: 2560px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 1920px) and (max-width: 2559px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 1681px) and (max-width: 1919px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 1441px) and (max-width: 1680px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 1366px) and (max-width: 1440px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(0.9); } }
        @media screen and (min-width: 1024px) and (max-width: 1365px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(0.9); } }
        @media screen and (min-width: 992px) and (max-width: 1023px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(0.9); } }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 441px) and (max-width: 767px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (min-width: 351px) and (max-width: 440px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        @media screen and (max-width: 350px) {
          .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea {
            transform: scale(1); } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_1 {
          position: absolute;
          height: 20rem;
          width: 30rem; }
          @media screen and (min-width: 992px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_1 {
              height: 42vw;
              width: 60vw;
              max-height: 20rem;
              max-width: 30rem;
              left: 0%;
              top: 33%; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_1 {
              height: 42vw;
              width: 60vw;
              max-height: 25rem;
              max-width: 35rem;
              left: 15%;
              top: 5%; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_2 {
          position: absolute; }
          @media screen and (min-width: 992px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_2 {
              height: 22vw;
              width: 30vw;
              max-height: 22rem;
              max-width: 30rem;
              top: 25%;
              left: 10%; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_2 {
              height: 42vw;
              width: 60vw;
              max-height: 25rem;
              max-width: 35rem;
              top: 5%;
              left: 15%; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_3 {
          position: absolute; }
          @media screen and (min-width: 992px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_3 {
              height: 20vw;
              width: 40vw;
              max-height: 22rem;
              max-width: 40rem;
              top: 33%;
              left: 0%; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_3 {
              height: 40vw;
              width: 60vw;
              max-height: 22rem;
              max-width: 40rem;
              top: 5%;
              left: 15%; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_4 {
          position: absolute;
          height: 30vw;
          width: 25vw;
          top: 33%;
          left: 0%; }
          @media screen and (min-width: 1200px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_4 {
              max-height: 16rem;
              max-width: 11rem; } }
          @media screen and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_4 {
              max-height: 12rem; } }
          @media screen and (min-width: 992px) and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_4 {
              max-width: 9rem; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_4 {
              max-width: 33vw; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_5 {
          position: absolute;
          height: 30vw;
          width: 25vw;
          top: 28%; }
          @media screen and (min-width: 1200px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_5 {
              max-height: 16rem;
              max-width: 11rem;
              left: calc(33% + .75rem); } }
          @media screen and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_5 {
              max-height: 12rem; } }
          @media screen and (min-width: 992px) and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_5 {
              left: calc(33% + 0.25rem);
              max-width: 9rem; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_5 {
              left: calc(33vw - 1rem);
              max-width: 33vw; } }
        .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_6 {
          position: absolute;
          height: 30vw;
          width: 25vw;
          top: 23%; }
          @media screen and (min-width: 1200px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_6 {
              max-height: 16rem;
              max-width: 11rem;
              left: calc(66% + 1.5rem); } }
          @media screen and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_6 {
              max-height: 12rem; } }
          @media screen and (min-width: 992px) and (max-width: 1199px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_6 {
              left: calc(100% - 9rem);
              max-width: 9rem; } }
          @media screen and (max-width: 991px) {
            .acfblock-textandimageblocktwo .containo_pemac .flexholder .imagearea .animation_zone.zone_6 {
              left: 66vw;
              max-width: 33vw; } }

.acfblock-textandimageblocktwo.homepageanimation {
  background: #002433;
  background: -moz-linear-gradient(top, #002433 0%, #00090c 100%);
  background: -webkit-linear-gradient(top, #002433 0%, #00090c 100%);
  background: linear-gradient(to bottom, #002433 0%, #00090c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002433', endColorstr='#00090c',GradientType=0 );
  border-bottom-right-radius: unset; }

/********************/
/*** ********** *****/
/********************/
.hasfader {
  opacity: 0;
  transition: all 0.2s ease; }

.hasfader.fadedin {
  opacity: 1;
  transition: all 0.2s ease; }

/********************/
/*** button *****/
/********************/
.pemac_button {
  position: relative;
  color: #fff;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  max-width: 10rem;
  text-align: center;
  z-index: 1;
  transition: all .2s ease;
  border: 2px solid transparent; }
  .pemac_button:hover {
    transition: all .2s ease; }
  .pemac_button.outlined {
    background-color: transparent;
    border: 2px solid #00ffff; }
    .pemac_button.outlined:hover {
      box-shadow: inset 0 0 0 3px #00ffff; }

/*# sourceMappingURL=style.css.map */
