$darkgreen: #002433;
$blackgreen: #000e14;
$white: #fff;
$brightblue: #00ffff;


.acfblock-textandimageblocktwo{
    background-color: $blackgreen;
    height: 90vh;
    min-height: 500px;
    max-height: 60rem;
    border-bottom-right-radius: 10rem;
    position: relative;
    overflow: hidden;

    .background_a{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.9;
    }


    .background_b{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.3;
    }




    .containo_pemac{
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        max-width: 1366px;
        .flexholder{
            display: flex;
            align-items: center;
            height: 100%;

            @media screen and (min-width:992px) {
                flex-direction: row;
            }
            @media screen and (max-width:991px) {
                flex-direction: column; 
            }


            .leftarea{
                height: 100%;

                @media screen and (min-width:992px) {
                    width: 50%;                
                }
                @media screen and (max-width:991px) {
                    width: 90%;     
                }

                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column; 


                .titletext{
                    @media screen and (min-width: 2560px){
                        font-size: calc(3.25rem + 0.1vw);
                    }
                    @media screen and (min-width: 1920px) and (max-width: 2559px){
                        font-size: calc(3.25rem + 0.1vw);
                    }
                    @media screen and (min-width: 1681px) and (max-width: 1919px){
                        font-size: calc(3.25rem + 0.1vw);
                    }
                    @media screen and (min-width: 1441px) and (max-width: 1680px){
                        font-size: calc(3.25rem + 0.1vw);
                    }
                    @media screen and (min-width: 1366px) and (max-width: 1440px){
                        font-size: calc(3rem + 0.1vw);
                    }
                    @media screen and (min-width: 1024px) and (max-width: 1365px){
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    @media screen and (min-width:992px) and (max-width: 1023px) {
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    @media screen and (min-width:768px) and (max-width: 991px) {
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    @media screen and (min-width:441px) and (max-width:767px) {
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    @media screen and (min-width:351px) and (max-width:440px) {
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    @media screen and (max-width:350px) {
                        font-size: calc(2.75rem + 0.1vw);
                    }
                    font-weight: 600;
                    margin-bottom: 0.25rem;
                }



                h1,h2,h3,h4,h5{
                    color:$white;
                    font-weight: 500;
                    line-height: 1.15em
                }
                .contento{
                    color: $white;
                    p{
                        line-height: 2.5rem;
                        font-size: calc(1.75rem + 0.1vw);
                        max-width: 33rem;
                    }
                }


                .titletext, .contento{
                    position: relative;
                    z-index: 6;
                    @media screen and (min-width:992px) {
                        max-width:40rem;                
                    }
                }
            }


            .imagearea{
                height: 100%;

                @media screen and (min-width:992px) {
                    width: 50%;                
                }
                @media screen and (max-width:991px) {
                    width: 100%;
                }

                position: relative;
                z-index: 9;
                @media screen and (min-width: 2560px){
                    transform: scale(1);
                }
                @media screen and (min-width: 1920px) and (max-width: 2559px){
                    transform: scale(1);
                }
                @media screen and (min-width: 1681px) and (max-width: 1919px){
                    transform: scale(1);
                }
                @media screen and (min-width: 1441px) and (max-width: 1680px){
                    transform: scale(1);
                }
                @media screen and (min-width: 1366px) and (max-width: 1440px){
                    transform: scale(0.9);
                }
                @media screen and (min-width: 1024px) and (max-width: 1365px){
                    transform: scale(0.9);
                }
                @media screen and (min-width:992px) and (max-width: 1023px) {
                    transform: scale(0.9);
                }
                @media screen and (min-width:768px) and (max-width: 991px) {
                    transform: scale(1);
                }
                @media screen and (min-width:441px) and (max-width:767px) {
                    transform: scale(1);
                }
                @media screen and (min-width:351px) and (max-width:440px) {
                    transform: scale(1);
                }
                @media screen and (max-width:350px) {
                    transform: scale(1);
                }

                .animation_zone.zone_1{
                    position: absolute;
                    height: 20rem;
                    width: 30rem;
                    @media screen and (min-width:992px) {
                        height: 42vw;
                        width: 60vw;
                        max-height: 20rem;
                        max-width: 30rem;
                        left: 0%;
                        top: 33%;   
                    }
                    @media screen and (max-width:991px) {
                        height: 42vw;
                        width: 60vw;
                        max-height: 25rem;
                        max-width: 35rem;
                        left: 15%;
                        top: 5%;
                    }

                }

                .animation_zone.zone_2{
                    position: absolute;

                    @media screen and (min-width:992px) {
                        height: 22vw;
                        width: 30vw;
                        max-height: 22rem;
                        max-width: 30rem;
                        top: 25%;
                        left: 10%;                
                    }
                    @media screen and (max-width:991px) {
                        height: 42vw;
                        width: 60vw;
                        max-height: 25rem;
                        max-width: 35rem;
                        top: 5%;
                        left: 15%;
                    }

                }

                .animation_zone.zone_3{
                    position: absolute;

             @media screen and (min-width:992px) {
                    height: 20vw;
                    width: 40vw;
                    max-height: 22rem;
                    max-width: 40rem;
                    top: 33%;
                    left: 0%;                
             }
             @media screen and (max-width:991px) {
                   height: 40vw;
                    width: 60vw;
                    max-height: 22rem;
                    max-width: 40rem;
                    top: 5%;
                    left: 15%;
             }

                }



                .animation_zone.zone_4{
                    position: absolute;
                    height: 30vw;
                    width: 25vw;

@media screen and (min-width: 1200px){
max-height: 16rem;
max-width: 11rem;
}
@media screen and (max-width: 1199px) {
max-height: 12rem;
}

@media screen and (min-width:992px) and (max-width: 1199px){
max-width: 9rem;
}

@media screen and (max-width:991px) {
max-width: 33vw;
}


                    top: 33%;
                    left: 0%;
                }

                .animation_zone.zone_5{
                    position: absolute;
                    height: 30vw;
                    width: 25vw;
@media screen and (min-width: 1200px){
max-height: 16rem;
max-width: 11rem;
left: calc(33% + .75rem);
}
@media screen and (max-width: 1199px) {
max-height: 12rem;
}


@media screen and (min-width:992px) and (max-width: 1199px){
left: calc(33% + 0.25rem);
max-width: 9rem;
}

@media screen and (max-width:991px) {
left: calc(33vw - 1rem);
max-width: 33vw;
}
top: 28%;
}

                .animation_zone.zone_6{
                    position: absolute;
                    height: 30vw;
                    width: 25vw;


@media screen and (min-width: 1200px){
max-height: 16rem;
max-width: 11rem;
left: calc(66% + 1.5rem);
}
@media screen and (max-width: 1199px) {
max-height: 12rem;
}


@media screen and (min-width:992px) and (max-width: 1199px){
left: calc(100% - 9rem);
max-width: 9rem;
}

@media screen and (max-width:991px) {
left: 66vw;
max-width: 33vw;
}

                    top: 23%;
                }




//end imagearea
}




}
}



}

.acfblock-textandimageblocktwo.homepageanimation{
background: rgb(0,36,51);
background: -moz-linear-gradient(top,  rgba(0,36,51,1) 0%, rgba(0,9,12,1) 100%);
background: -webkit-linear-gradient(top,  rgba(0,36,51,1) 0%,rgba(0,9,12,1) 100%);
background: linear-gradient(to bottom,  rgba(0,36,51,1) 0%,rgba(0,9,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002433', endColorstr='#00090c',GradientType=0 );
    border-bottom-right-radius: unset;
}


/********************/
/*** ********** *****/
/********************/
.hasfader{
    opacity: 0;
    transition: all.2s ease;
}

.hasfader.fadedin{
    opacity: 1;
    transition: all.2s ease;
}


/********************/
/*** button *****/
/********************/

.pemac_button{
    position: relative;
    color: $white;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    max-width: 10rem;
    text-align: center;
    z-index: 1;
    transition: all .2s ease;
    border: 2px solid transparent;
    &:hover{
        transition: all .2s ease;
    }



    &.outlined{
        background-color: transparent;
        border: 2px solid $brightblue;
        &:hover{
            box-shadow: inset 0 0 0 3px $brightblue;
        }
    }

}