@import "mixins.scss";

.accordion {
  &-block {
	padding: 25px 0;
	@media screen and (min-width: 1024px){
	  margin-bottom: 35px;
	}
  }

  &__content {
	transition: all .3s;
	overflow: hidden;
	max-height: 0;
  }

  &__label {
	cursor: pointer;
	padding-bottom: 26px;
	border-bottom: 1px solid #E3E0DE;
	padding-top: 27px;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 35px;
	@media screen and (max-width: 1024px) {
	  font-size: 18px;
	}

	span {
	  display: block;
	}

	position: relative;

	&.active + div.accordion__content {
	  padding-left: 0;
	  border-bottom: 1px solid #E3E0DE;
	}
  }

  &__inner {
	display: flex;
	margin: 0 -8px;
	align-items: center;
	gap: 25px;
	@media screen and (max-width: 1024px) {
	  flex-direction: column-reverse;
	  margin: 0;
	}
	&.order_left {
	  @media screen and (min-width: 1024px) {
		flex-direction: row-reverse;
	  }
	}
  }

  &__image {
	padding: 0 8px;
	text-align: center;

	img {
	  border-radius: 36px;
	}
	@include screen(1024) {
		flex: 0 0 50%;
		max-width: 50%;
	}
  }

  &__accordion {
	padding: 0 8px;
	padding-top: 3px;
	flex-basis: auto;
	@include screen(1024) {
		flex: 0 0 50%;
		max-width: 550px;
	}
  }
}
