.accordion-block {
  padding: 25px 0;
}
@media screen and (min-width: 1024px) {
  .accordion-block {
    margin-bottom: 35px;
  }
}
.accordion__content {
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0;
}
.accordion__label {
  cursor: pointer;
  padding-bottom: 26px;
  border-bottom: 1px solid #E3E0DE;
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 35px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .accordion__label {
    font-size: 18px;
  }
}
.accordion__label span {
  display: block;
}
.accordion__label.active + div.accordion__content {
  padding-left: 0;
  border-bottom: 1px solid #E3E0DE;
}
.accordion__inner {
  display: flex;
  margin: 0 -8px;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .accordion__inner {
    flex-direction: column-reverse;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .accordion__inner.order_left {
    flex-direction: row-reverse;
  }
}
.accordion__image {
  padding: 0 8px;
  text-align: center;
}
.accordion__image img {
  border-radius: 36px;
}
@media only screen and (min-width: 1024px) {
  .accordion__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.accordion__accordion {
  padding: 0 8px;
  padding-top: 3px;
  flex-basis: auto;
}
@media only screen and (min-width: 1024px) {
  .accordion__accordion {
    flex: 0 0 50%;
    max-width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
