* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-block-one {
  position: relative;
  background: rgb(0, 36, 51);
  padding-bottom: 50px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one {
    padding-top: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .container {
    max-width: 85vw;
  }
}
@media only screen and (min-width: 1536px) {
  .contact-block-one .container {
    max-width: 90vw;
  }
}
.contact-block-one .form {
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .form {
    padding: 45px;
  }
}
.contact-block-one .form-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
  max-width: 800px;
}
.contact-block-one .form-note {
  text-align: center;
  margin: 15px 0;
}
.contact-block-one .form-note span {
  color: rgb(151, 150, 160);
  text-align: center;
}
.contact-block-one .form input:not(.gfield-choice-input) {
  width: 100%;
  padding: 16px 10px;
  border: 1px solid rgb(227, 224, 222);
  border-radius: 4px;
}
.contact-block-one .form input::placeholder {
  color: rgb(151, 150, 160);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .form input::placeholder {
    font-size: 16px;
  }
}
.contact-block-one .form label {
  margin: 0;
  display: block;
  color: #0D1320;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.contact-block-one .form .gfield_radio label {
  margin: 10px 0;
  display: inline !important;
  color: #0D1320;
  font-weight: 600;
}
.contact-block-one .form textarea {
  width: 100%;
  padding: 19px 10px;
  border: 1px solid rgb(227, 224, 222);
  border-radius: 4px;
}
.contact-block-one .form textarea::placeholder {
  color: rgb(151, 150, 160);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .form textarea::placeholder {
    font-size: 16px;
  }
}
.contact-block-one .gform_button {
  background: rgb(0, 255, 255);
  color: rgb(0, 36, 51);
  font-weight: 500;
  cursor: pointer;
  border-radius: 23px !important;
  border: none !important;
  padding: 14px 10px !important;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .gform_button {
    padding: 9px 10px !important;
    width: fit-content;
    max-width: 125px;
  }
}
.contact-block-one .gfield--type-choice {
  margin: 15px 0;
}
.contact-block-one .gfield--type-choice legend {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-block-one .gfield--type-choice label {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .gform_fields {
    row-gap: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields .gfield--width-half {
    flex: 1 0 calc(50% - 25px);
  }
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields .gfield--width-full {
    flex: 1 0 calc(100% - 25px);
  }
}
.contact-block-one .gform_submission_error {
  font-size: 16px;
}
.contact-block-one .gfield_validation_message {
  font-size: 16px;
  color: #00B1FF;
}
@media only screen and (max-width: 1023px) {
  .contact-block-one .content-box {
    padding-top: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .content-box {
    max-height: calc(100vh - 170px);
    overflow: scroll;
    max-width: 650px;
  }
}
.contact-block-one .content-box::-webkit-scrollbar {
  display: none;
}
.contact-block-one .content-box h1 {
  font-size: 34px;
  line-height: 1.24;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .content-box h1 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .content-box h1 {
    font-size: 40px;
  }
}
.contact-block-one .content-box * {
  color: white;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .wrapper-inner {
    gap: 75px;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .wrapper-inner {
    gap: 100px;
  }
}
@media only screen and (min-width: 1536px) {
  .contact-block-one .wrapper-inner {
    gap: 125px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact-block-one .wrapper-inner {
    gap: 150px;
  }
}
.contact-block-one .gform_title {
  color: rgb(0, 36, 51);
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .gform_title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
  }
}
.contact-block-one .gform_description {
  display: none;
}
.contact-block-one .gfield_required:before {
  content: "*";
  color: rgb(249, 48, 77);
  margin-left: 5px;
}
.contact-block-one .gfield_required .gfield_required_text {
  display: none;
}

/*# sourceMappingURL=style.css.map */
