@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-block-one {
  position: relative;
  background:rgba(0, 36, 51, 1);
  padding-bottom: 50px;
  @include screen(1280) {
    padding-top: 250px;
  }
  .container {
    @include screen(1024) {
      max-width: 960px;
    }
    @include screen(1280) {
      max-width: 85vw;
    }
    @include screen(1536) {
      max-width: 90vw;
    }
  }
  .form {
    padding: 25px;
    @include screen(1280) {
        padding: 45px;
    }
    &-box {
      background:white;
      border-radius: 12px;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
      max-width: 800px;
    }
    &-note {
      text-align: center;
      margin: 15px 0;
      span {
        color:rgba(151, 150, 160, 1);
        text-align: center;
      }
    }
    input {
        &:not(.gfield-choice-input) {
            width: 100%;
            padding: 16px 10px;
            border:1px solid rgba(227, 224, 222, 1);
            border-radius: 4px;
        }
        &::placeholder {
            color:rgba(151, 150, 160, 1);
            font-family: "Nunito",sans-serif;
            font-size: 14px;
            @include screen(768) {
              font-size: 16px;
            }
        }
    }
    label {
        margin: 0;
        display: block;
        color:#0D1320;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .gfield_radio {
        label {
            margin: 10px 0;
            display: inline !important;
            color:#0D1320;
            font-weight: 600;
        }
    }
    textarea {
        width: 100%;
        padding: 19px 10px;
        border:1px solid rgba(227, 224, 222, 1);
        border-radius: 4px;
        &::placeholder {
          color:rgba(151, 150, 160, 1);
          font-family: "Nunito",sans-serif;
          font-size: 14px;
          @include screen(768) {
            font-size: 16px;
          }
        }
    }
  }
  .gform_button {
    background:rgba(0, 255, 255, 1);
    color:rgba(0, 36, 51, 1);
    font-weight: 500;
    cursor:pointer;
    border-radius: 23px !important;
    border: none !important;
    padding: 14px 10px !important;
    font-size: 16px;
    @include screen(1024) {
      padding: 9px 10px !important;
      width: fit-content;
      max-width: 125px;
    }
  }
  .gfield--type-choice {
    margin: 15px 0;
    legend {
        font-size: 16px;
        margin-bottom: 10px;
    }
    label {
        font-size: 16px;
    }
  }
  .gform_fields {
    @include screen(768) {
        display: flex;
        flex-wrap: wrap;
        column-gap:25px;
        row-gap:15px;
    }
    @include screen(1024) {
      row-gap: 5px;
    }
    .gfield--width-half {
        @include screen(768) {
            flex:1 0 calc(50% - 25px);
        }
    }
    .gfield--width-full {
        @include screen(768) {
            flex:1 0 calc(100% - 25px);
        }
    }
  }
  .gform_submission_error {
    font-size: 16px;
  }
  .gfield_validation_message {
    font-size: 16px;
    color:#00B1FF;
  }
  .content-box {
    @include screen(0, 1023) {
      padding-top: 60px;
    }
    @include screen(1024) {
      max-height: calc(100vh - 170px);
      overflow: scroll;
      max-width: 650px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    
    h1 {
      font-size: 34px;
      line-height: 1.24;
      @include screen(768) {
        font-size: 37px;
      }
      @include screen(1280) {
        font-size: 40px;
      }
    }
    * {
      color:white;
    }
  }
  .wrapper {
    &-inner {
      @include screen(768) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include screen(1024) {
        gap: 75px;
        flex-direction: row;
        justify-content: space-around;
      }
      @include screen(1280) {
        gap: 100px;
      }
      @include screen(1536) {
        gap: 125px;
      }
      @include screen(1920) {
        gap: 150px;
      }
    }
  }

  .gform {
    &_title {
      color:rgba(0, 36, 51, 1);
      text-align: center;
      margin-bottom: 30px;
      @include screen(1024) {
        font-size: 24px;
        text-align: left;
        margin-bottom: 15px;
      }
    }
    &_description {
      display:none;
    }
  }
  .gfield {
    &_required {
      &:before {
        content:"*";
        color:rgba(249, 48, 77, 1);
        margin-left: 5px;
      }
      .gfield_required_text {
        display:none;
      }
    }
  }
}
