{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="wrapper-outer">
    <div class="container">
      <div class="wrapper-inner">
        <div class="content-box">
          <InnerBlocks />
        </div>
        <div class="form-box">
          <div class="form">
            [gravityform id="2" title="true"]
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}

