.nfeed {
  padding: 40px 0;
  padding-bottom: 80px;

  &__headings {
	margin-bottom: 75px;
    padding: 0 20px;
	@media screen and (max-width: 1024px) {
	  max-width: 100%;
	  margin-bottom: 50px;
	}
  }

  &__wrapper {
	@media screen and (max-width: 1200px) {
	  padding: 0 15px;
	}
  }

  &__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -36px;
    column-gap: 25px;
	row-gap:50px;
	@media screen and (max-width: 1200px) {
	  margin: 0 -10px;
	}
	@media screen and (max-width: 1024px) {
	  margin: 0;
	}
  }

  &__item {
	flex: 0 0 calc(33.33% - 50px);
	transition: all .3s;
	@media screen and (max-width: 1200px) {
	  padding: 0 10px;
	}
	@media screen and (max-width: 1024px) {
	  flex: 1 1 100%;
	  padding: 0;
	}
  }

  &-item {
	box-shadow: 0px 3px 20px #E3E0DE;
	border-radius: 36px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	&:hover {
	  transition: all .3s;

	  .news__img img {
		transform: scale(1.1);
	  }
	}
  }

  &__content {
	background-color: #fff;
	padding: 12px 25px;
	@media screen and (max-width: 1024px) {
	  padding-left: 15px;
	}
  }

  &__img {
	height: 200px;
	width: 100%;
	overflow: hidden;
	transition: all .3s;
	@media screen and (max-width: 1024px) {
	  height: 177px;
	}

	img {
	  transition: all .3s;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  object-position: center;
	}
  }

  &__title {
	font-size: 16px;
	letter-spacing: 0px;
	color: #002433;
	line-height: 1.8;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 7px;
  }

  &__excerpt {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@media screen and (max-width: 1024px) {
	  max-width: 100%;
	  align-items: center;
	  padding-right: 32px;
	}

	p {
	  font-weight: 700;
	  max-width: 355px;
	  letter-spacing: 0px;
	  color: #002433;
	  font-size: 21px;
	  line-height: 1.38;
	  opacity: 1;
	  margin-top: 0;
	  @media screen and (max-width: 1024px) {
		max-width: 100%;
		padding-right: 15px;
		font-size: 16px;
	  }
	}
  }
  &__arrow-right {
	img {
	  width: 100%;
	}

	flex-basis: 46px;
	flex-shrink: 0;
	@media screen and (max-width: 1024px) {
	  flex-basis: 32px;
	  flex-shrink: 0;
	}
  }
}
