.nfeed {
  padding: 40px 0;
  padding-bottom: 80px;
}
.nfeed__headings {
  margin-bottom: 75px;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .nfeed__headings {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .nfeed__wrapper {
    padding: 0 15px;
  }
}
.nfeed__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -36px;
  column-gap: 25px;
  row-gap: 50px;
}
@media screen and (max-width: 1200px) {
  .nfeed__inner {
    margin: 0 -10px;
  }
}
@media screen and (max-width: 1024px) {
  .nfeed__inner {
    margin: 0;
  }
}
.nfeed__item {
  flex: 0 0 calc(33.33% - 50px);
  transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
  .nfeed__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .nfeed__item {
    flex: 1 1 100%;
    padding: 0;
  }
}
.nfeed-item {
  box-shadow: 0px 3px 20px #E3E0DE;
  border-radius: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nfeed-item:hover {
  transition: all 0.3s;
}
.nfeed-item:hover .news__img img {
  transform: scale(1.1);
}
.nfeed__content {
  background-color: #fff;
  padding: 12px 25px;
}
@media screen and (max-width: 1024px) {
  .nfeed__content {
    padding-left: 15px;
  }
}
.nfeed__img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .nfeed__img {
    height: 177px;
  }
}
.nfeed__img img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.nfeed__title {
  font-size: 16px;
  letter-spacing: 0px;
  color: #002433;
  line-height: 1.8;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.nfeed__excerpt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .nfeed__excerpt {
    max-width: 100%;
    align-items: center;
    padding-right: 32px;
  }
}
.nfeed__excerpt p {
  font-weight: 700;
  max-width: 355px;
  letter-spacing: 0px;
  color: #002433;
  font-size: 21px;
  line-height: 1.38;
  opacity: 1;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .nfeed__excerpt p {
    max-width: 100%;
    padding-right: 15px;
    font-size: 16px;
  }
}
.nfeed__arrow-right {
  flex-basis: 46px;
  flex-shrink: 0;
}
.nfeed__arrow-right img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .nfeed__arrow-right {
    flex-basis: 32px;
    flex-shrink: 0;
  }
}

/*# sourceMappingURL=style.css.map */
