* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-block-one h3 {
  font-weight: 700;
  color: #002433;
  text-align: center;
}
.team-block-one h4 {
  font-weight: 700;
  color: #002433;
}
.team-block-one h5 {
  font-weight: 400;
  color: #002433;
}
.team-block-one p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #002433;
}
@media only screen and (max-width: 414px) {
  .team-block-one p {
    font-size: 3.86vw;
    line-height: 5.8vw;
  }
}
.team-block-one .dsp-c-r,
.team-block-one .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-block-one .dsp-c-c {
  flex-direction: column;
}
.team-block-one .container {
  max-width: 1231px;
  margin: 0 auto;
  gap: 35px;
}
@media only screen and (max-width: 1283px) {
  .team-block-one .container {
    margin: 0 26px;
  }
}
@media only screen and (max-width: 1024px) {
  .team-block-one .container {
    padding: 9.57vw 0 4.78vw 0;
    gap: 3.41vw;
  }
}
@media only screen and (max-width: 414px) {
  .team-block-one .container {
    margin: 0 6.28vw;
  }
}
.team-block-one .container .box {
  width: 100%;
  gap: 60px;
}
@media only screen and (min-width: 1024px) {
  .team-block-one .container .box {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .team-block-one .container .box {
    margin-bottom: 25px;
    flex-direction: column;
    gap: 5.85vw;
  }
}
.team-block-one .container .box .photo img {
  border-radius: 21px;
}
@media only screen and (max-width: 414px) {
  .team-block-one .container .box .photo img {
    width: 100%;
    height: 86.95vw;
    border-radius: 5vw;
  }
}
.team-block-one .container .box .left {
  width: 810px;
  align-items: flex-start;
}
@media only screen and (max-width: 1024px) {
  .team-block-one .container .box .left {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .team-block-one .container .box .left {
    width: 100%;
  }
}
.team-block-one .container .box .left h5 {
  margin-bottom: 16px;
}
@media only screen and (max-width: 414px) {
  .team-block-one .container .box .left h5 {
    margin-bottom: 3.86vw;
  }
}

@media screen and (max-width: 768px) {
  .team-block-one .container .box:not(:last-child) {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
