@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.team-block-one {
  h3 {
    font-weight: 700;
    color: #002433;
    text-align: center;
  }
  h4 {
    font-weight:700;
    color:#002433;
  }
  h5 {
    font-weight:400;
    color:#002433;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #002433;
    @include screen (0, 414) {
      font-size: 3.86vw;
      line-height: 5.8vw;
    }
  }
  .dsp-c-r,
  .dsp-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .container {
    max-width: 1231px;
    margin: 0 auto;
    gap: 35px;
    @include screen (0, 1283) {
      margin: 0 26px;
    }
    @include screen (0, 1024) {
      padding: 9.57vw 0 4.78vw 0;
      gap: 3.41vw;
    }
    @include screen (0, 414) {
      margin: 0 6.28vw;
    }
    .box {
      width: 100%;
      gap: 60px;
      @include screen(1024) {
        margin-bottom: 50px;
      }
      @include screen (0, 1023) {
        margin-bottom: 25px;
        flex-direction: column;
        gap: 5.85vw;
      }
      .photo {
        img {
            @include screen (0, 414) {
                width: 100%;
                height: 86.95vw;
                border-radius: 5vw;
            }
            border-radius: 21px;
        }
      }
      .left {
        width: 810px;
        align-items: flex-start;
        @include screen (0, 1024) {
          width: 80%;
        }
        @include screen (0, 764) {
          width: 100%;
        }
        h5 {
          margin-bottom: 16px;
          @include screen (0, 414) {
            margin-bottom: 3.86vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .team-block-one .container .box:not(:last-child){
	margin-bottom: 50px;
  }
}
