.cta-large {
  padding: 40px 0;
}
.cta-large__text {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 420px;
}
@media screen and (min-width: 1024px) {
  .cta-large__text {
    left: 95px;
    top: 53px;
  }
}
@media screen and (max-width: 768px) {
  .cta-large__text {
    max-width: 270px;
  }
}
.cta-large__content {
  position: relative;
  z-index: 10;
  padding: 26px 20px;
  padding-top: 26px;
  padding-bottom: 0;
  padding-right: 5px;
}
.cta-large__content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 36, 51, 0.77);
  height: 100%;
  z-index: -1;
  filter: blur(13px);
}
.cta-large__content h1, .cta-large__content h2, .cta-large__content h3, .cta-large__content h4, .cta-large__content h5, .cta-large__content h6, .cta-large__content p {
  color: #fff;
}
.cta-large__inner {
  position: relative;
}
.cta-large__img img {
  width: 1328px;
  height: 483px;
  border-radius: 36px;
  object-position: center;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .cta-large__img img {
    height: 584px;
  }
}
.cta-large .acf-innerblocks-container {
  padding-left: 18px;
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large .acf-innerblocks-container {
    padding-left: 10px;
  }
}
.cta-large.is-style-alternative .cta-large__img {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__img {
    border-radius: 60px;
  }
}
.cta-large.is-style-alternative .cta-large__img img {
  width: 100%;
}
.cta-large.is-style-alternative .cta-large__img:after {
  content: "";
  position: absolute;
  background-image: url("./../../assets/images/gradient_pemac.png");
  background-size: cover;
  right: 0px;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 99%;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__img:after {
    content: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__img {
    border-radius: 36px;
    overflow: hidden;
  }
  .cta-large.is-style-alternative .cta-large__img:after {
    background-image: none;
    content: "";
    position: absolute;
    background: rgb(0, 36, 52);
    background: linear-gradient(150deg, #002434 0%, transparent 100%);
    left: 0;
    top: 0;
    width: 90%;
    filter: blur(4px);
    height: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.cta-large.is-style-alternative .acf-innerblocks-container {
  position: relative;
  z-index: 10;
}
.cta-large.is-style-alternative .cta-large__text {
  position: absolute;
  left: unset;
  right: 60px;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  transform: translateY(0);
  z-index: 10;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__text {
    right: unset;
    top: 0;
    left: 5px;
    justify-content: flex-start;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__text:after {
    content: none;
    position: absolute;
    background: rgb(0, 36, 52);
    background: linear-gradient(150deg, #002434 0%, transparent 100%);
    left: 0;
    top: 0;
    width: 100%;
    filter: blur(4px);
    height: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 9;
  }
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__content {
    padding: 20px 25px 0px 18px;
  }
}
.cta-large.is-style-alternative .cta-large__content:after {
  content: none !important;
}
.cta-large.is-style-alternative .cta-large__text {
  max-width: 41%;
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__text {
    max-width: 390px;
  }
}
@media screen and (max-width: 1024px) {
  .cta-large.is-style-alternative .cta-large__text::after {
    content: "";
    position: absolute;
    background: #002434;
    background: linear-gradient(150deg, #002434 0%, transparent 100%);
    left: 0;
    top: 0;
    width: 100%;
    filter: blur(4px);
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
