@import "mixins.scss";

.cta-large {
  padding: 40px 0;

  &__text {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 420px;
	@media screen and (min-width: 1024px) {
	  left: 95px;
	  top: 53px;
	}
	@media screen and (max-width: 768px) {
	  max-width: 270px;
	}
  }

  &__content {
	position: relative;
	z-index: 10;
	padding: 26px 20px;
	padding-top: 26px;
	padding-bottom: 0;
	padding-right: 5px;

	&:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  background-color: rgba(0, 36, 51, 0.77);
	  height: 100%;
	  z-index: -1;
	  filter: blur(13px);
	}

	h1, h2, h3, h4, h5, h6, p {
	  color: #fff;
	}
  }

  &__inner {
	position: relative;
  }

  &__img {
	img {
	  width: 1328px;
	  height: 483px;
	  border-radius: 36px;
	  object-position: center;
	  object-fit: cover;
	  @media screen and (min-width: 1024px) {
		height: 584px;
	  }
	}
  }

  .acf-innerblocks-container {
	padding-left: 18px;
  }

  &.is-style-alternative {

	.cta-large .acf-innerblocks-container {
	  @media screen and (max-width: 1024px) {
		padding-left: 10px;
	  }
	}

	.cta-large__img {
	  position: relative;
	  //overflow: hidden;
	  @media screen and (min-width: 1024px) {
		border-radius: 60px;
	  }

	  img {
		width: 100%;
	  }

	  &:after {
		content: '';
		position: absolute;
		background-image: url("./../../assets/images/gradient_pemac.png");
		background-size: cover;
		right: 0px;
		background-repeat: no-repeat;
		top: 0;
		width: 100%;
		//filter: blur(4px);
		height: 99%;
		border-top-right-radius: 36px;
		border-bottom-right-radius: 36px;
		@media screen and (max-width: 1024px){
		  content: none!important;
		}
	  }

	  @media screen and (max-width: 1024px) {
		border-radius: 36px;
		overflow: hidden;
		&:after {
		  background-image: none;
		  content: "";
		  position: absolute;
		  background: rgb(0, 36, 52);
		  background: linear-gradient(150deg, #002434 0%, transparent 100%);
		  left: 0;
		  top: 0;
		  width: 90%;
		  filter: blur(4px);
		  height: 50%;
		  border-top-right-radius: 0;
		  border-bottom-right-radius: 0;
		}
	  }
	}

	.acf-innerblocks-container {
	  position: relative;
	  z-index: 10;
	}

	.cta-large__text {
	  position: absolute;
	  left: unset;
	  right: 60px;
	  top: 0%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  bottom: 0;
	  transform: translateY(0);
	  z-index: 10;
	  height: 100%;
	  //right: unset;
	  //top: 10px;
	  //left: 10px;
	  @media screen and (max-width: 1024px) {
		right: unset;
		top: 0;
		left: 5px;
		justify-content: flex-start;
		transform: translateY(0);
	  }
	  @include screen(768) {
		//top: 125px;
		//right: 50px;
		//left: unset;
	  }
	  @include screen(1366) {
		//top: 150px;
		//right: 100px;
		//left: unset;
	  }

	  &:after {
		@media screen and (max-width: 1024px) {
		  content: none;
		  position: absolute;
		  background: rgb(0, 36, 52);
		  background: linear-gradient(150deg, #002434 0%, transparent 100%);
		  left: 0;
		  top: 0;
		  width: 100%;
		  filter: blur(4px);
		  height: 50%;
		  border-top-right-radius: 0;
		  border-bottom-right-radius: 0;
		  z-index: 9;
		}
	  }
	}
	.cta-large__content {
	  @media screen and (max-width: 1024px) {
		padding: 20px 25px 0px 18px;
	  }

	  &:after {
		content: none !important;
	  }
	}

	.cta-large__text {
	  max-width: 41%;
	  @media screen and (max-width: 1024px) {
		max-width: 390px;
	  }
	}
	@media screen and (max-width: 1024px) {
	  .cta-large__text {
		&::after {
		  content: "";
		  position: absolute;
		  background: #002434;
		  background: linear-gradient(150deg, #002434 0%, transparent 100%);
		  left: 0;
		  top: 0;
		  width: 100%;
		  filter: blur(4px);
		  height: 98%;
		  border-top-right-radius: 40px;
		  border-bottom-right-radius: 80px;
		  border-top-left-radius: 30px;
		  border-bottom-left-radius: 50px;
		}
	  }
	}
  }
}
