.list-icons{
  margin-top: 20px;
  margin-bottom: 20px;
  &__item {
	display: flex;
	column-gap: 22px;
	align-items: center;
	& + & {
	  margin-top: 6px;
	}
  }
  &__icon{
	flex: 0 0 38px;
	img{
	  width: 38px;
	  height: 38px;
	}
  }
}
