.list-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-icons__item {
  display: flex;
  column-gap: 22px;
  align-items: center;
}
.list-icons__item + .list-icons__item {
  margin-top: 6px;
}
.list-icons__icon {
  flex: 0 0 38px;
}
.list-icons__icon img {
  width: 38px;
  height: 38px;
}

/*# sourceMappingURL=style.css.map */
