.links-two {
  padding: 40px 0;
}
.links-two__wrapper {
  display: flex;
  margin: 0 -26px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .links-two__wrapper {
    margin: 0 -10px;
  }
}
@media screen and (max-width: 768px) {
  .links-two__wrapper {
    margin: 0;
  }
}
.links-two__item {
  padding: 0 26px;
  flex: 0 1 33.333%;
}
@media screen and (max-width: 1200px) {
  .links-two__item {
    padding: 0 10px;
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 768px) {
  .links-two__item {
    padding: 0;
    flex: 0 1 100%;
  }
}
.links-two__name {
  padding-right: 70px;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .links-two__name {
    font-size: 17px;
  }
}
.links-two__inn {
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='59' ry='59' stroke='%23E3E0DEFF' stroke-width='9' stroke-dasharray='7%25' stroke-dashoffset='81' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 59px;
  padding-left: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 17px;
  min-width: 400px;
  min-height: 100px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .links-two__inn {
    min-width: 100%;
    min-width: 100%;
    min-height: 100px;
  }
}
.links-two__circle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #00FFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .links-two__circle {
    width: 52px;
    height: 52px;
  }
}
.links-two.navy .links-two__name {
  color: white;
}

.links-two-inn__link {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
