.container {
  max-width: 1330px;
  @media screen and (max-width: 1024px) {
	padding: 0 25px;
  }
}

.footer {
  &__copy {
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #4e4c5a;

	p {
	  font-weight: 400;
	}
  }

  &__logo-row {
	display: flex;
	gap: 65px;
	align-items: center;
	margin-bottom: 45px;
	@media screen and (max-width: 768px) {
	  justify-content: space-between;
	  margin-bottom: 32px;
	  width: 100%;
	}
  }

  &__logo--add {
	display: flex;
	margin: 0 -18px;
  }

  &__image--additionals {
	padding: 0 18px;
	@media screen and (max-width: 768px) {
	  padding: 0 25px;
	}
  }

  &__wrapper {
	padding-top: 40px;
	background-color: rgba(227, 224, 222, 0.2);
  }

  &__inner {
	display: flex;
	margin: 0 -20px;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 20px;
	@media screen and (max-width: 1024px) {
	  flex-wrap: wrap;
	  margin: 0 -15px;
	  flex-direction: row;
	}
	@media screen and (max-width: 768px) {
	  flex-direction: column;
	  margin: 0;
	  padding-bottom: 11px;
	}
  }

  &__column {
	padding: 0 20px;
	@media screen and (max-width: 1024px) {
	  padding: 0 15px;
	}
	@media screen and (max-width: 768px) {
	  padding: 0;
	}
  }

  &__logo-column {
	flex-basis: 420px;
	@media screen and (max-width: 1024px) {
	  flex-basis: 50%;
	  width: 50%;
	}
	@media screen and (max-width: 768px) {
	  flex-basis: 100%;
	  width: 100%;
	}

	&.mobile_responsive {
	  @media screen and (max-width: 768px) {
		order: 4;
	  }
	}

	.logo_img {
	  width: 177px;
	  @media screen and (max-width: 768px) {
		width: 88px;
	  }
	}
  }

  &__menu-column {
	flex-basis: 725px;
	display: flex;
	justify-content: flex-end;
	gap: 110px;
	padding-right: 120px;
	@media screen and (max-width: 1024px) {
	  flex-basis: 50%;
	  width: 50%;
	  gap: 30px;
	  padding-right: 0;
	  justify-content: space-between;
	  padding-left: 85px;
	}
	@media screen and (max-width: 768px) {
	  flex-basis: 54%;
	  width: 54%;
	  flex-direction: column;
	  padding-left: 0;
	  gap: 10px;
	}

	ul {
	  margin: 0;
	  padding: 0;
	  display: flex;
	  flex-direction: column;
	  gap: 10px;

	  li {
		margin: 0;
	  }

	  a {
		color: #002433;
		text-decoration: none;

		&:hover {
		  text-decoration: underline;
		}
	  }
	}
  }

  &__social {
	margin-top: auto;
	margin-bottom: 15px;

	a {
	  padding-left: 35px;
	  letter-spacing: 0;
	  text-decoration: none;
	  color: #002433;
	  position: relative;

	  &:hover {
		text-decoration: underline;
	  }
	}
  }

  &__linkedin {
	a::before {
	  content: "";
	  position: absolute;
	  background-image: url("./../../assets/images/awesome-linkedin-in.svg");
	  width: 22px;
	  height: 22px;
	  top: -2px;
	  left: 0;
	}

	a:hover {
	  &:before {
		background-image: url("./../../assets/images/awesome-linkedin-in-hov.svg");
	  }
	}
  }
  &__vimeo {
	a::before {
	  content: "";
	  position: absolute;
	  background-image: url("./../../assets/images/vimeo.svg");
	  width: 22px;
	  height: 22px;
	  top: -2px;
	  left: 0;
	  background-size: cover;
	  background-repeat: no-repeat;
	}

	a:hover {
	  &:before {
		background-image: url("./../../assets/images/vimeo-hover.svg");
	  }
	}
  }

  &__twit {
	a::before {
	  content: "";
	  position: absolute;
	  background-image: url("./../../assets/images/x-twitter.svg");
	  width: 24px;
	  height: 24px;
	  top: -2px;
	  background-size: cover;
	  background-repeat: no-repeat;
	  left: 0;
	}

	a:hover {
	  &:before {
		background-image: url("./../../assets/images/x-twitter-hover.svg");
	  }
	}
  }

  &__menu-second__wrapper {
	display: flex;
	flex-direction: column;
  }

  &__nav-menu {
	padding-bottom: 20px !important;
	@media screen and (max-width: 768px) {
	  padding-bottom: 10px !important;
	}
  }

  &__office-column {
	display: flex;
	flex-direction: column;
	gap: 22px;
	@media screen and (max-width: 1024px) {
	  flex-direction: row;
	  flex-basis: 100%;
	  width: 100%;
	  justify-content: space-between;
	  padding-top: 25px;
	}
	@media screen and (max-width: 768px) {
	  flex-direction: column;
	  overflow: hidden;
	  max-height: 0;
	  transition: all .3s;
	  padding-top: 0;
	}
  }

  &__office-column--label {
	letter-spacing: 0px;
	color: #002433;
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	@media screen and (max-width: 768px) {
	  font-size: 18px;
	  width: 50%;
	}
  }

  &__menu-second--label {
	font-weight: 700;
	margin-bottom: 17px;
	line-height: 1;
	font-size: 16px;
	@media screen and (max-width: 768px) {
	  font-size: 18px;
	  //width: 50%;
	}
  }

  &__office-column--content {
	line-height: 21px;
	color: #002433;
	font-weight: 400;
  }

  &__menu-first-column {
	@media screen and (max-width: 768px) {
	  overflow: hidden;
	  max-height: 0;
	  transition: all .3s;
	}
  }

  &__menu-second-column {
	@media screen and (max-width: 768px) {
	  overflow: hidden;
	  max-height: 0;
	  transition: all .3s;
	}
  }

  &__social-links_mobile {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 17px;
	flex-direction: column;

	a {
	  font-size: 16px;
	  color: #002433;
	}
  }

  &__image--additionals {
	img {
	  width: 78px;
	  @media screen and (max-width: 768px) {
		width: 55px;
	  }
	}
  }
}

.footer-block {
  .gform_submission_error {
	color: red
  }

  .gform_confirmation_message_1 {
	background-color: #0ff;
	color: #002433;
	padding: 10px 56px 10px 46px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 26px;
	position: relative;

	&:before {
	  content: "";
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  left: 20px;
	  background-image: url("./../../assets/images/check-item.svg");
	  width: 15px;
	  height: 14px;
	  z-index: 15;
	}
  }

  .accordion {
	position: relative;
	padding-right: 30px;
  }

  h2.gform_title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0px;
	color: #002433;
	margin-bottom: 10px;
	@media screen and (max-width: 768px) {
	  font-size: 20px;
	  margin-bottom: 25px;
	}
  }

  label {
	font-size: 16px;
	font-weight: 400;
	color: #002433;
	margin-bottom: 5px;
  }

  input[type="email"] {
	border: 1px solid #E3E0DE;
	padding-left: 12px;
	width: 100%;
	height: 50px;
	color: #000;
	font-size: 14px;
	border-radius: 4px;

	&::placeholder {
	  color: #9796A0;
	  font-size: 14px;
	}
  }

  .gform_footer.top_label {
	margin-top: 21px;

	input[type="submit"] {
	  background-color: #00FFFF;
	  border-radius: 23px;
	  border: none;
	  color: #002433;
	  padding: 7px 36px;
	  font-size: 16px;
	  cursor: pointer;
	  transition: all .3s;

	  &:hover {
		background-color: #002433;
		color: #00FFFF;
	  }

	  @media screen and (max-width: 768px) {
		font-size: 21px;
		padding: 10px 50px;
	  }
	}
  }

  .additional-form {
	font-size: 12px;
	line-height: 14px;
	color: #002433;
	font-weight: 400;
	@media screen and (min-width: 768px) {
	  margin-top: 15px;
	}
  }
}

.hide-for-desk {
  @media screen and (min-width: 768px) {
	display: none !important;
  }
}

.hide-for-mobile {
  @media screen and (max-width: 768px) {
	display: none !important;
  }
}

.office-label {
  color: #002f3d;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 1;
  position: relative;
  font-size: 16px;
  @media screen and (max-width: 768px) {
	font-size: 18px;
	width: 54%;
	margin-top: 17px;
  }
}

span.circle {
  width: 28px;
  height: 28px;
  background-color: #00FFFF;
  position: absolute;
  right: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  &:before {
	content: "";
	width: 14px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
  }

  &:after {
	content: "";
	height: 14px;
	width: 2px;
	background-color: #000;
	top: 50%;
	position: absolute;
	right: 50%;
	transform: translate(50%, -50%);
  }
}
footer span.circle{
  @media screen and (min-width: 768px) {
	display: none;
  }
}

.accordion.active {
  @media screen and (max-width: 768px) {
	& + div {
	  padding-left: 20px;
	}
  }

  span.circle {
	background-color: #E3E0DE;

	&:after {
	  opacity: 0;
	}
  }
}
