.dual-tab {
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .dual-tab {
    margin: 50px 0;
  }
}
.dual-tab__top-content {
  margin-bottom: 42px;
  padding: 0 150px;
}
@media screen and (max-width: 1024px) {
  .dual-tab__top-content {
    padding: 0;
  }
}
.dual-tab__tabs {
  display: none;
  background-color: #002433;
  border-radius: 20px;
}
.dual-tab__labels {
  display: flex;
  margin: 0 -10px;
}
@media screen and (max-width: 1024px) {
  .dual-tab__labels {
    flex-direction: column;
    margin: 0;
    margin-bottom: 22px;
  }
}
.dual-tab__label {
  padding: 0 10px 25px;
  text-align: center;
  flex: 0 1 50%;
  position: relative;
  margin-bottom: 0;
  font-size: 33px;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .dual-tab__label {
    flex: 0 1 100%;
    padding: 0;
    text-align: left;
    font-size: 22px;
    padding-left: 40px;
  }
}
.dual-tab__label.active {
  font-weight: 700;
}
.dual-tab__label.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 30.5px 24px 30.5px;
  border-color: transparent transparent #002433 transparent;
  transform: rotate(0deg) translateX(-50%);
  left: 50%;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .dual-tab__label.active:after {
    transform: rotate(90deg) translateX(20%) translateY(100%);
    left: 0;
    bottom: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .dual-tab__label:first-child {
    margin-bottom: 20px;
  }
}
.dual-tab__content {
  display: flex;
  align-items: center;
  padding: 42px 115px 42px 36px;
  justify-content: space-between;
}
.dual-tab__content p {
  line-height: 1.5;
  color: white;
}
@media screen and (max-width: 1024px) {
  .dual-tab__content {
    flex-direction: column-reverse;
    gap: 45px;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 11px;
    padding-bottom: 8px;
  }
}
.dual-tab__inner {
  max-width: 1134px;
  border-radius: 20px;
  margin: 0 auto;
}

.dual-content__link {
  margin-top: 25px;
}
.dual-content__content {
  flex: 0 0 420px;
}
.dual-content__content .button {
  margin-top: 30px;
  padding: 7px 44px;
  font-size: 20px;
  outline: 2px solid #00FFFF;
  border: 3px solid transparent;
  border-radius: 24px;
  color: white;
  text-decoration: none;
}
.dual-content__content .button:hover {
  border: 3px solid #00FFFF;
}
@media screen and (max-width: 1024px) {
  .dual-content__content .button {
    padding: 7px 44px;
  }
}
@media screen and (max-width: 1024px) {
  .dual-content__content {
    flex: 0 0 auto;
  }
}
.dual-content__image {
  flex: 0 0 500px;
}
@media screen and (max-width: 1280px) {
  .dual-content__image {
    flex: 0 0 460px;
  }
}
@media screen and (max-width: 1024px) {
  .dual-content__image {
    flex: 0 0 auto;
  }
}
.dual-content__image img {
  width: 500px;
  border-radius: 50px;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 1280px) {
  .dual-content__image img {
    width: 430px;
    border-radius: 20px;
    height: auto;
  }
}
.dual-content__text {
  color: white;
  padding-left: 28px;
  position: relative;
}
.dual-content__text:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #5CFF7A;
  border-radius: 4px;
}
@media screen and (max-width: 1024px) {
  .dual-content__text:before {
    width: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
