@import "mixins.scss";

.dual-tab {
    margin: 25px 0;
    @include screen(1280) {
        margin: 50px 0;
    }
  &__top-content {
	margin-bottom: 42px;
	padding: 0 150px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	}
  }

  &__tabs {
	display: none;
	background-color: #002433;
	border-radius: 20px;
  }

  &__labels {
	display: flex;
	margin: 0 -10px;
	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	  margin: 0;
	  margin-bottom: 22px;
	}
  }

  &__label {
	padding: 0 10px 25px;
	text-align: center;
	flex: 0 1 50%;
	position: relative;
	margin-bottom: 0;
	font-size: 33px;
	font-weight: 400;
	cursor: pointer;
	@media screen and (max-width: 1024px) {
	  flex: 0 1 100%;
	  padding: 0;
	  text-align: left;
	  font-size: 22px;
	  padding-left: 40px;
	}
	//&:after{
	//  display: none;
	//  content: "";
	//  position: absolute;
	//  width: 0px;
	//  height: 0px;
	//  border-style: solid;
	//  border-width: 0 30.5px 24px 30.5px;
	//  border-color: transparent transparent #002433 transparent;
	//  transform: rotate(0deg) translateX(-50%);
	//  left: 50%;
	//  bottom: 0;
	//}
	&.active {
	  font-weight: 700;

	  &:after {
		content: "";
		display: block;
		position: absolute;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 30.5px 24px 30.5px;
		border-color: transparent transparent #002433 transparent;
		transform: rotate(0deg) translateX(-50%);
		left: 50%;
		bottom: 0;
		@media screen and (max-width: 1024px) {
		  transform: rotate(90deg) translateX(20%) translateY(100%);
		  left: 0;
		  bottom: 50%;
		}
	  }
	}

	&:first-child {
	  @media screen and (max-width: 1024px) {
		margin-bottom: 20px;
	  }
	}
  }

  &__content {
	display: flex;
	align-items: center;
	padding: 42px 115px 42px 36px;
	justify-content: space-between;

	p {
	  line-height: 1.5;
	  color:white;
	}

	@media screen and (max-width: 1024px) {
	  flex-direction: column-reverse;
	  gap: 45px;
	  padding-top: 22px;
	  padding-left: 15px;
	  padding-right: 11px;
	  padding-bottom: 8px;
	}
  }

  &__inner {
	max-width: 1134px;
	border-radius: 20px;
	margin: 0 auto;
  }
}

.dual-content {
  &__link {
	margin-top: 25px;
  }

  &__content {
	flex: 0 0 420px;

	.button {
	  margin-top: 30px;
	  padding: 7px 44px;
	  font-size: 20px;
	  outline: 2px solid #00FFFF;
	  border: 3px solid transparent;
	  border-radius: 24px;
	  color: white;
	  text-decoration: none;


	  &:hover {
		border: 3px solid #00FFFF;
	  }

	  @media screen and (max-width: 1024px) {
		padding: 7px 44px;
	  }
	}

	@media screen and (max-width: 1024px) {
	  flex: 0 0 auto;
	}
  }

  &__image {
	flex: 0 0 500px;
	@media screen and (max-width: 1280px) {
	  flex: 0 0 460px;
	}
	@media screen and (max-width: 1024px) {
	  flex: 0 0 auto;
	}

	img {
	  width: 500px;
	  border-radius: 50px;
	  height: auto;
	  object-fit: contain;
	  @media screen and (max-width: 1280px) {
		width: 430px;
		border-radius: 20px;
		height: auto;
	  }
	}
  }
  &__text {
	color: white;
	padding-left: 28px;
	position: relative;

	&:before {
	  content: "";
	  position: absolute;
	  height: 100%;
	  left: 0;
	  top: 0;
	  bottom: 0;
	  width: 8px;
	  background-color: #5CFF7A;
	  border-radius: 4px;
	  @media screen and (max-width: 1024px) {
		width: 3px;
	  }
	}
  }
}
