.text-image-three {
  margin: 0px 0;
  @media screen and (max-width: 1024px){
	margin: 0;
  }
  &__wrapper {
	position: relative;
	background-color: #002433;
	padding-top: 41px;
	padding-bottom: 55px;
	@media screen and (max-width: 1024px){
	  padding-bottom: 0;
	  padding-top: 30px;
	}

	h1, h2, h3, h4, h5, h6, p, a ,li{
	  color: white;
	}
	&.white{
	  h1, h2, h3, h4, h5, h6, p, a,li {
		color: #002433;
	  }
	}
	&.lightgrey{
	  h1, h2, h3, h4, h5, h6, p, a,li {
		color: #002433;
	  }
	}
  }

  &__image {
	position: absolute;
	right: 0;
	width: 39%;
	top: 0;
	height: 100%;
	@media screen and (max-width: 1024px){
	  position: static;
	  width: 100%;
	  height: 312px;
	}

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  object-position: bottom left;
	}
  }

  &__bullets {
	margin-top: 20px;
  }

  &__inner {
	max-width: 750px;
	@media screen and (max-width: 1280px){
	  max-width: 550px;
	}
	@media screen and (max-width: 1024px){
	  max-width: 100%;
	}
	@media screen and (max-width: 768px){
	  margin-bottom: 35px;
	}
  }
  &__bullets{
	display: flex;
	margin: 0px -15px;
	padding-top: 15px;
	padding-left: 40px;
	justify-content: space-between;
	max-width: 675px;
	@media screen and (max-width: 1024px){
	  margin: 0;
	  max-width: 100%;
	}
	@media screen and (max-width: 768px){
	  flex-direction: column;
	  padding-left: 20px;
	}
  }
  &__column {
	flex: 0 1 50%;
	padding: 0 15px;
	@media screen and (max-width: 1024px){
	  flex: 0 1 100%;
	  padding: 0;
	}
  }
  &__lists{
	padding-left: 0;
	@media screen and (max-width: 768px){
	  margin-bottom: 5px;
	  margin-top: 0;
	}
	li{
	  position: relative;
	  color: white;
	  font-size: 16px;
	  line-height: 1.5;
	  max-width: 290px;
	  padding-left: 50px;
	  &:before{
		content: "";
		left: 0;
		position: absolute;
		top: 12px;
		transform: translateY(-50%);
		width: 16px;
		height: 8px;
		background-color: #F9304D;
		border-radius: 4px;
	  }
	  @media screen and (max-width: 768px){
		padding-left: 35px;
		max-width: 100%;
	  }
	}
  }
}
