.text-image-three {
  margin: 0px 0;
}
@media screen and (max-width: 1024px) {
  .text-image-three {
    margin: 0;
  }
}
.text-image-three__wrapper {
  position: relative;
  background-color: #002433;
  padding-top: 41px;
  padding-bottom: 55px;
}
@media screen and (max-width: 1024px) {
  .text-image-three__wrapper {
    padding-bottom: 0;
    padding-top: 30px;
  }
}
.text-image-three__wrapper h1, .text-image-three__wrapper h2, .text-image-three__wrapper h3, .text-image-three__wrapper h4, .text-image-three__wrapper h5, .text-image-three__wrapper h6, .text-image-three__wrapper p, .text-image-three__wrapper a, .text-image-three__wrapper li {
  color: white;
}
.text-image-three__wrapper.white h1, .text-image-three__wrapper.white h2, .text-image-three__wrapper.white h3, .text-image-three__wrapper.white h4, .text-image-three__wrapper.white h5, .text-image-three__wrapper.white h6, .text-image-three__wrapper.white p, .text-image-three__wrapper.white a, .text-image-three__wrapper.white li {
  color: #002433;
}
.text-image-three__wrapper.lightgrey h1, .text-image-three__wrapper.lightgrey h2, .text-image-three__wrapper.lightgrey h3, .text-image-three__wrapper.lightgrey h4, .text-image-three__wrapper.lightgrey h5, .text-image-three__wrapper.lightgrey h6, .text-image-three__wrapper.lightgrey p, .text-image-three__wrapper.lightgrey a, .text-image-three__wrapper.lightgrey li {
  color: #002433;
}
.text-image-three__image {
  position: absolute;
  right: 0;
  width: 39%;
  top: 0;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .text-image-three__image {
    position: static;
    width: 100%;
    height: 312px;
  }
}
.text-image-three__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom left;
}
.text-image-three__bullets {
  margin-top: 20px;
}
.text-image-three__inner {
  max-width: 750px;
}
@media screen and (max-width: 1280px) {
  .text-image-three__inner {
    max-width: 550px;
  }
}
@media screen and (max-width: 1024px) {
  .text-image-three__inner {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .text-image-three__inner {
    margin-bottom: 35px;
  }
}
.text-image-three__bullets {
  display: flex;
  margin: 0px -15px;
  padding-top: 15px;
  padding-left: 40px;
  justify-content: space-between;
  max-width: 675px;
}
@media screen and (max-width: 1024px) {
  .text-image-three__bullets {
    margin: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .text-image-three__bullets {
    flex-direction: column;
    padding-left: 20px;
  }
}
.text-image-three__column {
  flex: 0 1 50%;
  padding: 0 15px;
}
@media screen and (max-width: 1024px) {
  .text-image-three__column {
    flex: 0 1 100%;
    padding: 0;
  }
}
.text-image-three__lists {
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .text-image-three__lists {
    margin-bottom: 5px;
    margin-top: 0;
  }
}
.text-image-three__lists li {
  position: relative;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  max-width: 290px;
  padding-left: 50px;
}
.text-image-three__lists li:before {
  content: "";
  left: 0;
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-color: #F9304D;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .text-image-three__lists li {
    padding-left: 35px;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
