@import "mixins.scss";

.check-list {
  list {

  }
  item {
    display: flex;
    gap:12px;
    margin-bottom: 15px;
    svg {
      margin: 0.6em 0;
    }
    .item-content {
      @include headings() {
        color: rgba(92, 255, 122, 1);
        margin-bottom: -7px;
      }
    }
  }
}