.check-list item {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}
.check-list item svg {
  margin: 0.6em 0;
}
.check-list item .item-content h1,
.check-list item .item-content h2,
.check-list item .item-content h3,
.check-list item .item-content h4,
.check-list item .item-content h5,
.check-list item .item-content h6 {
  color: rgb(92, 255, 122);
  margin-bottom: -7px;
}

/*# sourceMappingURL=style.css.map */
