{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="wrapper">
        <list>
        {% for item in fields.content.items %}
            <item>
                <div class="check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33.834" height="33.834" viewBox="0 0 33.834 33.834">
                        <g id="checkmark_bullet" data-name="checkmark bullet" transform="translate(-988 -2163)">
                            <g id="Path_1207" data-name="Path 1207" transform="translate(988 2163)" fill="none">
                            <path d="M16.917,0A16.917,16.917,0,1,1,0,16.917,16.917,16.917,0,0,1,16.917,0Z" stroke="none"/>
                            <path d="M 16.9171142578125 2.000003814697266 C 12.93261337280273 2.000003814697266 9.186594009399414 3.551654815673828 6.369123458862305 6.369123458862305 C 3.551654815673828 9.186594009399414 2.000003814697266 12.93261337280273 2.000003814697266 16.9171142578125 C 2.000003814697266 20.90161514282227 3.551654815673828 24.64763450622559 6.369123458862305 27.46510314941406 C 9.186594009399414 30.28257369995117 12.93261337280273 31.83422470092773 16.9171142578125 31.83422470092773 C 20.90161514282227 31.83422470092773 24.64763450622559 30.28257369995117 27.46510314941406 27.46510314941406 C 30.28257369995117 24.64763450622559 31.83422470092773 20.90161514282227 31.83422470092773 16.9171142578125 C 31.83422470092773 12.93261337280273 30.28257369995117 9.186594009399414 27.46510314941406 6.369123458862305 C 24.64763450622559 3.551654815673828 20.90161514282227 2.000003814697266 16.9171142578125 2.000003814697266 M 16.9171142578125 3.814697265625e-06 C 26.26017379760742 3.814697265625e-06 33.83422470092773 7.574054718017578 33.83422470092773 16.9171142578125 C 33.83422470092773 26.26017379760742 26.26017379760742 33.83422470092773 16.9171142578125 33.83422470092773 C 7.574054718017578 33.83422470092773 3.814697265625e-06 26.26017379760742 3.814697265625e-06 16.9171142578125 C 3.814697265625e-06 7.574054718017578 7.574054718017578 3.814697265625e-06 16.9171142578125 3.814697265625e-06 Z" stroke="none" fill="#5cff7a"/>
                            </g>
                            <path id="Icon_ionic-ios-checkmark" data-name="Icon ionic-ios-checkmark" d="M27.293,13.725,25.908,12.3a.3.3,0,0,0-.22-.094h0a.286.286,0,0,0-.22.094l-9.6,9.673-3.495-3.495a.3.3,0,0,0-.441,0l-1.4,1.4a.314.314,0,0,0,0,.449l4.408,4.408a1.394,1.394,0,0,0,.921.449,1.461,1.461,0,0,0,.913-.433h.008L27.3,14.174A.336.336,0,0,0,27.293,13.725Z" transform="translate(986.008 2161.221)" fill="#5cff7a"/>
                        </g>
                    </svg>
                </div>
                <div class="item-content">
                {{item.content}}
                </div>
            </item>
        {% endfor %}
        </list>
    </div>
</section>
{% endblock %}
