@use "mixins" as *;




// .wp-block-button {
//     flex: 0 0 100%;
//     @include screen(768) {
//         flex:unset;
//     }
//     &s {
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         gap: 15px;
//     }
//     &__link {
//         font-size: 16px;
//         font-weight: 600;
//         background: #95CDCD;
//         color: #213430 !important;
//         border-radius: 4px !important;
//         transition: all .3s ease-out;
//         width: 100%;
//         min-width: 200px;
//         padding: 12px 30px!important;
//         &:hover {
//             color: #95CDCD !important;
//             background: #3e5863 !important;
//         }
//         @include screen(1024) {
//             font-size: 18px;
//             padding: 18px 30px !important;
//             min-width: 260px !important;
//         }
//     }
//     &.is-style-outline {
//         .wp-element-button {
//             padding: 10px 30px!important;
//             @include screen(1024) {
//                 padding: 16px 30px !important;
//             }
//             &:hover {
//                 color:white !important;
//                 background:#009368 !important;
//                 border-color: #009368 !important;
//             }
//         }
//     }
// }
