@use "mixins" as *;

.container {
  margin: 0 auto;
  position: relative;
  width: auto;

  @include screen(1024) {
	max-width: 960px;
  }
  @include screen(1280) {
	max-width: 1180px;
  }
  @include screen(1366) {
	max-width: 1280px;
  }
  @include screen(1536) {
	max-width: 1366px;
  }
  @media screen and (max-width: 1024px) {
	padding: 0 24px;
  }
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  &-mobile {
	@include screen(0, 1279) {
	  display: none !important;
	}
  }

  &-desktop {
	@include screen(1280) {
	  display: none !important;
	}
  }
}

.wp-block-group.has-background {
  padding:20px;
  @include screen(1024) {
    padding:40px;
	}
}

body.admin-bar {
  .header {
    &-wrapper {
      @include screen(1280) {
        top: 32px;
      }
    }
    &-menu-container {
      @include screen(1280) {
        top: calc(var(--header) + 50px);
      }
    }
    &.sticky {
      .header-menu-container {
        @include screen(1280) {
          top: 97px;
        }
      }
    }
  }
}