@use "mixins" as *;

// @import "/home/web/www/html/wp-content/themes/pemac/node_modules/rfs/scss.scss";


// @font-face {
//   font-family: "icomoon";
//   src: url('/wp-content/themes/pemac/assets/fonts/icomoon.ttf') format("truetype"),
//       url('/wp-content/themes/pemac/assets/fonts/icomoon.woff') format("woff"),
//       url('/wp-content/themes/pemac/assets/fonts/icomoon.woff2') format("woff2");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito', sans-serif;
}

p {
  margin: 0.7em 0;
  font-family: 'Nunito';
  line-height: 1.44;
  color:rgba(78, 76, 90, 1);
}

.wp-block-button {
  border-radius: 24px;
  border: 3px solid #00FFFF;
  line-height: 1;

  &__link {
	border: 2px solid transparent;
	font-weight: 400;
	background-color: transparent;
	padding: 10px 16px;
	transition: all .3s;

	&:hover {
	  border: 2px solid #00FFFF;
	}
  }
}

@include headings() {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 600;
  color: rgba(0, 36, 51, 1);
}

h {
  &1 {
	font-size: 2.375rem;;
	font-weight: 700;
	line-height: 1.14;
	@include screen(1024) {
	  @include font-size(3rem);
	}
  }

  &2 {
	@include font-size(1.75rem);
	font-weight: 700;
	line-height: 1.1;
	@include screen(1024) {
	  @include font-size(2.5rem);
	}
  }

  &3 {
	@include font-size(1.35rem);
	font-weight: 700;
	line-height: 1.25;
	@include screen(1024) {
	  @include font-size(1.55rem);
	}
  }

  &4 {
	@include font-size(1.13rem);
	font-weight: 700;
	line-height: 1.3;
	@include screen(1024) {
	  @include font-size(1.33rem);
	}
  }

  &5 {
	@include font-size(0.9rem);
	font-weight: 700;
	line-height: 1.3;
	@include screen(1024) {
	  @include font-size(1.11rem);
	}
  }

  &6 {
	@include font-size(0.8rem);
	font-weight: 700;
	line-height: 1.33;
	@include screen(1024) {
	  @include font-size(0.9rem);
	}
  }
}
.bg-cover{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-center{
  text-align: center;
}

.main-link {
  a {
	position: relative;
	font-size: 16px;
	color: #002433;
	font-weight: 700;
	text-decoration: none;
	padding-left: 20px;
	transition: all .3s;

	&:before {
	  content: "";
	  transition: all .3s;
	  position: absolute;
	  left: 0;
	  height: 16px;
	  width: 10px;
	  top: 50%;
	  transform: translateY(-50%);
	  background-image: url("./../assets/images/chevron-right.svg");
	}
	&:hover{
	  transition: all .3s;
	  &:before{
		transition: all .3s;
		left: 4px;
	  }
	}
  }
}

.button {
  border-radius: 24px;
  padding: 7px 45px;
  border: 2px solid transparent;
  outline: 3px solid #00FFFF;
  transition: all .3s ease-in-out;
  font-size: 18px;
  color: white;
  text-decoration: none;
  &:hover{
	border: 2px solid #00FFFF;
  }
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 20px;
  @include screen(1280) {
	padding-left: 25px;
  }

  li + li {
	margin-top: 6px;
	@include screen(1280) {
	  margin-top: 10px;
	}
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 20px;
  @include screen(1280) {
	padding-left: 25px;
  }

  li + li {
	margin-top: 7px;
	@include screen(1280) {
	  margin-top: 10px;
	}
  }
}


.acf-innerblocks-container {
  a[data-type="URL"],
  a[data-type="page"],
  p > a {
    text-decoration: underline !important;
    color: inherit;
    font-weight: 700;
  }
}
