@import "../../../node_modules/rfs/scss.scss";

@mixin screen($from: 0, $until: 0) {
  @if $from==0 {
      @media only screen and (max-width: ($until * 1px)) {
          @content;
      }
  } @else if $until==0 {
      @media only screen and (min-width: ($from * 1px)) {
          @content;
      }
  } @else {
      @media only screen and (min-width: ($from * 1px)) and (max-width: ($until * 1px)) {
          @content;
      }
  }
}

@mixin headings() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}
