.linked-cards {
  padding: 72px 0;
  @media screen and (max-width: 1024px) {
	padding: 30px 0;
  }
  @media screen and (max-width: 768px) {
	padding: 12px 0;
  }
  &__inner {
	display: flex;
	justify-content: center;
	margin: 0 -8px;
	row-gap: 12px;
	flex-wrap: wrap;
	max-width: 1152px;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
	  margin: 0;
	  row-gap: 30px;
	}
  }

  &__item {
	flex: 0 1 50%;
	padding: 0 8px;
	display: flex;
	@media screen and (max-width: 768px) {
	  flex: 0 1 100%;
	  padding: 0;
	}

	p, h1, h2, h3, h4, h5, h6 {
	  color: #fff;
	}

	h1, h2, h3, h4, h5, h6 {
	  margin: 0;

	}
  }
  &__top-content{
	margin-bottom: 35px;
  }
  &__url{
	text-decoration: none;
  }
}

.linked-item {
  transition: all .3s;
  height: 100%;
  &:hover{
	.arrow-item{
	  &:before{
		left: 4px;
	  }
	}
  }
  &__inner {
	display: flex;
	padding-left: 45px;
	padding-top: 42px;
	padding-bottom: 42px;
	padding-right: 100px;
	flex-direction: column;
	border-radius: 36px;
	height: 100%;
	position: relative;
	overflow: hidden;
	@media screen and (max-width: 1024px) {
	  padding-right: 20px;
	  padding-bottom: 30px;
	  padding-left: 20px;
	  padding-top: 20px;
	}
	@media screen and (max-width: 768px) {
	  padding-left: 30px;
	  padding-right: 30px;
	}
	&:before {
	  content: "";
	  left: 0;
	  top: 0;
	  position: absolute;
	  background-color: rgba(0, 36, 51, 0.5);
	  width: 100%;
	  height: 100%;
	  @media screen and (max-width: 768px) {
		mix-blend-mode: color;
	  }
	}
  }

  &__content {
	padding-bottom: 20px;
	position: relative;
	z-index: 15;
	@media screen and (max-width: 768px) {
	  padding-bottom: 32px;
	}
  }

  &__link {
	margin-top: auto;
	position: relative;
	z-index: 15;
  }

  p.arrow-item {
	color: #fff !important;
	font-size: 20px;
	position: relative;
	padding-left: 20px;
	font-weight: 700;
	text-decoration: none;
	@media screen and (max-width: 768px) {
	  font-size: 12px;
	}

	&:before {
	  content: "";
	  transition: all .3s;
	  position: absolute;
	  left: 0;
	  height: 16px;
	  width: 10px;
	  top: 6px;
	  //transform: translateY(-50%);
	  background-image: url("./../../assets/images/chevron-right_light.svg");
	  @media screen and (max-width: 768px) {
		top: 0px;
	  }
	}
  }
}
