.linked-cards {
  padding: 72px 0;
}
@media screen and (max-width: 1024px) {
  .linked-cards {
    padding: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  .linked-cards {
    padding: 12px 0;
  }
}
.linked-cards__inner {
  display: flex;
  justify-content: center;
  margin: 0 -8px;
  row-gap: 12px;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .linked-cards__inner {
    margin: 0;
    row-gap: 30px;
  }
}
.linked-cards__item {
  flex: 0 1 50%;
  padding: 0 8px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .linked-cards__item {
    flex: 0 1 100%;
    padding: 0;
  }
}
.linked-cards__item p, .linked-cards__item h1, .linked-cards__item h2, .linked-cards__item h3, .linked-cards__item h4, .linked-cards__item h5, .linked-cards__item h6 {
  color: #fff;
}
.linked-cards__item h1, .linked-cards__item h2, .linked-cards__item h3, .linked-cards__item h4, .linked-cards__item h5, .linked-cards__item h6 {
  margin: 0;
}
.linked-cards__top-content {
  margin-bottom: 35px;
}
.linked-cards__url {
  text-decoration: none;
}

.linked-item {
  transition: all 0.3s;
  height: 100%;
}
.linked-item:hover .arrow-item:before {
  left: 4px;
}
.linked-item__inner {
  display: flex;
  padding-left: 45px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 100px;
  flex-direction: column;
  border-radius: 36px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .linked-item__inner {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .linked-item__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.linked-item__inner:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 36, 51, 0.5);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .linked-item__inner:before {
    mix-blend-mode: color;
  }
}
.linked-item__content {
  padding-bottom: 20px;
  position: relative;
  z-index: 15;
}
@media screen and (max-width: 768px) {
  .linked-item__content {
    padding-bottom: 32px;
  }
}
.linked-item__link {
  margin-top: auto;
  position: relative;
  z-index: 15;
}
.linked-item p.arrow-item {
  color: #fff !important;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .linked-item p.arrow-item {
    font-size: 12px;
  }
}
.linked-item p.arrow-item:before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  left: 0;
  height: 16px;
  width: 10px;
  top: 6px;
  background-image: url("./../../assets/images/chevron-right_light.svg");
}
@media screen and (max-width: 768px) {
  .linked-item p.arrow-item:before {
    top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
