.logo-block__swiper {
  overflow: hidden !important;
}

.logo-block__item {
  background-color: #F9F9F8;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .logo-block__item {
    border-radius: 17px;
  }
}

.logo-block {
  padding: 30px 0;
  padding-bottom: 115px;
}
@media screen and (max-width: 768px) {
  .logo-block {
    padding-bottom: 115px;
  }
}
.logo-block .swiper-button-next {
  width: 43px;
  height: 43px;
  border: 1px solid #00FFFF;
  background-color: #00FFFF;
  color: #002433 !important;
  right: calc(49% - 50px);
  top: auto;
  border-radius: 50%;
  bottom: -70px;
  z-index: 10;
}
.logo-block .swiper-button-prev {
  color: #002433 !important;
  width: 43px;
  background-color: #00FFFF;
  height: 43px;
  border: 1px solid #00FFFF;
  left: calc(50% - 50px);
  top: auto;
  border-radius: 50%;
  bottom: -70px;
  z-index: 10;
}
.logo-block .swiper-button-disabled {
  opacity: 1 !important;
  background-color: transparent;
}
.logo-block .swiper-button-next:after, .logo-block .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .logo-block .swiper-pagination {
    display: none;
  }
}
.logo-block .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  border: 1px solid #002433;
  background-color: transparent;
}
.logo-block .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #002433;
  background-color: #00FFFF;
}
.logo-block .swiper-pagination {
  bottom: -60px !important;
}
.logo-block__title {
  text-align: center;
  margin-bottom: 43px;
}

/*# sourceMappingURL=style.css.map */
