.logo-block__swiper {
  overflow: hidden!important;
}
.logo-block__item{
  background-color: #F9F9F8;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  @media screen and (max-width: 768px) {
	border-radius: 17px;
  }
}
.logo-block{
  padding: 30px 0;
  padding-bottom: 115px;
  @media screen and (max-width: 768px) {
	padding-bottom: 115px;
  }
  .swiper-button-next{
	@media screen and (min-width: 768px) {
	  //display: none!important;
	}
	width: 43px;
	height: 43px;
	border: 1px solid #00FFFF;
	background-color: #00FFFF;
	color: #002433!important;
	right: calc(49% - 50px);
	top: auto;
	border-radius: 50%;
	bottom: -70px;
	z-index: 10;
  }
  .swiper-button-prev{
	@media screen and (min-width: 768px) {
	  //display: none!important;
	}
	color: #002433!important;
	width: 43px;
	background-color: #00FFFF;
	height: 43px;
	border: 1px solid #00FFFF;
	left: calc(50% - 50px);
	top: auto;
	border-radius: 50%;
	bottom: -70px;
	z-index: 10;
  }
  .swiper-button-disabled{
	opacity: 1!important;
	background-color: transparent;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
	font-size: 18px;
	font-weight: 900;
  }
  .swiper-pagination{
	@media screen and (max-width: 768px) {
	  display: none;
	}
  }
  .swiper-pagination-bullet{
	width: 17px;
	height: 17px;
	border: 1px solid #002433;
	background-color: transparent;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
	border: 2px solid #002433;
	background-color: #00FFFF;
  }
  .swiper-pagination{
	bottom: -60px!important;
  }
  &__title{
	text-align: center;
	margin-bottom: 43px;
  }
}
