.privacy-policy{
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 1024px){
	padding: 30px 0;
  }
  &__content{
	h3{
	  margin-top: 35px;
	}
  }
}
.page-id-1095{
  .case-study-hero__container{
	max-width: 1150px;
  }
}
