$darkgreen: #002433;
$blackgreen: #000e14;
$white: #fff;
$brightblue: #00ffff;


.acfblock-textandimageblocktwo {
    background-color: $blackgreen;
    height: 90vh;
    max-height: 60rem;
    border-bottom-right-radius: 10rem;
    position: relative;
    overflow: hidden;
    @media screen and (min-width:1280px) {
        min-height: 950px;
    }

    .background_a {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.1;
    }


    .background_b {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.3;
    }




    .containo_pemac {
        height: 100%;
        margin: 0 auto;
        max-width: 1366px;
        padding: 0 24px;
        @media screen and (min-width:1280px) {
            padding: 0;
            width: 90vw;
        }
        .flexholder {
            display: flex;
            align-items: center;
            height: 100%;

            .leftarea {
                height: 100%;

                @media screen and (min-width:992px) {
                    width: 50%;
                }

                @media screen and (max-width:991px) {
                    width: 90%;
                }

                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .titletext,
                .contento {
                    position: relative;
                    z-index: 6;

                    @media screen and (min-width:992px) {
                        max-width: 40rem;
                    }
                }

            }
        }
    }

    .circlezone {
        height: 100%;
        width: 40%;
        position: absolute;
        right: 0;
        top: 0;

        .blurbox {
            border-radius: 2rem;
            height: 6.5rem;
            width: 6.5rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
                height: calc(100% - 2rem);
                width: calc(100% - 2rem);
            }

            .underglass {
                position: absolute;
                border-radius: 2rem;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.8;
                pointer-events: none;
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
            }
        }



        .circlebox.circlebox_a {
            @media screen and (min-width:1440px) {
                width: 80rem;
                height: 80rem;
                position: absolute;
                bottom: -52rem;
                right: -40rem;

            }

            @media screen and (min-width:768px) and (max-width:1439px) {
                width: 70rem;
                height: 70rem;
                position: absolute;
                bottom: -45rem;
                right: -30rem;
            }

            @media screen and (max-width:767px) {
                width: 70rem;
                height: 70rem;
                position: absolute;
                bottom: -45rem;
                right: -30rem;
                opacity: 0.4
            }


            //box coming up from below:::::::
            .boximage_a {

                position: absolute;
                // background: #fff;
                top: 11%;
                left: 14%;
                z-index: 9;

                @media screen and (max-width:991px) {
                    display: none;
                }
            }

            //end bottom circle
        }


        .circlebox.circlebox_b {
            @media screen and (min-width:1440px) {
                width: 80rem;
                height: 80rem;
                position: absolute;
                top: -22rem;
                right: -59rem;

            }

            @media screen and (min-width:768px) and (max-width:1439px) {
                width: 70rem;
                height: 70rem;
                position: absolute;
                top: -12rem;
                right: -49rem;
            }

            @media screen and (max-width:767px) {
                width: 70rem;
                height: 70rem;
                position: absolute;
                top: -12rem;
                right: -49rem;
                opacity: 0.4
            }

            //boxes coming up from top:::::::
            .boximage_ba {
                top: 45%;
                left: -1%;
                z-index: 9;

                @media screen and (max-width:991px) {
                    display: none;
                }
            }

            .boximage_bb {
                top: 77%;
                left: 10%;
                z-index: 9;

                @media screen and (max-width:991px) {
                    display: none;
                }
            }

            //end top circle
        }




        .maincircle {
            background-image: url(images/greencircle.svg);
            margin: 0;
            padding: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }



        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }


        .rotating {
            -webkit-animation: rotating 12s linear infinite;
            -moz-animation: rotating 12s linear infinite;
            -ms-animation: rotating 12s linear infinite;
            -o-animation: rotating 12s linear infinite;
            animation: rotating 12s linear infinite;
        }

        .rotating_slower {
            -webkit-animation: rotating 15s linear infinite;
            -moz-animation: rotating 15s linear infinite;
            -ms-animation: rotating 15s linear infinite;
            -o-animation: rotating 15s linear infinite;
            animation: rotating 15s linear infinite;
        }

        //end imagearea
    }


}


/********************/
/*** ********** *****/
/********************/
.hasfader {
    opacity: 0;
    transition: all .2s ease;
}

.hasfader.fadedin {
    opacity: 1;
    transition: all .2s ease;
}


/********************/
/*** button *****/
/********************/

.pemac_button {
    position: relative;
    color: $white;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    max-width: 10rem;
    text-align: center;
    z-index: 1;
    transition: all .2s ease;
    border: 2px solid transparent;

    &:hover {
        transition: all .2s ease;
    }



    &.outlined {
        background-color: transparent;
        border: 2px solid $brightblue;

        &:hover {
            box-shadow: inset 0 0 0 3px $brightblue;
        }
    }

}