.spacer {
  height: 102px;
  background: #160F50;
}

.theme-not-found {
  background: #160F50;
  min-height: calc(100vh - var(--header) - var(--footer));
  display: flex;
  align-items: center;
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found {
    padding: 0px;
  }
}
.theme-not-found * {
  color: white;
}
.theme-not-found .left {
  font-size: 125px;
  line-height: 0.8;
  font-weight: 500;
  text-align: right;
}
@media only screen and (min-width: 500px) {
  .theme-not-found .left {
    font-size: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .theme-not-found .left {
    font-size: 125px;
  }
}
@media only screen and (min-width: 1280px) {
  .theme-not-found .left {
    font-size: 200px;
    flex: 0 0 500px;
  }
}
.theme-not-found .right {
  border-top: 2px solid white;
  padding: 25px 0;
  margin: 20px 0;
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found .right {
    padding: 25px;
    text-align: unset;
    margin: 0;
    margin-left: 25px;
    border-top: none;
    border-left: 2px solid white;
  }
}
.theme-not-found .top {
  font-size: 34px;
  line-height: 1;
}
.theme-not-found .mid {
  font-size: 24px;
  line-height: 1;
  margin: 10px 0;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found .mid {
    width: 375px;
  }
}
.theme-not-found .bot {
  font-size: 22px;
  line-height: 1;
}
.theme-not-found .bot a {
  text-decoration: none;
  color: #b7e539;
}
.theme-not-found .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found .wrapper {
    flex-direction: row;
  }
}
.theme-not-found .container {
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found .container {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
