{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}} style="--header:125px;--footer:207px;">
    <div class="container">
        <div class="wrapper">
            <div class="left">404</div>
            <div class="right">
                <div class="top"><strong>Oh No!</strong></div>
                <div class="mid">The page you are looking for doesn’t exist or has been moved.</div>
                <div class="bot"><a href="/">Go Back</a></div>
            </div>
        </div>
    </div>
</section>
<script>

document.addEventListener("DOMContentLoaded", function(){
    var block = document.querySelector('.theme-not-found');
    block.style.setProperty('--header', document.querySelector('header').offsetHeight + 'px');
    block.style.setProperty('--footer', document.querySelector('footer').offsetHeight + 'px');
});
</script>
{% endblock %}
