@import "mixins.scss";

.hero-block-three {
  background-color: #002433;
  position: relative;
  min-height: 550px;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
	min-height: 893px;
	padding-top: 30px;

  }

  h4 {
	margin-bottom: -15px;
  }

  &:before {
	content: "";
	top: 0;
	left: 0;
	background-color: rgba(0, 36, 51, 0.25);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 11;
  }

  &__inner {
	position: relative;
	z-index: 15;
	@include screen(1024) {
	  padding: 50px 0px 50px;
	}
	@include screen(1366) {
	  padding: 200px 0px 40px;
	  min-height: 550px;
	}
	@include screen(1920) {
	  padding: 215px 15px 60px;
	}

	&:before {
	  content: "";
	  position: absolute;
	  background-image: url("./../../assets/images/subtraction.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	  width: 100%;
	  height: 100%;
	  left: -106px;
	  top: 0;
	  z-index: -1;
	  @media screen and (max-width: 1024px) {
		content: none;
	  }
	}

	p {
	  line-height: 1.5;
	  @media screen and (min-width: 1024px) {
		max-width: 635px;
	  }
	}
  }

  &__image {
	position: absolute;
	width: 1090px;
	height: 100%;
	right: 0;
	top: 0;
	@media screen and (max-width: 1024px) {
	  height: 550px;
	  top: auto;
	  bottom: 0;
	  transform: translateX(50%);
	  right: 50%;
	  z-index: 11;
	}

	img {
	  border-top-left-radius: 1000px;
	  border-top-right-radius: 1000px;
	  width: 100%;
	  height: 100%;
	}

	&:before {
	  content: "";
	  right: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  //background-color: rgba(0, 36, 51, 0.5);
	  position: absolute;
	  z-index: 12;
	  background-image: url("./../../assets/images/overlay_hero-min.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  opacity: 1;
	  mix-blend-mode: saturation;
	  @media screen and (max-width: 1024px) {
		background-image: none;
		background: transparent linear-gradient(180deg, #002433F7 0%, #0024334E 100%) 0% 0% no-repeat padding-box;
		mix-blend-mode: multiply;
		opacity: 1;
		border-top-left-radius: 1000px;
		border-top-right-radius: 1000px;
	  }
	}

	&:after {
	  content: "";
	  right: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #0024334E;
	  position: absolute;
	  z-index: 9;
	}
  }

  &__wrapper {
	@media screen and (max-width: 1024px) {
	  position: relative;
	  min-height: 893px;
	  &:after {
		content: "";
		position: absolute;
		width: 597px;
		height: 596px;
		left: -274px;
		top: 113px;
		border-radius: 50%;
		transform: rotate(0deg);
		background-image: none;
		background-color: #183946;
		z-index: 1;
	  }
	}
  }

  .acf-innerblocks-container {
	@include screen(1024) {
	  max-width: 80%;
	}
	@include screen(1366) {
	  max-width: 70%;
	}
	@include screen(1536) {
	  max-width: 65%;
	}

  }
}

@media screen and (max-width: 1152px) {
  .hero-block-three__inner {
	padding-top: 55px !important;
  }
}

@media screen and (max-width: 1230px) {
  .hero-block-three__inner:before {
	width: 115%;
	height: 115%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1152px){
  .hero-block-three__inner{
	padding-top: 55px!important;
  }
}
@media screen and (min-width: 1024px) {
  .hero-block-three__image {
	right: -200px;
	width: auto;

	img {
	  width: auto;
	}
  }
}
@media screen and (max-width: 1370px){
  .hero-block-three__inner:before {
	width: 150% !important;
	height: 120% !important;
  }
}
@media screen and (max-width: 1230px) {
  .hero-block-three__inner:before {
	width: 155% !important;
  }
}
@media screen and (max-width: 1024px){
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage{
	bottom: 0!important;
  }
}

