.hero-block-three {
  background-color: #002433;
  position: relative;
  min-height: 550px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hero-block-three {
    min-height: 893px;
    padding-top: 30px;
  }
}
.hero-block-three h4 {
  margin-bottom: -15px;
}
.hero-block-three:before {
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 36, 51, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
}
.hero-block-three__inner {
  position: relative;
  z-index: 15;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three__inner {
    padding: 50px 0px 50px;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-three__inner {
    padding: 200px 0px 40px;
    min-height: 550px;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-block-three__inner {
    padding: 215px 15px 60px;
  }
}
.hero-block-three__inner:before {
  content: "";
  position: absolute;
  background-image: url("./../../assets/images/subtraction.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: -106px;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__inner:before {
    content: none;
  }
}
.hero-block-three__inner p {
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .hero-block-three__inner p {
    max-width: 635px;
  }
}
.hero-block-three__image {
  position: absolute;
  width: 1090px;
  height: 100%;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__image {
    height: 550px;
    top: auto;
    bottom: 0;
    transform: translateX(50%);
    right: 50%;
    z-index: 11;
  }
}
.hero-block-three__image img {
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  width: 100%;
  height: 100%;
}
.hero-block-three__image:before {
  content: "";
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  background-image: url("./../../assets/images/overlay_hero-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  mix-blend-mode: saturation;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__image:before {
    background-image: none;
    background: transparent linear-gradient(180deg, rgba(0, 36, 51, 0.968627451) 0%, rgba(0, 36, 51, 0.3058823529) 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
  }
}
.hero-block-three__image:after {
  content: "";
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 36, 51, 0.3058823529);
  position: absolute;
  z-index: 9;
}
@media screen and (max-width: 1024px) {
  .hero-block-three__wrapper {
    position: relative;
    min-height: 893px;
  }
  .hero-block-three__wrapper:after {
    content: "";
    position: absolute;
    width: 597px;
    height: 596px;
    left: -274px;
    top: 113px;
    border-radius: 50%;
    transform: rotate(0deg);
    background-image: none;
    background-color: #183946;
    z-index: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1536px) {
  .hero-block-three .acf-innerblocks-container {
    max-width: 65%;
  }
}

@media screen and (max-width: 1152px) {
  .hero-block-three__inner {
    padding-top: 55px !important;
  }
}
@media screen and (max-width: 1230px) {
  .hero-block-three__inner:before {
    width: 115%;
    height: 115%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1152px) {
  .hero-block-three__inner {
    padding-top: 55px !important;
  }
}
@media screen and (min-width: 1024px) {
  .hero-block-three__image {
    right: -200px;
    width: auto;
  }
  .hero-block-three__image img {
    width: auto;
  }
}
@media screen and (max-width: 1370px) {
  .hero-block-three__inner:before {
    width: 150% !important;
    height: 120% !important;
  }
}
@media screen and (max-width: 1230px) {
  .hero-block-three__inner:before {
    width: 155% !important;
  }
}
@media screen and (max-width: 1024px) {
  .hero-block-three.alternative_layouts .hero-block-three__image figure.altbackimage {
    bottom: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
