.case-study-hero{
  padding-top: 120px;
  background-color: #002433;
  @media screen and (max-width: 1152px){
	padding-top: 20px;
  }
  &__inner{
	position: relative;
	z-index: 15;
  }
  &__decor{
	width: 70%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	img{
	  width: 100%;
	  height: 550px;
	  position: absolute;
	  bottom: 0;
	  mix-blend-mode: lighten;
	  @media screen and (max-width: 1024px){
		height: auto!important;
	  }
	}
  }
  &__wrapper{
	padding-top: 85px;
	padding-bottom: 68px;
	position: relative;
	@media screen and (max-width: 1152px){
	  padding-top: 20px;
	}
  }
  &__container{
	max-width: 840px;
	margin: 0 auto;
	padding: 0 20px;
  }
  &__subtitle{
	color: #00FFFF;
	font-size: 22px;
	margin-bottom: 10px;
  }
  &__title{
	color: white;
  }
  &__inner{
	position: relative;
	z-index: 15;
  }
  &__excerpt{
	p{
	  color: white;
	  font-size: 24px;
	  line-height: 1.2;
	  font-weight: 700;
	}
	margin-bottom: 10px;
  }
  &__download{
	margin-top: 70px;
	position: relative;
	cursor: pointer;
	&:before{
	  content: "";
	  position: absolute;
	  left: 30px;
	  background-image: url("./../../assets/images/Icon-download.svg");
	  width: 30px;
	  height: 30px;
	  background-size: contain;
	  background-repeat: no-repeat;
	  top: 50%;
	  transform: translateY(-50%);
	}
	a{
	  padding-top: 15px;
	  padding-bottom: 15px;
	  padding-left: 90px;
	  padding-right: 35px;
	  border: 2px solid #00FCFC;
	  border-radius: 40px;
	  text-decoration: none;
	  color: white;
	  font-size: 20px;
	  outline: 2px solid transparent;
	  display: inline-block;
	  &:hover{
		outline: 2px solid #00FCFC;
	  }
	}
  }
}
.case-study-hero__subtitle{
  display: none;
}
.case-study-template-default{
  .case-study-hero__subtitle{
	display: block!important;
  }
}
