@mixin screen($from: 0, $until: 0) {
    @if $from==0 {
        @media only screen and (max-width: ($until * 1px)) {
            @content;
        }
    }

    @else if $until==0 {
        @media only screen and (min-width: ($from * 1px)) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: ($from * 1px)) and (max-width: ($until * 1px)) {
            @content;
        }
    }
}

.header {
    z-index: 50;
    &-wrapper {
        z-index: 51;
        transition: all 0.3s ease-out;
        background: transparent;
        background-blend-mode: color-burn;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 25px;
        top: 0;
        left: 0;
        right: 0;
        background:#002433;
        box-shadow: 0 3px 6px rgba(0,0,0,0);
        @include screen(1280) {
            background:transparent;
            position: fixed;
            padding: 0;
            padding-top: 20px;
        }
    }
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 !important;
    }
    &-menu-container {
        transition:all 0.5s ease-out;
        position: fixed;
        z-index: 15;
        left: 0;
        right: 0;
        top: var(--header);
        bottom: 0;
        overflow: scroll;
        opacity:0;
        visibility: hidden;
        background: white linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 82%, rgba(128, 128, 128, 0.27) 100%) 0% 0% no-repeat padding-box;
        
        @include screen(1280) {
            background: unset;
            display: block;
            bottom: unset;
            top: calc(var(--header) + 10px);
        }
        .mobile-menu {
            padding: 50px 24px;
        }
    }
    &-menu {
        z-index: 2;
        position: relative;
        @include screen(1280) {
            padding-top:20px;
            padding-bottom: 50px;
        }
        a {
            text-decoration: none;
        }
        &-background {
            width: 280px;
        }
        &-item {
            margin-bottom: 30px;
            @include screen(1280) {
                margin-bottom: 7px;
            }

            &:not(.open) {
                .header-submenu-container {
                    max-height: 0;
                }
            }
            &.highlight {
                .header-menu-link {
                    @include screen(1280) {
                        max-width: 330px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
            &-wrapper {
//                background:rgba(206, 17, 38, 0.1);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &-link {
            color:rgba(0, 36, 51, 1);
            padding: 0;
            display: block;
            flex-grow: 1;
            font-size: 26px;
            line-height: 35px;
            @include screen(1280) {
                padding: 16px 18px;
                color:#002433;
                font-size: 14px;
                line-height: 16px;
            }
        }
        .primary {
            .header-menu-link {
                font-weight: 700;
            }
        }
        .header-menu-item {
            position: relative;
            cursor: pointer;
            &.parent {
                .header-menu-link.parent {
                    &:after {
                        transition: all .3s ease-out;
                        font-family: "icomoon";
                        content: "\e900";
                        color: rgba(0, 36, 51, 1);
                        font-size: 12px;
                        font-weight: 400;
                        vertical-align: middle;
                        position: absolute;
                        right: 0;
                        top: 7px;
                        transform: rotate(270deg);
                    }
                }
            }
            &.link {
                .header-menu-link {
                    position: relative;
                    &:after {
                        transition: all .3s ease-out;
                        font-family: "icomoon";
                        content: "\e906";
                        color: rgba(0, 36, 51, 1);
                        font-size: 25px;
                        font-weight: 400;
                        position: absolute;
                        right: 0;
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }
    &-cta {
        .btn {
            transition: all .3s ease-out;
            border-radius: 24px;
            padding: 10px 15px;
            outline: 2px solid #0ff;
            border: 3px solid transparent;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            min-width: 175px;
            display: block;
            text-align: center;
            &:hover {
                border: 3px solid #00FFFF;
              }
              @media screen and (max-width: 1024px) {
                margin-top: 10px;
                padding: 7px 44px;
            }
            &.two {
                color:#002433;
            }
            &.three {
                color:#002433;
                outline: 2px solid #002433;
                &:hover {
                    border: 3px solid #002433;
                  }
                  @media screen and (max-width: 1024px) {
                    margin-top: 10px;
                    padding: 7px 44px;
                }
            }
        }
    }
    &-logo {
        svg {
            display:block;
            max-height: 39px;
            width: auto;
            transition: all 0.3s ease-out;
            @include screen(1280) {
                max-height:60px;
            }
            path {
                transition:all 0.3s ease-out;
            }
        }
    }
    .top-menu {
        overflow: hidden;
        transition: all 0.3s ease-out;
        max-height: 49px;
        .header-dmenu-title {
            font-size:16px;
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
    &-single-menu {
        overflow: hidden;
        &:not(.mega) {
            // .header-single-blog {
            //     max-width: 0;
            //     max-height:0;
            // }
        }
    }
    &-submenu-wrapper {
        transform: translateX(100%);
        transition: all .5s ease-out;
        position: fixed;
        z-index: 52;
        left: 0;
        right: 0;
        top: var(--header);
        bottom: 0;
        overflow: scroll;
        background: #fff linear-gradient(0deg,#fff 0%,rgba(255,255,255,0) 82%,rgba(128,128,128,.27) 100%) 0% 0% no-repeat padding-box;
        padding: 24px;
        .header-menu-link {
            font-size: 22px;
            font-weight: 400 !important;
            line-height: 30px;
        }
        .highlight {
            .header-menu-link {
                font-weight: 700 !important;
            }
        }
    }
    .section-title {
        color: #9796A0;
        font-weight: 700;
        font-size: 22px;
        border-bottom: 1px solid #707070;
        border-radius: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;
        @include screen(1280) {
            font-size: 18px;
            margin: 0 5px;
            margin-bottom: 15px;
            padding: 10px;
        }
    }
    .mega {
        .header-menu-item.highlight {
            @include screen(1280) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .header-single-wrapper {
            @include screen(1280) {
                display: flex;
                flex-wrap: wrap;
                column-gap: 20px;
            }
        }
        .menu-column {
            @include screen(1280) {
                flex: 0 0 330px;
                max-width: 330px;
            }
        }
        .highlight {
            .header-menu-link {
                @include screen(1280) {
                    line-height: 30px;
                }
            }
        }
    }
}

.burger {
    will-change: transform;
    cursor: pointer;
    height: 35px;
    width: 25px;
    transform: rotate(180deg);
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        transition:all 0.3s ease-out;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        display: block;
        height: 7px;
        width: 25px;
        border-radius: 5px;
        &:nth-child(1) {
            top: calc(50% - 16px);
        }
        &:nth-child(2) {
            transition:all 0.1s ease-out;
            top: calc(50% - 4px);
        }
        &:nth-child(3) {
            top: calc(50% + 8px);
        }
    }
}

.menu-open {
    @include screen(0, 1279) {
        body {
            overflow: hidden;
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        .entry-content {
            padding-top: var(--header);
        }
    }
    .burger {
        span {
            &:nth-child(1) {
                transform: translateY(16px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
    .header-wrapper {
        @include screen(1280) {
            position:fixed !important;
        }
    }
    .header-menu-container {
        opacity: 1;
        visibility: visible;
    }
    .header-dmenu-closer {
        visibility: visible;
        opacity:1;
    }
    .header-menu-item.parent.active {
        .header-submenu-wrapper {
            transform: translateX(0%);
        }
    }
}

@include screen(1280) {
    .header {
        .burger {
            display:none;
        }

        .header-menu-item-wrapper {
            background:none;
        }

        .header-menu-container {
            overflow: visible;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            left: calc(var(--left) - 150px);
            width: fit-content;
            z-index: 100;
            max-width: 740px;
            &.mega {
                left: calc(var(--left) - 300px);
            }

        }

        .mobile-menu {
            display:none;
        }

        .desktop-menu {
            display: flex;
            height: 100%;
            &-wrapper {
                position: relative;
                z-index: 16;
            }
        }

        .header-single-submenu {
            margin-top:50px;
        }

        &-inner {
            gap:30px;
        }
        &-dmenu {
            flex-grow:1;
            &-link {
                color:white;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                display: flex;
                transition: all 0.1s ease-out;
                &.active {
                    font-weight:700;
                    .header-dmenu-title {
                        &:before {
                            opacity:1;
                        }
                        span {
                            opacity:0;
                        }
                    }
                }
                span {
                    opacity:1 !important;
                    transition: all 0.1s ease-out;
                }
            }
            &-closer {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 50;
                opacity: 0;
                visibility: hidden;
            }
            &-title {
                position:relative;
                &:before {
                    // content: attr(data-title);
                    // font-weight: 700;
                    // height: 1px;
                    // color: transparent;
                    // overflow: hidden;
                    // visibility: hidden;
                    // display:block;
                }
            }
            &-item {
                &.parent {
                    position:relative;
                    .header-dmenu-title {
                        &:after {
                            transition:all 0.3s ease-out;
                            font-family: "icomoon";
                            content: "\e900";
                            color: #fff;
                            font-size: 8px;
                            font-weight: 400;
                            margin-left: 10px;
                            vertical-align: middle;
                            user-select: none;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            -webkit-user-select: none;
                            -o-user-select: none;
                        }
                    }
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 6px;
                        width: 6px;
                        background: #00FFFF;
                        border-radius: 50%;
                        left: 50%;
                        bottom: -5px;
                        transform: translate(calc(50% - 12px));
                        transition:all 0.3s ease-out;
                        opacity:0;
                    }
                }
                &.current-menu-item {
                    &:before {
                        opacity:1;
                    }
                }
                &:hover {
                    &:before {
                        opacity:1;
                    }
                }
            }
        }
        .dmenu {
            display:flex;
            justify-content: flex-end;
            align-items: center;
            gap:25px;
        }
        &-menu {
            &-link {
                text-decoration:none;
                display:flex;
                align-items: center;
                padding: 14px 18px;
                transition:all 0.3s ease-out;
                border-radius: 7px;
                &:hover,
                &.active {
                    background:#00FFFF;
                }
            }
        }
        &-single {
            &-menu {
                overflow: hidden;
                min-width: 365px;
                max-width: 365px;
                background: #fff;
                border-radius: 12px;
                box-shadow: 0 3px 6px rgba(0,0,0,.16);
                &.mega {
                    min-width: 100%;
                    max-width: 100%;
                    display: block;

                }
            }
            &-wrapper {
                flex:0 0 100%;
                max-width: 100%;
                padding: 10px 25px;
            }
            &-blog {
                flex:0 0 50%;
                max-width: 50%;
            }
        }

    }
}

@include screen(0, 1279) {
    .header-dmenu {
        display:none;
    }
    .header-submenu-closer {
        padding-bottom: 24px;
        span {
            padding-left: 32px;
            display: block;
            position: relative;
            font-size: 26px;
            line-height: 35px;
            color:#002433;
            &:before {
                transition: all .3s ease-out;
                font-family: "icomoon";
                content: "\e900";
                color: rgba(0, 36, 51, 1);
                font-size: 9px;
                font-weight: 400;
                vertical-align: middle;
                position: absolute;
                transform: rotate(90deg);
                left: 0;
            }
        }
    }
}

.header {
    &-menu-link {
        @include screen(1280) {
            padding: 8px 12px;
        }
        @include screen(1536) {
            padding: 10px 15px;
        }
    }
}

.desktop-menu,
.header-submenu-container.desktop {
    @include screen(0,1279) {
        display:none;
    }
}

@include screen(1280) {
    .header.sticky {
        &.sticky {
            .header-wrapper {
                background:white;
                padding: 10px;
                height: unset;
                box-shadow: 0 3px 6px rgba(0,0,0,.16);
            }
            svg {
                max-height: 35px;
            }
            #Path_777,
            #Path_778,
            #Path_779,
            #Path_780 {
                fill:#002433 !important;
            }
            .header-dmenu-link {
                color:#002433;
            }
            .header-dmenu-title {
                &:after {
                    color:#002433;
                }
            }
            .header-dmenu-item {
                &:before {
                    bottom: -10px;
                    background:#002433;
                }
            }
            .header-cta .btn {
                color:#002433;
            }
            .top-menu {
                max-height: 0;
            }
            .header-menu-container {
                top:65px;
            }
        }
    }
}