.header {
  z-index: 50;
}
.header-wrapper {
  z-index: 51;
  transition: all 0.3s ease-out;
  background: transparent;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 25px;
  top: 0;
  left: 0;
  right: 0;
  background: #002433;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 1280px) {
  .header-wrapper {
    background: transparent;
    position: fixed;
    padding: 0;
    padding-top: 20px;
  }
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
}
.header-menu-container {
  transition: all 0.5s ease-out;
  position: fixed;
  z-index: 15;
  left: 0;
  right: 0;
  top: var(--header);
  bottom: 0;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  background: white linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 82%, rgba(128, 128, 128, 0.27) 100%) 0% 0% no-repeat padding-box;
}
@media only screen and (min-width: 1280px) {
  .header-menu-container {
    background: unset;
    display: block;
    bottom: unset;
    top: calc(var(--header) + 10px);
  }
}
.header-menu-container .mobile-menu {
  padding: 50px 24px;
}
.header-menu {
  z-index: 2;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .header-menu {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.header-menu a {
  text-decoration: none;
}
.header-menu-background {
  width: 280px;
}
.header-menu-item {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1280px) {
  .header-menu-item {
    margin-bottom: 7px;
  }
}
.header-menu-item:not(.open) .header-submenu-container {
  max-height: 0;
}
@media only screen and (min-width: 1280px) {
  .header-menu-item.highlight .header-menu-link {
    max-width: 330px;
    font-size: 22px;
    font-weight: 700;
  }
}
.header-menu-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-link {
  color: rgb(0, 36, 51);
  padding: 0;
  display: block;
  flex-grow: 1;
  font-size: 26px;
  line-height: 35px;
}
@media only screen and (min-width: 1280px) {
  .header-menu-link {
    padding: 16px 18px;
    color: #002433;
    font-size: 14px;
    line-height: 16px;
  }
}
.header-menu .primary .header-menu-link {
  font-weight: 700;
}
.header-menu .header-menu-item {
  position: relative;
  cursor: pointer;
}
.header-menu .header-menu-item.parent .header-menu-link.parent:after {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e900";
  color: rgb(0, 36, 51);
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 7px;
  transform: rotate(270deg);
}
.header-menu .header-menu-item.link .header-menu-link {
  position: relative;
}
.header-menu .header-menu-item.link .header-menu-link:after {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e906";
  color: rgb(0, 36, 51);
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 0;
  transform: rotate(270deg);
}
.header-cta .btn {
  transition: all 0.3s ease-out;
  border-radius: 24px;
  padding: 10px 15px;
  outline: 2px solid #0ff;
  border: 3px solid transparent;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  min-width: 175px;
  display: block;
  text-align: center;
}
.header-cta .btn:hover {
  border: 3px solid #00FFFF;
}
@media screen and (max-width: 1024px) {
  .header-cta .btn {
    margin-top: 10px;
    padding: 7px 44px;
  }
}
.header-cta .btn.two {
  color: #002433;
}
.header-cta .btn.three {
  color: #002433;
  outline: 2px solid #002433;
}
.header-cta .btn.three:hover {
  border: 3px solid #002433;
}
@media screen and (max-width: 1024px) {
  .header-cta .btn.three {
    margin-top: 10px;
    padding: 7px 44px;
  }
}
.header-logo svg {
  display: block;
  max-height: 39px;
  width: auto;
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 1280px) {
  .header-logo svg {
    max-height: 60px;
  }
}
.header-logo svg path {
  transition: all 0.3s ease-out;
}
.header .top-menu {
  overflow: hidden;
  transition: all 0.3s ease-out;
  max-height: 49px;
}
.header .top-menu .header-dmenu-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.header-single-menu {
  overflow: hidden;
}
.header-submenu-wrapper {
  transform: translateX(100%);
  transition: all 0.5s ease-out;
  position: fixed;
  z-index: 52;
  left: 0;
  right: 0;
  top: var(--header);
  bottom: 0;
  overflow: scroll;
  background: #fff linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 82%, rgba(128, 128, 128, 0.27) 100%) 0% 0% no-repeat padding-box;
  padding: 24px;
}
.header-submenu-wrapper .header-menu-link {
  font-size: 22px;
  font-weight: 400 !important;
  line-height: 30px;
}
.header-submenu-wrapper .highlight .header-menu-link {
  font-weight: 700 !important;
}
.header .section-title {
  color: #9796A0;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1280px) {
  .header .section-title {
    font-size: 18px;
    margin: 0 5px;
    margin-bottom: 15px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .mega .header-menu-item.highlight {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .header .mega .header-single-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .mega .menu-column {
    flex: 0 0 330px;
    max-width: 330px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .mega .highlight .header-menu-link {
    line-height: 30px;
  }
}

.burger {
  will-change: transform;
  cursor: pointer;
  height: 35px;
  width: 25px;
  transform: rotate(180deg);
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  transition: all 0.3s ease-out;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: block;
  height: 7px;
  width: 25px;
  border-radius: 5px;
}
.burger span:nth-child(1) {
  top: calc(50% - 16px);
}
.burger span:nth-child(2) {
  transition: all 0.1s ease-out;
  top: calc(50% - 4px);
}
.burger span:nth-child(3) {
  top: calc(50% + 8px);
}

@media only screen and (max-width: 1279px) {
  .menu-open body {
    overflow: hidden;
  }
  .menu-open .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .menu-open .entry-content {
    padding-top: var(--header);
  }
}
.menu-open .burger span:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}
.menu-open .burger span:nth-child(2) {
  opacity: 0;
}
.menu-open .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media only screen and (min-width: 1280px) {
  .menu-open .header-wrapper {
    position: fixed !important;
  }
}
.menu-open .header-menu-container {
  opacity: 1;
  visibility: visible;
}
.menu-open .header-dmenu-closer {
  visibility: visible;
  opacity: 1;
}
.menu-open .header-menu-item.parent.active .header-submenu-wrapper {
  transform: translateX(0%);
}

@media only screen and (min-width: 1280px) {
  .header .burger {
    display: none;
  }
  .header .header-menu-item-wrapper {
    background: none;
  }
  .header .header-menu-container {
    overflow: visible;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    left: calc(var(--left) - 150px);
    width: fit-content;
    z-index: 100;
    max-width: 740px;
  }
  .header .header-menu-container.mega {
    left: calc(var(--left) - 300px);
  }
  .header .mobile-menu {
    display: none;
  }
  .header .desktop-menu {
    display: flex;
    height: 100%;
  }
  .header .desktop-menu-wrapper {
    position: relative;
    z-index: 16;
  }
  .header .header-single-submenu {
    margin-top: 50px;
  }
  .header-inner {
    gap: 30px;
  }
  .header-dmenu {
    flex-grow: 1;
  }
  .header-dmenu-link {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    transition: all 0.1s ease-out;
  }
  .header-dmenu-link.active {
    font-weight: 700;
  }
  .header-dmenu-link.active .header-dmenu-title:before {
    opacity: 1;
  }
  .header-dmenu-link.active .header-dmenu-title span {
    opacity: 0;
  }
  .header-dmenu-link span {
    opacity: 1 !important;
    transition: all 0.1s ease-out;
  }
  .header-dmenu-closer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
  }
  .header-dmenu-title {
    position: relative;
  }
  .header-dmenu-item.parent {
    position: relative;
  }
  .header-dmenu-item.parent .header-dmenu-title:after {
    transition: all 0.3s ease-out;
    font-family: "icomoon";
    content: "\e900";
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    margin-left: 10px;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  .header-dmenu-item.parent:before {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    background: #00FFFF;
    border-radius: 50%;
    left: 50%;
    bottom: -5px;
    transform: translate(calc(50% - 12px));
    transition: all 0.3s ease-out;
    opacity: 0;
  }
  .header-dmenu-item.current-menu-item:before {
    opacity: 1;
  }
  .header-dmenu-item:hover:before {
    opacity: 1;
  }
  .header .dmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
  }
  .header-menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 14px 18px;
    transition: all 0.3s ease-out;
    border-radius: 7px;
  }
  .header-menu-link:hover, .header-menu-link.active {
    background: #00FFFF;
  }
  .header-single-menu {
    overflow: hidden;
    min-width: 365px;
    max-width: 365px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header-single-menu.mega {
    min-width: 100%;
    max-width: 100%;
    display: block;
  }
  .header-single-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 25px;
  }
  .header-single-blog {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 1279px) {
  .header-dmenu {
    display: none;
  }
  .header-submenu-closer {
    padding-bottom: 24px;
  }
  .header-submenu-closer span {
    padding-left: 32px;
    display: block;
    position: relative;
    font-size: 26px;
    line-height: 35px;
    color: #002433;
  }
  .header-submenu-closer span:before {
    transition: all 0.3s ease-out;
    font-family: "icomoon";
    content: "\e900";
    color: rgb(0, 36, 51);
    font-size: 9px;
    font-weight: 400;
    vertical-align: middle;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header-menu-link {
    padding: 8px 12px;
  }
}
@media only screen and (min-width: 1536px) {
  .header-menu-link {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 1279px) {
  .desktop-menu,
  .header-submenu-container.desktop {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .header.sticky.sticky .header-wrapper {
    background: white;
    padding: 10px;
    height: unset;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header.sticky.sticky svg {
    max-height: 35px;
  }
  .header.sticky.sticky #Path_777,
  .header.sticky.sticky #Path_778,
  .header.sticky.sticky #Path_779,
  .header.sticky.sticky #Path_780 {
    fill: #002433 !important;
  }
  .header.sticky.sticky .header-dmenu-link {
    color: #002433;
  }
  .header.sticky.sticky .header-dmenu-title:after {
    color: #002433;
  }
  .header.sticky.sticky .header-dmenu-item:before {
    bottom: -10px;
    background: #002433;
  }
  .header.sticky.sticky .header-cta .btn {
    color: #002433;
  }
  .header.sticky.sticky .top-menu {
    max-height: 0;
  }
  .header.sticky.sticky .header-menu-container {
    top: 65px;
  }
}

/*# sourceMappingURL=style.css.map */
