{% extends "block-base.twig" %}

{% block content %}
	<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
		<div class="header-wrapper">
			<div class="header-inner container">
				<div class="header-logo">
					<a href="/">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="263.064" height="60.463" viewBox="0 0 263.064 60.463">
							<defs>
								<clipPath id="clip-path">
								<rect id="Rectangle_809" data-name="Rectangle 809" width="263.064" height="60.463" fill="#fff"/>
								</clipPath>
							</defs>
							<g id="PEMAC-LOGO" clip-path="url(#clip-path)">
								<path id="Path_777" data-name="Path 777" d="M23.132.294H7.1c-1.714,0-3.84,0-5.472,1.63S0,5.682,0,7.39V52.237c0,2.713.084,3.674.793,5.091a5.607,5.607,0,0,0,5.052,2.758A5.623,5.623,0,0,0,10.9,57.328c.709-1.417.793-2.378.793-5.091V37.374H23.132c12.355,0,19.618-8.438,19.618-18.543S35.488.294,23.132.294m-.671,26.722H11.691V10.652h10.77c5.26,0,8.6,3.293,8.6,8.179,0,4.848-3.345,8.185-8.6,8.185" transform="translate(0 0.211)" fill="#fff"/>
								<path id="Path_778" data-name="Path 778" d="M108.226.1a5.719,5.719,0,0,0-3.468.961,9.848,9.848,0,0,0-2.964,3.59L86.932,32.962,72.07,4.649A9.87,9.87,0,0,0,69.1,1.059,5.716,5.716,0,0,0,65.636.1a5.313,5.313,0,0,0-3.925,1.586c-1.417,1.424-1.754,3.094-1.754,5.639V52.375c0,2.713.084,3.674.793,5.091a6.01,6.01,0,0,0,10.107,0c.709-1.417.791-2.378.791-5.091V25.447l9.689,19.077c1.462,2.881,2.842,4.093,5.594,4.093s4.131-1.212,5.594-4.093l9.687-19.077V52.375c0,2.713.084,3.674.793,5.091a6.008,6.008,0,0,0,10.106,0c.709-1.417.793-2.378.793-5.091V7.322c0-2.545-.335-4.215-1.754-5.639A5.313,5.313,0,0,0,108.226.1" transform="translate(42.932 0.071)" fill="#fff"/>
								<path id="Path_779" data-name="Path 779" d="M127.766,5.445a8.732,8.732,0,0,0-2.378-3.926,6.853,6.853,0,0,0-8.347,0,8.791,8.791,0,0,0-2.385,3.926L97.5,50.954c-1.128,3-1.8,5.22.29,7.477a5.728,5.728,0,0,0,4.177,1.792,4.911,4.911,0,0,0,3.216-1.083c1-.837,1.464-1.714,2.462-4.383l1.96-5.388h23.214l1.966,5.388c1,2.668,1.457,3.545,2.463,4.383a4.907,4.907,0,0,0,3.216,1.083,5.75,5.75,0,0,0,4.177-1.792c2.087-2.257,1.417-4.474.29-7.477ZM113.238,39.6l7.973-21.584L129.19,39.6Z" transform="translate(69.049 0.073)" fill="#fff"/>
								<path id="Path_780" data-name="Path 780" d="M165.335,38.832A5.665,5.665,0,0,0,162,39.838a11.176,11.176,0,0,0-2.879,4.13c-1.882,4.177-4.68,6.137-8.765,6.137a9.089,9.089,0,0,1-7.058-3.171c-2.469-2.835-2.926-6.1-2.926-16.7s.456-13.864,2.926-16.7a9.071,9.071,0,0,1,7.058-3.176c4.086,0,6.883,1.965,8.765,6.142A11.292,11.292,0,0,0,162,20.63a5.7,5.7,0,0,0,3.34,1,5.545,5.545,0,0,0,4.053-1.586,5.679,5.679,0,0,0,1.541-4.429c0-2.332-1.211-6.554-5.092-10.267C162.119,1.714,157.7,0,150.595,0c-6.639,0-11.813,2.217-15.822,6.265-5.884,5.891-6.1,12.613-6.1,23.97s.214,18.078,6.1,23.963c4.009,4.048,9.182,6.265,15.822,6.265,7.1,0,11.525-1.714,15.243-5.344,3.88-3.719,5.092-7.933,5.092-10.274a5.7,5.7,0,0,0-1.541-4.427,5.545,5.545,0,0,0-4.053-1.586" transform="translate(92.134 0.001)" fill="#fff"/>
								<path id="Path_781" data-name="Path 781" d="M63.8.338H36.372a5.952,5.952,0,0,0,0,11.9H63.8a5.952,5.952,0,1,0,0-11.9" transform="translate(21.784 0.243)" fill="#5cff7a"/>
								<path id="Path_782" data-name="Path 782" d="M63.8,13.964H36.372a5.952,5.952,0,0,0,0,11.9H63.8a5.952,5.952,0,1,0,0-11.9" transform="translate(21.784 9.999)" fill="aqua"/>
								<path id="Path_783" data-name="Path 783" d="M63.8,27.839H36.372a5.952,5.952,0,0,0,0,11.9H63.8a5.952,5.952,0,1,0,0-11.9" transform="translate(21.784 19.934)" fill="#ffff76"/>
							</g>
						</svg>
					</a>
				</div>
				<div class="toggler hdesktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');">
					<div class="mtoggler burger">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</div>
				</div>
				<div class="header-dmenu">
					<list class="top-menu dmenu">
						{% for item in header_secondary_menu.get_items %}
							<item class="header-dmenu-item">
								<div class="header-dmenu-item-wrapper">
									<a class="header-dmenu-link" href="{{item.link}}" data-menu="{{loop.index}}">
										<div class="header-dmenu-title" data-title="{{item.title}}"><span>{{item.title}}</span></div>
									</a>
								</div>
							</item>
						{% endfor %}
					</list>
					<list class="dmenu">
						{% for item in header_primary_menu.get_items %}
							<item class="header-dmenu-item {% if item.children %}parent{% endif %} {{item.class}}">
								<div class="header-dmenu-item-wrapper">
									<a class="header-dmenu-link {% if item.children %}parent{% endif %}" href="{{item.link}}" data-menu="{{loop.index}}">
										<div class="header-dmenu-title" data-title="{{item.title}}"><span>{{item.title}}</span></div>
									</a>
								</div>
							</item>
						{% endfor %}
							<item class="header-cta">
								<a class="btn one" href="/book-a-demo/">
									<span>Book a Demo</span>
								</a>
							</item>
					</list>
				</div>
			</div>
		</div>
		<div class="header-menu-container">
			<div class="mobile-menu">
				<div class="header-menu">
					<list class="primary">
						{% for item in header_primary_menu.get_items %}
						{% set item_fields = fn('get_fields', item) %}
							<item class="header-menu-item {% if item.children %}parent{% endif %}">
								<div class="header-menu-item-wrapper">
									{% if item.children %}
									<div class="header-menu-link {% if item.children %}parent{% endif %}" >{{item.title}}</div>
									{% else %}
									<a class="header-menu-link" href="{{item.link}}">{{item.title}}</a>
									{% endif %}
								</div>
								<div class="header-submenu-wrapper">
									<div class="header-submenu-closer" onclick="closeMobileSubMenu(this);">
										<span>back to <strong>Main Menu</strong></span>
									</div>
									<div class="header-menu-item highlight">
										<a class="header-menu-link" href="{{item.link}}">
											<div class="header-menu-title">{{item_fields.dropdown_label}}</div>
										</a>
									</div>
						{% for child in item.children %}
						{% if not child.children %}
						<div class="header-menu-item">
							<a class="header-menu-link" href="{{child.link}}">
								<div class="header-menu-title">{{child.title}}</div>
							</a>
						</div>
						{% else %}
						<div class="section-title">
							<div class="">
								<div class="header-menu-title">{{child.title}}</div>
							</div>
						</div>
						{% endif %}
						{% for gchild in child.children %}
						<div class="header-menu-item">
							<a class="header-menu-link" href="{{gchild.link}}">
								<div class="header-menu-title">{{gchild.title}}</div>
							</a>
						</div>
						{% endfor %}
						{% endfor %}
								</div>
							</item>
						{% endfor %}
					</list>
					<list class="secondary">
						{% for item in header_secondary_menu.get_items %}
							<item class="header-menu-item {{item.class}}">
								<div class="header-menu-item-wrapper">
									<a class="header-menu-link" href="{{item.link}}">{{item.title}}</a>
								</div>
							</item>
						{% endfor %}
						<item class="header-menu-item {{item.class}}">
							<div class="header-menu-item-wrapper">
								<a class="header-menu-link mobile-link" href="/book-a-demo/">Book a Demo</a>
							</div>
						</item>
					</list>
				</div>
			</div>
			<div class="desktop-menu-wrapper">
				<div class="desktop-menu">
					<div class="header-menus">
						{% for item in header_primary_menu.get_items %}
						{% set item_fields = fn('get_fields', item) %}
						{% if item.children %}
						<div class="header-single-menu {{item.class}}" data-menu="{{loop.index}}">
						<div class="header-single-wrapper">

						<div class="header-menu-item highlight">
							<a class="header-menu-link" href="{{item.link}}">
								<div class="header-menu-title">{{item_fields.dropdown_label}}</div>
							</a>
						</div>

						{% for child in item.children %}
						<div class="menu-column">
						{% if not child.children %}
						<div class="header-menu-item listen">
							<a class="header-menu-link {% if child.children %}parent{% endif %}" href="{{child.link}}" data-submenu="{{loop.index}}-{{loop.parent.loop.index}}">
								<div class="header-menu-title">{{child.title}}</div>
							</a>
						</div>
						{% else %}
						<div class="section-title">
							<div class="">
								<div class="header-menu-title">{{child.title}}</div>
							</div>
						</div>
						{% endif %}
						{% for gchild in child.children %}
						<div class="header-menu-item listen">
							<a class="header-menu-link {% if gchild.children %}parent{% endif %}" href="{{gchild.link}}" data-submenu="{{loop.index}}-{{loop.parent.loop.index}}">
								<div class="header-menu-title">{{gchild.title}}</div>
							</a>
						</div>
						{% endfor %}
						</div>
						{% endfor %}
						</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="header-submenu-container desktop" style="display:none;">
				{% for item in header_primary_menu.get_items %}
				{% if item.children %}
				{% for child in item.children %}
				<div class="header-single-submenu" data-submenu="{{loop.index}}-{{loop.parent.loop.index}}">
				{% for gchild in child.children %}
					<div class="header-subsubmenu-item">
						<a class="header-subsubmenu-link" href="{{gchild.link}}">
							<div class="header-subsubmenu-title">{{gchild.title}}</div>
						</a>
					</div>
				{% endfor %}
				</div>
				{% endfor %}
				{% endif %}
				{% endfor %}
			</div>

		</div>
		<div class="header-dmenu-closer" onclick="closeDesktopMenu();"></div>
	</header>
	<script>

		function toggleSubMenu(el) {
			console.log(el);
			if (screen.width < 1280) {
				if (el.classList.contains('open')) {
					el.classList.remove('open');
					} else {
						[...document.querySelectorAll('.header-menu-item.open')].forEach(function (element) {
							element.classList.remove('open');
						});
						[...document.querySelectorAll('.header-submenu-item.open')].forEach(function (element) {
							element.classList.remove('open');
						});
						el.classList.toggle('open');
					}
				}
			}

	</script>
	<script>
	if (screen.width > 1279) {
		[...document.querySelectorAll('.header-dmenu-item.parent.mega')].forEach(function (element) {
			element.addEventListener("mouseover", (event) => {
				document.querySelector('.header-menu-container').style.setProperty('--left', event.srcElement.getBoundingClientRect().left + 'px');
				document.querySelector('.header-menu-container').classList.add('mega');
			});
		});
		[...document.querySelectorAll('.header-dmenu-item.parent:not(.mega)')].forEach(function (element) {
			element.addEventListener("mouseover", (event) => {
				document.querySelector('.header-menu-container').style.setProperty('--left', event.srcElement.getBoundingClientRect().left + 'px');
				document.querySelector('.header-menu-container').classList.remove('mega');
			});
		});
		[...document.querySelectorAll('.header-dmenu-link.parent')].forEach(function (element) {
			element.addEventListener("mouseover", (event) => {
				if(!document.getElementsByTagName('HTML')[0].classList.contains('menu-open')) {
					document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');
				}

				[...document.querySelectorAll('.header-single-menu')].forEach(function (el) {
					el.style.display = "none";
				});
				document.querySelector('.header-submenu-container.desktop').classList.remove('open');
				
				[...document.querySelectorAll('.header-menu-link.parent.active')].forEach(function (el) {
					el.classList.remove('active');
					el.parentNode.classList.remove('active');
				});

				document.querySelector('.header-single-menu[data-menu="' + element.dataset.menu + '"]').style.display = "flex";
			});
		});

		[...document.querySelectorAll('.listen .header-menu-link')].forEach(function (element) {
			element.addEventListener("mouseover", (event) => {

				[...document.querySelectorAll('.header-menu-link.parent.active')].forEach(function (el) {
					el.classList.remove('active');
					el.parentNode.classList.remove('active');
				});


				[...document.querySelectorAll('.header-single-submenu')].forEach(function (el) {
					el.style.display = "none";
				});
				
				if (element.classList.contains('parent')) {
					element.classList.add('active');
					element.parentNode.classList.add('active');
					document.querySelector('.header-single-submenu[data-submenu="' + element.dataset.submenu + '"]').style.display = "block";
					document.querySelector('.header-submenu-container.desktop').classList.add('open');
				} else {
					document.querySelector('.header-submenu-container.desktop').classList.remove('open');
				}
			});
		});
	}
	function closeDesktopMenu() {
		document.querySelector('.header-submenu-container.desktop').classList.remove('open');

		[...document.querySelectorAll('.header-menu-link.parent.active')].forEach(function (el) {
			el.classList.remove('active');
			el.parentNode.classList.remove('active');
		});

		document.getElementsByTagName('HTML')[0].classList.remove('menu-open');

		[...document.querySelectorAll('.header-dmenu-link.parent')].forEach(function (el) {
			el.classList.remove('active');
		});

		[...document.querySelectorAll('.header-single-submenu')].forEach(function (el) {
			el.style.display = "none";
		});
	}

	function closeMenus() {
		if(document.getElementsByTagName('HTML')[0].classList.contains('menu-open')) {
			document.getElementsByTagName('HTML')[0].classList.remove('menu-open');
		}
		[...document.querySelectorAll('.header-dmenu-link.parent')].forEach(function (el) {
			el.classList.remove('active');
		});

		[...document.querySelectorAll('.header-menu-link.parent.active')].forEach(function (el) {
			el.classList.remove('active');
			el.parentNode.classList.remove('active');
		});

		document.querySelector('.header-submenu-container.desktop').classList.remove('open');
	}
	document.addEventListener("scroll", (event) => {
		if (screen.width > 1279) {
			document.addEventListener("scroll", (event) => {
				closeMenus();
			});
		}
	});

	[...document.querySelectorAll('.header-dmenu-item:not(.parent)')].forEach(function (element) {
		element.addEventListener("mouseover", (event) => {
			closeMenus();
		});
	});
	[...document.querySelectorAll('.header-cta')].forEach(function (element) {
		element.addEventListener("mouseover", (event) => {
			closeMenus();
		});
	});

	// Toggle Mobile Submenu
	[...document.querySelectorAll('.mobile-menu .header-menu-item.parent .header-menu-item-wrapper')].forEach(function (element) {
		element.addEventListener("click", (event) => {
			element.parentNode.classList.toggle('active');
		});
	});

	function closeMobileSubMenu(el) {
		el.parentNode.parentNode.classList.remove('active');
		[...document.querySelectorAll('.header-menu-item.parent.active')].forEach(function (element) {
			element.classList.remove('active');
		});
	}
	
	window.onscroll = function() {myFunction()};

	var header = document.querySelector("header");

	var sticky = header.offsetTop;

	function myFunction() {
	if (window.pageYOffset > sticky) {
		header.classList.add("sticky");
	} else {
		header.classList.remove("sticky");
	}
	}
	</script>
<script>

document.addEventListener("DOMContentLoaded", function(){
    document.querySelector(':root').style.setProperty('--header', document.querySelector('.header-wrapper').offsetHeight + 'px');
});
</script>
{% endblock %}
