.left-aligned-heading{
  padding: 35px 0;
  &__content{
	max-width: 905px;
	&.navy{
	  p,h1,h2,h3,h4,h5,h6{
		color: white;
	  }
	  .main-link{
		a{
		  color: white;
		  &:before{
			background-image: url("./../../assets/images/chevron-right_light.svg");
		  }
		}
	  }
	}
  }
  .main-link{
	a{
	  font-size: 20px;
	  @media screen and (max-width: 1024px) {
		font-size: 16px;
	  }
	}
  }
}
