.left-aligned-heading {
  padding: 35px 0;
}
.left-aligned-heading__content {
  max-width: 905px;
}
.left-aligned-heading__content.navy p, .left-aligned-heading__content.navy h1, .left-aligned-heading__content.navy h2, .left-aligned-heading__content.navy h3, .left-aligned-heading__content.navy h4, .left-aligned-heading__content.navy h5, .left-aligned-heading__content.navy h6 {
  color: white;
}
.left-aligned-heading__content.navy .main-link a {
  color: white;
}
.left-aligned-heading__content.navy .main-link a:before {
  background-image: url("./../../assets/images/chevron-right_light.svg");
}
.left-aligned-heading .main-link a {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .left-aligned-heading .main-link a {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
