.flex-full {
  margin: 25px 0;
  margin-top: 50px;
}
@media only screen and (min-width: 1280px) {
  .flex-full {
    margin: 50px 0;
  }
}
.flex-full.is-style-narrow .container {
  max-width: 950px;
}

/*# sourceMappingURL=style.css.map */
