@import "mixins.scss";


.laptop-video {
  h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #002433;
    text-align: center;
    @include screen (0, 764) {
      font-size: 1.875rem;
      line-height: 2.375rem;
    }
    @include screen (0, 414) {
      font-size: 7.25vw;
      line-height: 9.18vw;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #4E4C5A;
    text-align: center;
    @include screen (0, 414) {
      font-size: 3.86vw;
      line-height: 5.8vw;
    }
  }
  .dsp-c-r,
  .dsp-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .container {
    max-width: 1060px;
    padding: 98px 0;
    margin: 0 auto;
    @include screen (0, 1100) {
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      padding: 9.57vw 0;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
    .video_overview {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        z-index: 1;
      }
      .video {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 45px 102px 66px 114px;
        justify-content: flex-start;
        align-items: flex-start;
        @include screen (0, 1100) {
          padding: 4.09vw 9.27vw 6vw 10.36vw;
        }
        video {
          width: 100%;
          height: 100%;
          background: black;
        }
      }
    }
  }
}
