.laptop-video h3 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #002433;
  text-align: center;
}
@media only screen and (max-width: 764px) {
  .laptop-video h3 {
    font-size: 1.875rem;
    line-height: 2.375rem;
  }
}
@media only screen and (max-width: 414px) {
  .laptop-video h3 {
    font-size: 7.25vw;
    line-height: 9.18vw;
  }
}
.laptop-video p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #4E4C5A;
  text-align: center;
}
@media only screen and (max-width: 414px) {
  .laptop-video p {
    font-size: 3.86vw;
    line-height: 5.8vw;
  }
}
.laptop-video .dsp-c-r,
.laptop-video .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.laptop-video .dsp-c-c {
  flex-direction: column;
}
.laptop-video .container {
  max-width: 1060px;
  padding: 98px 0;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .laptop-video .container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .laptop-video .container {
    padding: 9.57vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .laptop-video .container {
    margin: 0 4.83vw;
  }
}
.laptop-video .container .video_overview {
  position: relative;
  width: 100%;
}
.laptop-video .container .video_overview img {
  width: 100%;
  z-index: 1;
}
.laptop-video .container .video_overview .video {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45px 102px 66px 114px;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 1100px) {
  .laptop-video .container .video_overview .video {
    padding: 4.09vw 9.27vw 6vw 10.36vw;
  }
}
.laptop-video .container .video_overview .video video {
  width: 100%;
  height: 100%;
  background: black;
}

/*# sourceMappingURL=style.css.map */
