{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-c">
      <div class="headline dsp-c-c">
        <InnerBlocks />
      </div>
      <div class="video_overview dsp-c-c">
        <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/laptop-video/laptop.png" alt="Laptop">
        <div class="video dsp-c-r">
          <video autoplay="true" controls="true" playsinline muted preload="none">
            <source src="https://pemac.com/wp-content/uploads/2023/10/full-animation.mp4" type="video/mp4">
                Your browser does not support HTML video.
          </video>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
