.hero-block__wrapper {
  padding-top: 130px;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 625px;
}
@media screen and (max-width: 1024px) {
  .hero-block__wrapper {
    padding-top: 130px;
    padding-bottom: 180px;
    min-height: 700px;
  }
}
.hero-block__inner {
  margin: 0 -20px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .hero-block__inner {
    flex-direction: column;
    gap: 100px;
  }
}
.hero-block__item {
  padding: 0 20px;
}
.hero-block__text {
  flex-basis: 540px;
  flex-shrink: 0;
  color: #fff;
}
.hero-block__text p, .hero-block__text h1, .hero-block__text h2, .hero-block__text h3, .hero-block__text h4, .hero-block__text h5, .hero-block__text h6 {
  color: inherit;
}
.hero-block__text h1, .hero-block__text h2, .hero-block__text h3, .hero-block__text h4, .hero-block__text h5, .hero-block__text h6 {
  margin-bottom: 27px;
}
@media screen and (max-width: 1024px) {
  .hero-block__text {
    flex-basis: auto;
  }
}

/*# sourceMappingURL=style.css.map */
