.hero-block {
  &__wrapper {
	padding-top: 130px;
	padding-bottom: 140px;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 625px;
	@media screen and (max-width: 1024px) {
	  padding-top: 130px;
	  padding-bottom: 180px;
	  min-height: 700px;
	}
  }

  &__inner {
	margin: 0 -20px;
	display: flex;
	align-items: center;
	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	  gap: 100px;
	}
  }

  &__item {
	padding: 0 20px;
  }

  &__text {
	flex-basis: 540px;
	flex-shrink: 0;
	color: #fff;
	p, h1, h2, h3, h4, h5, h6 {
	  color: inherit;
	}
	h1, h2, h3, h4, h5, h6{
	  margin-bottom: 27px;
	}
	@media screen and (max-width: 1024px) {
	  flex-basis: auto;
	}
  }
}
