.list-columns ul {
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .list-columns ul {
    margin-bottom: 5px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .list-columns ul {
    column-count: var(--columns);
    column-width: var(--cw);
  }
}
.list-columns ul li {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 30px;
}
.list-columns ul li:before {
  content: "";
  left: 0;
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-color: #00FFFF;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .list-columns ul li {
    padding-left: 35px;
    max-width: 100%;
  }
}
.list-columns li {
  color: #4e4c5a;
}

/*# sourceMappingURL=style.css.map */
