@import "mixins.scss";

.list-columns {
    ul {
        padding-left: 0;
        @media screen and (max-width: 768px){
          margin-bottom: 5px;
          margin-top: 0;
        }
        @include screen(768) {
            column-count:var(--columns);
            column-width:var(--cw);
        }
        li {
          position: relative;
          font-size: 16px;
          line-height: 1.5;
          padding-left: 30px;
          &:before{
            content: "";
            left: 0;
            position: absolute;
            top: 12px;
            transform: translateY(-50%);
            width: 16px;
            height: 8px;
            background-color: #00FFFF;
            border-radius: 4px;
          }
          @media screen and (max-width: 768px){
            padding-left: 35px;
            max-width: 100%;
          }
        }
      }
    li {
        color: #4e4c5a;
    }
    &.is-style-alternative {

    }
}