{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div style="--columns:{{fields.content.columns}};--cw:{{fields.content.column_width}};">
        <InnerBlocks />
    </div>
</section>
{% endblock %}
