@import "mixins.scss";

.job-hero {
  background: #002433;
  h1 {
    font-weight: 700;
    color: #FFFFFF;
  }

  h3 {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;
    @include screen(1280) {
      font-size: 20px;
    }
  }

  .dsp-c-r,
  .dsp-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dsp-c-c {
    flex-direction: column;
  }

  .container {
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background: #002433;
    padding: 25px;
    @include screen(1280) {
      padding: 240px 0 100px;
    }
    .background {
      position: absolute;
      opacity: 100%;
      mix-blend-mode: lighten;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }

      @include screen (0, 764) {
        img {
          width: 810px;
          height: 313px;
        }
      }

      @include screen (0, 414) {
        img {
          width: 195%;
          height: 100%;
        }
      }
    }

    .job-title {
      width: 637px;
      z-index: 3;

      @include screen (0, 764) {
        width: 100%;
      }
    }

    .job-description {
      width: 607px;
      padding-bottom: 16px;
      z-index: 3;

      @include screen (0, 764) {
        padding: 12px 0 20px 0;
        width: 95%;
      }

      @include screen (0, 414) {
        padding: 2.9vw 0 4.83vw 0;
      }
    }

    .place_time {
      gap: 38px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include screen (0, 764) {
        gap: 25px;
      }

      @include screen (0, 414) {
        gap: 6vw;
      }

      .place {
        gap: 10px;

        @include screen (0, 764) {
          gap: 8px;

          img {
            width: 11px;
          }
        }

        @include screen (0, 414) {
          gap: 1.93vw;

          img {
            width: 2.66vw;
          }
        }
      }

      .time {
        gap: 8px;

        @include screen (0, 764) {
          gap: 6px;

          img {
            width: 13px;
          }
        }

        @include screen (0, 414) {
          gap: 1.45vw;

          img {
            width: 3.14vw;
          }
        }
      }
    }
    .inner-container {
      max-width: 800px;
      margin: auto;
      z-index: 5;
      position: relative;
    }
  }
}
