.job-hero {
  background: #002433;
}
.job-hero h1 {
  font-weight: 700;
  color: #FFFFFF;
}
.job-hero h3 {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
}
@media only screen and (min-width: 1280px) {
  .job-hero h3 {
    font-size: 20px;
  }
}
.job-hero .dsp-c-r,
.job-hero .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-hero .dsp-c-c {
  flex-direction: column;
}
.job-hero .container {
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  background: #002433;
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  .job-hero .container {
    padding: 240px 0 100px;
  }
}
.job-hero .container .background {
  position: absolute;
  opacity: 100%;
  mix-blend-mode: lighten;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.job-hero .container .background img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .background img {
    width: 810px;
    height: 313px;
  }
}
@media only screen and (max-width: 414px) {
  .job-hero .container .background img {
    width: 195%;
    height: 100%;
  }
}
.job-hero .container .job-title {
  width: 637px;
  z-index: 3;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .job-title {
    width: 100%;
  }
}
.job-hero .container .job-description {
  width: 607px;
  padding-bottom: 16px;
  z-index: 3;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .job-description {
    padding: 12px 0 20px 0;
    width: 95%;
  }
}
@media only screen and (max-width: 414px) {
  .job-hero .container .job-description {
    padding: 2.9vw 0 4.83vw 0;
  }
}
.job-hero .container .place_time {
  gap: 38px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .place_time {
    gap: 25px;
  }
}
@media only screen and (max-width: 414px) {
  .job-hero .container .place_time {
    gap: 6vw;
  }
}
.job-hero .container .place_time .place {
  gap: 10px;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .place_time .place {
    gap: 8px;
  }
  .job-hero .container .place_time .place img {
    width: 11px;
  }
}
@media only screen and (max-width: 414px) {
  .job-hero .container .place_time .place {
    gap: 1.93vw;
  }
  .job-hero .container .place_time .place img {
    width: 2.66vw;
  }
}
.job-hero .container .place_time .time {
  gap: 8px;
}
@media only screen and (max-width: 764px) {
  .job-hero .container .place_time .time {
    gap: 6px;
  }
  .job-hero .container .place_time .time img {
    width: 13px;
  }
}
@media only screen and (max-width: 414px) {
  .job-hero .container .place_time .time {
    gap: 1.45vw;
  }
  .job-hero .container .place_time .time img {
    width: 3.14vw;
  }
}
.job-hero .container .inner-container {
  max-width: 800px;
  margin: auto;
  z-index: 5;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
