{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container">
      <div class="background">
        <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-hero/background.png" alt="background" class="background">
      </div>
      <div class="inner-container">
        <div class="job-title">
          <h1>
            {{post.title}}
          </h1>
        </div>
        <div class="job-description">
          <h3>
            {{ post.preview.length(500).read_more('') }}
          </h3>
        </div>
        <div class="place_time">
          <div class="place dsp-c-r">
            <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-hero/location.png" alt="place" class="place">
            <h3>
              {{fields.location}}
            </h3>
          </div>
          <div class="time dsp-c-r">
            <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-hero/clock.png" alt="clock" class="clock">
            <h3>
              {{fields.type}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
