* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-and-stats {
  margin: 50px 0;
}
@media only screen and (min-width: 1280px) {
  .image-and-stats {
    margin: 75px 0 100px;
  }
}
.image-and-stats h3 {
  font-weight: 700;
  color: #002433;
}
.image-and-stats h4 {
  font-weight: 700;
  color: #4E4C5A;
}
.image-and-stats p {
  font-weight: 400;
  color: #4E4C5A;
}
.image-and-stats item {
  list-style: none;
}
.image-and-stats .dsp-c-c,
.image-and-stats .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-and-stats .dsp-c-c {
  flex-direction: column;
}
.image-and-stats .container {
  max-width: 1238px;
  gap: 15px;
}
@media only screen and (max-width: 1024px) {
  .image-and-stats .container {
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (max-width: 414px) {
  .image-and-stats .container {
    gap: 2.41vw;
  }
}
.image-and-stats .container .photo {
  width: auto;
  max-height: 503px;
}
.image-and-stats .content {
  max-width: 559px;
  justify-content: space-between;
}
.image-and-stats .content list {
  gap: 15px;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (max-width: 764px) {
  .image-and-stats .content list {
    gap: 10px;
  }
}
.image-and-stats .content list item {
  gap: 41px;
  padding: 30px 0;
  justify-content: flex-start;
  padding-left: 24px;
  background: #FAF9F9;
  border-radius: 11px;
  width: 100%;
}
@media only screen and (min-width: 764px) {
  .image-and-stats .content list item {
    padding: 22px 0;
    padding-left: 13px;
    gap: 19px;
  }
}
@media only screen and (max-width: 414px) {
  .image-and-stats .content list item {
    padding: 5.3vw;
    padding-left: 3.14vw;
    gap: 4.59vw;
    border-radius: 2.65vw;
  }
}
.image-and-stats .content list item img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 764px) {
  .image-and-stats .content list item img {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (max-width: 414px) {
  .image-and-stats .content list item img {
    width: 10.14vw;
    height: 10.14vw;
  }
}

/*# sourceMappingURL=style.css.map */
