@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-and-stats {
  margin: 50px 0;

  @include screen(1280) {
    margin: 75px 0 100px;
  }

  h3 {
    font-weight: 700;
    color: #002433;
  }

  h4 {
    font-weight: 700;
    color: #4E4C5A;
  }

  p {
    font-weight: 400;
    color: #4E4C5A;
  }

  item {
    list-style: none;
  }

  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dsp-c-c {
    flex-direction: column;
  }

  .container {
    max-width: 1238px;
    gap: 15px;

    @include screen (0, 1024) {
      flex-direction: column;
      gap: 10px;
    }

    @include screen (0, 414) {
      gap: 2.41vw;
    }

    .photo {
      width: auto;
      max-height: 503px;
    }
  }

  .content {
    max-width: 559px;
    justify-content: space-between;

    list {
      gap: 15px;
      align-items: flex-start;
      width: 100%;

      @include screen (0, 764) {
        gap: 10px;
      }

      item {
        gap: 41px;
        padding: 30px 0;
        justify-content: flex-start;
        padding-left: 24px;
        background: #FAF9F9;
        border-radius: 11px;
        width: 100%;

        @include screen (764, 0) {
          padding: 22px 0;
          padding-left: 13px;
          gap: 19px;
        }

        @include screen (0, 414) {
          padding: 5.3vw;
          padding-left: 3.14vw;
          gap: 4.59vw;
          border-radius: 2.65vw;
        }

        img {
          width: 50px;
          height: 50px;

          @include screen (0, 764) {
            width: 42px;
            height: 42px;
          }

          @include screen (0, 414) {
            width: 10.14vw;
            height: 10.14vw;
          }
        }
      }
    }
  }
}
