{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-r">
      <div class="photo">
        <img src="{{fields.content.photo.url}}" alt="photo">
      </div>
      <div class="content dsp-c-c">
        <div class="heading">
          <h3>{{fields.content.headline}}</h3>
        </div>
        <list class="dsp-c-c">
          <item class="dsp-c-r">
            <img src="{{fields.content.tick.url}}" alt="tick">
            <h4>{{fields.content.textbox02}}</h4>
          </item>
          <item class="dsp-c-r">
            <img src="{{fields.content.tick.url}}" alt="tick">
            <h4>{{fields.content.textbox01}}</h4>
          </item>
          <item class="dsp-c-r">
            <img src="{{fields.content.tick.url}}" alt="tick">
            <h4>{{fields.content.textbox03}}</h4>
          </item>
        </list>
        <div class="paragraph">
          <p>{{fields.content.paragraph}}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

