@import "mixins.scss";


.theme-button {
    margin: 0.7em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .btn {
        transition:all 0.3s ease-out;
        border-radius:24px;
        padding: 9px 25px;
        font-size: 20px;
        outline: 2px solid #00FFFF;
        border: 3px solid transparent;
        color:white;
        text-decoration: none;
        font-size: 18px;
        min-width: 175px;
        text-align: center;
        &:hover {
            border: 3px solid #00FFFF;
          }
          @media screen and (max-width: 1024px) {
            margin-top: 10px;
            padding: 7px 44px;
        }
        &.two {
            color:#002433;
        }
        &.three {
            color:#002433;
            outline: 2px solid #002433;
            &:hover {
                border: 3px solid #002433;
              }
              @media screen and (max-width: 1024px) {
                margin-top: 10px;
                padding: 7px 44px;
            }
        }
    }
}