html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

item {
  display: list-item;
  list-style: none;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-block-group.has-background {
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .wp-block-group.has-background {
    padding: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  body.admin-bar .header-wrapper {
    top: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  body.admin-bar .header-menu-container {
    top: calc(var(--header) + 50px);
  }
}
@media only screen and (min-width: 1280px) {
  body.admin-bar .header.sticky .header-menu-container {
    top: 97px;
  }
}

/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0.7em 0;
  font-family: "Nunito";
  line-height: 1.44;
  color: rgb(78, 76, 90);
}

.wp-block-button {
  border-radius: 24px;
  border: 3px solid #00FFFF;
  line-height: 1;
}
.wp-block-button__link {
  border: 2px solid transparent;
  font-weight: 400;
  background-color: transparent;
  padding: 10px 16px;
  transition: all 0.3s;
}
.wp-block-button__link:hover {
  border: 2px solid #00FFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 600;
  color: rgb(0, 36, 51);
}

h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.14;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: calc(1.425rem + 2.1vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: calc(1.26rem + 0.12vw);
  font-weight: 700;
  line-height: 1.25;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.35rem;
  }
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: calc(1.28rem + 0.36vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h3 {
    font-size: 1.55rem;
  }
}
h4 {
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.3;
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: calc(1.258rem + 0.096vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
  }
}
h5 {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.3;
}
@media only screen and (min-width: 1024px) {
  h5 {
    font-size: 1.11rem;
  }
}
h6 {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.33;
}
@media only screen and (min-width: 1024px) {
  h6 {
    font-size: 0.9rem;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.main-link a {
  position: relative;
  font-size: 16px;
  color: #002433;
  font-weight: 700;
  text-decoration: none;
  padding-left: 20px;
  transition: all 0.3s;
}
.main-link a:before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  left: 0;
  height: 16px;
  width: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../assets/images/chevron-right.svg");
}
.main-link a:hover {
  transition: all 0.3s;
}
.main-link a:hover:before {
  transition: all 0.3s;
  left: 4px;
}

.button {
  border-radius: 24px;
  padding: 7px 45px;
  border: 2px solid transparent;
  outline: 3px solid #00FFFF;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.button:hover {
  border: 2px solid #00FFFF;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ul {
    padding-left: 25px;
  }
}
ul li + li {
  margin-top: 6px;
}
@media only screen and (min-width: 1280px) {
  ul li + li {
    margin-top: 10px;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ol {
    padding-left: 25px;
  }
}
ol li + li {
  margin-top: 7px;
}
@media only screen and (min-width: 1280px) {
  ol li + li {
    margin-top: 10px;
  }
}

.acf-innerblocks-container a[data-type=URL],
.acf-innerblocks-container a[data-type=page],
.acf-innerblocks-container p > a {
  text-decoration: underline !important;
  color: inherit;
  font-weight: 700;
}

/*# sourceMappingURL=base.css.map */
