block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-block-group.has-background {
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .wp-block-group.has-background {
    padding: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  body.admin-bar .header-wrapper {
    top: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  body.admin-bar .header-menu-container {
    top: calc(var(--header) + 50px);
  }
}
@media only screen and (min-width: 1280px) {
  body.admin-bar .header.sticky .header-menu-container {
    top: 97px;
  }
}

/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/pemac/assets/fonts/nunito-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0.7em 0;
  font-family: "Nunito";
  line-height: 1.44;
  color: rgb(78, 76, 90);
}

.wp-block-button {
  border-radius: 24px;
  border: 3px solid #00FFFF;
  line-height: 1;
}
.wp-block-button__link {
  border: 2px solid transparent;
  font-weight: 400;
  background-color: transparent;
  padding: 10px 16px;
  transition: all 0.3s;
}
.wp-block-button__link:hover {
  border: 2px solid #00FFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 600;
  color: rgb(0, 36, 51);
}

h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.14;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: calc(1.425rem + 2.1vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: calc(1.26rem + 0.12vw);
  font-weight: 700;
  line-height: 1.25;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.35rem;
  }
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: calc(1.28rem + 0.36vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h3 {
    font-size: 1.55rem;
  }
}
h4 {
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.3;
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: calc(1.258rem + 0.096vw);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
  }
}
h5 {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.3;
}
@media only screen and (min-width: 1024px) {
  h5 {
    font-size: 1.11rem;
  }
}
h6 {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.33;
}
@media only screen and (min-width: 1024px) {
  h6 {
    font-size: 0.9rem;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.main-link a {
  position: relative;
  font-size: 16px;
  color: #002433;
  font-weight: 700;
  text-decoration: none;
  padding-left: 20px;
  transition: all 0.3s;
}
.main-link a:before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  left: 0;
  height: 16px;
  width: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../assets/images/chevron-right.svg");
}
.main-link a:hover {
  transition: all 0.3s;
}
.main-link a:hover:before {
  transition: all 0.3s;
  left: 4px;
}

.button {
  border-radius: 24px;
  padding: 7px 45px;
  border: 2px solid transparent;
  outline: 3px solid #00FFFF;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.button:hover {
  border: 2px solid #00FFFF;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ul {
    padding-left: 25px;
  }
}
ul li + li {
  margin-top: 6px;
}
@media only screen and (min-width: 1280px) {
  ul li + li {
    margin-top: 10px;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ol {
    padding-left: 25px;
  }
}
ol li + li {
  margin-top: 7px;
}
@media only screen and (min-width: 1280px) {
  ol li + li {
    margin-top: 10px;
  }
}

.acf-innerblocks-container a[data-type=URL],
.acf-innerblocks-container a[data-type=page],
.acf-innerblocks-container p > a {
  text-decoration: underline !important;
  color: inherit;
  font-weight: 700;
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
