.about-us-hero{
  position: relative;
}

.admin-bar .about-us-hero:before{
  top: 23px;
}
.top-about{
  padding-top: 150px;
  padding-bottom: 55px;
  background-color: #002433;
  height: 100%;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1200px){
	padding-top: 0;
  }
  &:before{
	content: "";
	background-color: #173945;
	position: absolute;
	left: 83px;
	top: -186px;
	width: 637px;
	height: 970px;
	border-radius: 419px;
	transform: translate(-43px, 36px) rotate(38deg);
	@media screen and (max-width: 1450px) {
	  border-radius: 300px;
	  top: -120px;
	  left: 60px;
	  width: 337px;
	  height: 670px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 200px;
	  height: 370px;
	}
	@media screen and (max-width: 767px) {
	  border-radius: 120px;
	  top: -80px;
	  left: 60px;
	  width: 120px;
	  height: 220px;
	}
  }
  &:after{
	content: "";
	position: absolute;
	width: 350px;
	position: absolute;
	top: -105px;
	right: -445px;
	height: 1180px;
	width: 1180px;
	background-color: #000F18;
	border-radius: 50%;
	@media screen and (max-width: 1450px) {
	  width: 700px;
	  height: 700px;
	  right: -300px;
	}
	@media screen and (max-width: 1024px) {
	  border-radius: 50%;
	  top: -80px;
	  right: -50px;
	  width: 300px;
	  height: 300px;
	}
	@media screen and (max-width: 767px) {
	  top: -40px;
	  right: -20px;
	  width: 150px;
	  height: 150px;
	}
  }
  &__inner{
	position: relative;
	z-index: 10;
	text-align: center;
	img{
	  width: 100%;
	}
	p{
	  max-width: 725px;
	  margin: 0 auto;
	}
	h4{
	  max-width: 800px;
	  margin: 0 auto;
	  margin-bottom: 10px;
	}
  }
  &__wrapper{
	padding-top: 98px;
	@media screen and (max-width: 1024px){
	  padding-top: 40px;
	}
	&:before{
	  content: "";
	  position: absolute;
	  width: 436px;
	  position: absolute;
	  bottom: -240px;
	  right: 38px;
	  height: 350px;
	  background-color: #0D303D;
	  border-radius: 50%;
	  @media screen and (max-width: 1024px) {
		width: 250px;
		height: 270px;
	  }
	}
	&:after{
	  content: "";
	  width: 515px;
	  position: absolute;
	  bottom: -138px;
	  left: -52px;
	  height: 515px;
	  background-color: #0D303D;
	  border-radius: 50%;
	  @media screen and (max-width: 1024px) {
		width: 180px;
		height: 180px;
		left: 10px;
		bottom: -30px;
	  }
	}
  }
}
