* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-block-two h3 {
  font-weight: 700;
  color: #002433;
  text-align: center;
}
.team-block-two h4 {
  font-weight: 700;
  color: #002433;
}
.team-block-two h5 {
  font-weight: 400;
  color: #002433;
}
.team-block-two p {
  font-weight: 400;
  color: #002433;
}
.team-block-two .dsp-c-r,
.team-block-two .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-block-two .dsp-c-c {
  flex-direction: column;
}
.team-block-two .container {
  max-width: 1210px;
  margin: 0 auto;
  gap: 20px;
}
@media only screen and (max-width: 1262px) {
  .team-block-two .container {
    margin: 0 26px;
  }
}
@media only screen and (max-width: 1024px) {
  .team-block-two .container {
    padding: 10.83vw 0;
    gap: 4.1vw;
  }
}
@media only screen and (max-width: 414px) {
  .team-block-two .container {
    margin: 0 2.54vw;
  }
}
.team-block-two .container .headline p {
  text-align: center;
}
.team-block-two .container .boxes {
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  row-gap: 86px;
  column-gap: 73px;
}
@media only screen and (max-width: 764px) {
  .team-block-two .container .boxes {
    row-gap: 11.25vw;
    column-gap: 9.55vw;
  }
}
.team-block-two .container .boxes .box {
  width: 326px;
  padding: 11px 10px 0 10px;
}
@media only screen and (max-width: 414px) {
  .team-block-two .container .boxes .box {
    width: 100%;
    padding: 2.65vw 2.41vw 0 2.41vw;
  }
}
.team-block-two .container .boxes .box .photo img {
  border-radius: 21px;
}
@media only screen and (max-width: 414px) {
  .team-block-two .container .boxes .box .photo img {
    height: 76.33vw;
    margin-bottom: 7.5vw;
    border-radius: 5vw;
  }
}
.team-block-two .container .boxes .box .person {
  padding-left: 9px;
  align-items: flex-start;
}
@media only screen and (max-width: 414px) {
  .team-block-two .container .boxes .box .person {
    padding-left: 2.17vw;
  }
}
.team-block-two .container .boxes .box .person h5 {
  line-height: 1.4;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
