@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.team-block-two {
  h3 {
    font-weight: 700;
    color: #002433;
    text-align: center;
  }
  h4 {
    font-weight:700;
    color:#002433;
  }
  h5 {
    font-weight:400;
    color:#002433;
  }
  p {
    font-weight: 400;
    color: #002433;
  }
  .dsp-c-r,
  .dsp-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .container {
    max-width: 1210px;
    margin: 0 auto;
    gap: 20px;
    @include screen (0, 1262) {
      margin: 0 26px;
    }
    @include screen (0, 1024) {
      padding: 10.83vw 0;
      gap: 4.1vw;
    }
    @include screen (0, 414) {
      margin: 0 2.54vw;
    }
    .headline {
      p {
        text-align: center;
      }
    }
    .boxes {
      flex-wrap: wrap;
      align-items: flex-start;
      width: 100%;
      row-gap: 86px;
      column-gap: 73px;
      @include screen (0, 764){
        row-gap: 11.25vw;
        column-gap: 9.55vw;
      }
      .box {
        width: 326px;
        padding: 11px 10px 0 10px;
        @include screen (0, 414) {
          width: 100%;
          padding: 2.65vw 2.41vw 0 2.41vw;
        }
        .photo {
          img {
            border-radius: 21px;
            @include screen (0, 414) {
              height: 76.33vw;
              margin-bottom: 7.5vw;
              border-radius: 5vw;
            }
          }
        }
        .person {
          padding-left: 9px;
          align-items: flex-start;
          @include screen (0, 414) {
            padding-left: 2.17vw;
          }
          h5 {
            line-height: 1.4;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
