{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-c">
      <div class="headline">
        <InnerBlocks />
      </div>
      <div class="boxes dsp-c-r">
        {% for box in fields.content.items %}
        <div class="box dsp-c-c">
          <div class="photo">
                <img src="{{box.image.url}}" />
          </div>
          <div class="person dsp-c-c">
            <h4>
              {{box.name}}
            </h4>
            {% if box.title|length > 0 %}
            <h5>
                {{box.title}}
            </h5>
            {% endif %}
            {{box.paragraph01}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
