.case-study-hero {
  padding-top: 120px;
  background-color: #002433;
}
@media screen and (max-width: 1152px) {
  .case-study-hero {
    padding-top: 20px;
  }
}
.case-study-hero__inner {
  position: relative;
  z-index: 15;
}
.case-study-hero__decor {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.case-study-hero__decor img {
  width: 100%;
  height: 550px;
  mix-blend-mode: lighten;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .case-study-hero__decor img {
    height: auto !important;
  }
}
.case-study-hero__wrapper {
  padding-top: 85px;
  padding-bottom: 68px;
  position: relative;
}
@media screen and (max-width: 1152px) {
  .case-study-hero__wrapper {
    padding-top: 20px;
  }
}
.case-study-hero__container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}
.case-study-hero__subtitle {
  color: #00FFFF;
  font-size: 22px;
  margin-bottom: 10px;
}
.case-study-hero__title {
  color: white;
}
.case-study-hero__inner {
  position: relative;
  z-index: 15;
}
.case-study-hero__excerpt {
  margin-bottom: 10px;
}
.case-study-hero__excerpt p {
  color: white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.case-study-hero__download {
  margin-top: 70px;
  position: relative;
  cursor: pointer;
}
.case-study-hero__download:before {
  content: "";
  position: absolute;
  left: 30px;
  background-image: url("./../../assets/images/Icon-download.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}
.case-study-hero__download a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 35px;
  border: 2px solid #00FCFC;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  outline: 2px solid transparent;
  display: inline-block;
}
.case-study-hero__download a:hover {
  outline: 2px solid #00FCFC;
}

/*# sourceMappingURL=style.css.map */
