.news {
  padding: 40px 0;
}
.news__excerpt a {
  text-decoration: none;
  color: #002433;
}
.news__headings {
  text-align: center;
  max-width: 674px;
  margin: 0 auto 42px;
}
@media screen and (max-width: 1024px) {
  .news__headings {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .news__wrapper {
    padding: 0 15px;
  }
}
.news__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -36px;
  row-gap: 22px;
}
@media screen and (max-width: 1200px) {
  .news__inner {
    margin: 0 -10px;
  }
}
@media screen and (max-width: 1024px) {
  .news__inner {
    margin: 0;
  }
}
.news__item {
  flex: 0 1 50%;
  padding: 0 36px;
  transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
  .news__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .news__item {
    flex: 1 1 100%;
    padding: 0;
  }
}
.news-item {
  box-shadow: 0px 3px 20px #E3E0DE;
  border-radius: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.news-item:hover {
  transition: all 0.3s;
}
.news-item:hover .news__img img {
  transform: scale(1.1);
}
.news-item:hover .news__excerpt a {
  text-decoration: underline;
  color: #002433;
}
.news__content {
  background-color: #fff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .news__content {
    padding-left: 15px;
  }
}
.news__img {
  height: 241px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .news__img {
    height: 177px;
  }
}
.news__img img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news__title {
  font-size: 16px;
  letter-spacing: 0px;
  color: #002433;
  line-height: 1.8;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.news__excerpt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 425px;
  padding-right: 10px;
}
@media screen and (max-width: 1024px) {
  .news__excerpt {
    max-width: 100%;
    align-items: center;
    padding-right: 32px;
  }
}
.news__excerpt p {
  font-weight: 700;
  max-width: 355px;
  letter-spacing: 0px;
  color: #002433;
  font-size: 21px;
  line-height: 1.38;
  opacity: 1;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .news__excerpt p {
    max-width: 100%;
    padding-right: 15px;
    font-size: 16px;
  }
}
.news .container {
  max-width: 1100px;
}
.news__arrow-right {
  flex-basis: 46px;
  flex-shrink: 0;
}
.news__arrow-right img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .news__arrow-right {
    flex-basis: 32px;
    flex-shrink: 0;
  }
}

.home .news__item .news__title {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
