@import "mixins.scss";
.testimonial {
  background-color: #002433;
  //margin: 30px 0;
  overflow: hidden;
  &__inner {
	display: flex;
	margin: 0 -24px;
	position: relative;
	padding-top: 66px;
	padding-bottom: 66px;
	z-index: 1;
	align-items: center;
	@media screen and (max-width: 1024px) {
	  padding-top: 50px;
	  padding-bottom: 33px;
	}

	&:after {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  width: 870px;
	  height: 100%;
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-image: url("./../../assets/images/decor_banner.png");
	  @media screen and (max-width: 1024px) {
		background-image: none;
		width: 445px;
		height: 923px;
		background-color: #000A14;
		border-radius: 90px;
		transform: rotateZ(35deg);
		top: -175px;
		left: -53px;
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
	  }
	}

	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	  margin: 0;
	  gap: 38px;
	}
  }

  &__intro {
	flex: 0 1 50%;
	padding: 0 24px;
	color: #fff;

	h1, h2, h3, h4, h5, h6 {
	  color: white;
	  @media screen and (max-width: 1024px) {
		font-size: 30px;
		margin-bottom: 30px;
	  }
	}

	@media screen and (max-width: 1024px) {
	  padding: 0;
	}

	p {
	  font-size: 16px;
	}
  }

  &__text {
	position: relative;
	z-index: 10;

	h1, h2, h3, h4, h5, h6 {
	  color: white;
	  @media screen and (max-width: 1024px) {
		font-size: 30px;
	  }
	}

	p {
	  font-size: 16px;
	  color: white;
	  @include screen(1280) {
		font-size: 20px;
	  }
	}
  }

  &__client-info {
	position: relative;
	z-index: 11;
  }

  &__feedback_outher {
	flex: 0 1 50%;
	padding: 0 24px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	}
  }
  &__feedback {
	position: relative;
	z-index: 10;
	padding: 45px 45px 45px 45px;
	font-size: 20px;
	@media screen and (max-width: 1024px) {
	  padding: 35px 15px 9px 15px;
	}
	&:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  border-radius: 12px;
	  filter: brightness(1.1);
	  z-index: 1;
	  background-color: #264A59;
	  @media screen and (max-width: 1024px) {
		opacity: 0.7;
		border-radius: 22px;
	  }
	}
  }
  &__client-info {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	  gap: 0;
	}
  }

  &__name {
	color: #00FFFF;
	font-size: 20px;
	line-height: 1.3;
	padding-right: 30px;
	@media screen and (max-width: 1024px) {
	  padding-right: 0;
	  font-size: 16px;
	  margin-bottom: 0;
	}
  }
  &__logo {
	@media screen and (max-width: 1024px) {
	  text-align: right;
	  margin-top: 7px;
	}

	img {
	  object-fit: contain;
	  width: 170px;
	  height: 80px;
	}
  }
  &.is-style-marginless {
	margin: 0;
  }
}
