.testimonial {
  background-color: #002433;
  overflow: hidden;
}
.testimonial__inner {
  display: flex;
  margin: 0 -24px;
  position: relative;
  padding-top: 66px;
  padding-bottom: 66px;
  z-index: 1;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .testimonial__inner {
    padding-top: 50px;
    padding-bottom: 33px;
  }
}
.testimonial__inner:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 870px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../assets/images/decor_banner.png");
}
@media screen and (max-width: 1024px) {
  .testimonial__inner:after {
    background-image: none;
    width: 445px;
    height: 923px;
    background-color: #000A14;
    border-radius: 90px;
    transform: rotateZ(35deg);
    top: -175px;
    left: -53px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
}
@media screen and (max-width: 1024px) {
  .testimonial__inner {
    flex-direction: column;
    margin: 0;
    gap: 38px;
  }
}
.testimonial__intro {
  flex: 0 1 50%;
  padding: 0 24px;
  color: #fff;
}
.testimonial__intro h1, .testimonial__intro h2, .testimonial__intro h3, .testimonial__intro h4, .testimonial__intro h5, .testimonial__intro h6 {
  color: white;
}
@media screen and (max-width: 1024px) {
  .testimonial__intro h1, .testimonial__intro h2, .testimonial__intro h3, .testimonial__intro h4, .testimonial__intro h5, .testimonial__intro h6 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .testimonial__intro {
    padding: 0;
  }
}
.testimonial__intro p {
  font-size: 16px;
}
.testimonial__text {
  position: relative;
  z-index: 10;
}
.testimonial__text h1, .testimonial__text h2, .testimonial__text h3, .testimonial__text h4, .testimonial__text h5, .testimonial__text h6 {
  color: white;
}
@media screen and (max-width: 1024px) {
  .testimonial__text h1, .testimonial__text h2, .testimonial__text h3, .testimonial__text h4, .testimonial__text h5, .testimonial__text h6 {
    font-size: 30px;
  }
}
.testimonial__text p {
  font-size: 16px;
  color: white;
}
@media only screen and (min-width: 1280px) {
  .testimonial__text p {
    font-size: 20px;
  }
}
.testimonial__client-info {
  position: relative;
  z-index: 11;
}
.testimonial__feedback_outher {
  flex: 0 1 50%;
  padding: 0 24px;
}
@media screen and (max-width: 1024px) {
  .testimonial__feedback_outher {
    padding: 0;
  }
}
.testimonial__feedback {
  position: relative;
  z-index: 10;
  padding: 45px 45px 45px 45px;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .testimonial__feedback {
    padding: 35px 15px 9px 15px;
  }
}
.testimonial__feedback:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  filter: brightness(1.1);
  z-index: 1;
  background-color: #264A59;
}
@media screen and (max-width: 1024px) {
  .testimonial__feedback:after {
    opacity: 0.7;
    border-radius: 22px;
  }
}
.testimonial__client-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .testimonial__client-info {
    flex-direction: column;
    gap: 0;
  }
}
.testimonial__name {
  color: #00FFFF;
  font-size: 20px;
  line-height: 1.3;
  padding-right: 30px;
}
@media screen and (max-width: 1024px) {
  .testimonial__name {
    padding-right: 0;
    font-size: 16px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  .testimonial__logo {
    text-align: right;
    margin-top: 7px;
  }
}
.testimonial__logo img {
  object-fit: contain;
  width: 170px;
  height: 80px;
}
.testimonial.is-style-marginless {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
