.test-block {
  background: pink;
  height: 20px;
  width: 30px;
}

.container_case-study {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.container_case-study h2 {
  margin-top: 1em;
}
.container_case-study .case-item h2 {
  margin-top: auto;
}

.wp-block-bssb-social-share {
  padding-top: 30px;
  border-top: 2px solid #002433;
  margin-top: 62px;
}

.bssbSocialShare {
  padding-left: 60px;
}
.bssbSocialShare:before {
  content: "Share:";
  color: #4E4C5A;
  font-size: 18px;
  margin-right: 20px;
}

.case-study-container figure img {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}
.case-study-container .wp-block-separator {
  margin-top: 35px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
  .case-study-container .wp-block-separator {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .single .case-study {
    padding-bottom: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
