.four-block__wrapper {
  min-height: 585px;
  position: relative;
  border-radius: 0 0 200px 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .four-block__wrapper {
    min-height: auto;
  }
}
.four-block__wrapper:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  background-color: rgba(0, 36, 51, 0.84);
}
.four-block__inner {
  padding-top: 214px;
  position: relative;
  z-index: 15;
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.four-block__inner h1, .four-block__inner h2, .four-block__inner h3, .four-block__inner h4, .four-block__inner h5, .four-block__inner h6, .four-block__inner p {
  color: white;
}
@media screen and (max-width: 1024px) {
  .four-block__inner {
    flex-direction: column;
    padding-top: 20px;
    margin: 0;
  }
}
.four-block__post-info {
  flex: 0 0 50%;
  padding: 0 15px;
}
@media screen and (max-width: 1024px) {
  .four-block__post-info {
    padding: 0;
    flex: 0 0 auto;
  }
}
.four-block__post-info h6 {
  font-size: 20px;
  margin-bottom: 7px;
}
.four-block__post-info h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .four-block__post-info h2 {
    font-size: 30px;
    margin-bottom: 70px;
  }
}
.four-block__inner-block {
  flex: 0 0 50%;
  padding: 0 15px;
}
@media screen and (max-width: 1024px) {
  .four-block__inner-block {
    padding: 0;
    flex: 0 0 auto;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
