.four-block {
  &__wrapper {
	min-height: 585px;
	position: relative;
	border-radius: 0 0 200px 0;
	overflow: hidden;
	@media screen and (max-width: 1024px) {
	  min-height: auto;
	}

	&:after {
	  content: "";
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  mix-blend-mode: multiply;
	  background-color: rgba(0, 36, 51, 0.84);
	}
  }

  &__inner {
	padding-top: 214px;
	position: relative;
	z-index: 15;
	margin: 0 -15px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;

	h1, h2, h3, h4, h5, h6, p {
	  color: white;
	}

	@media screen and (max-width: 1024px) {
	  flex-direction: column;
	  padding-top: 20px;
	  margin: 0;
	}
  }

  &__post-info {
	flex: 0 0 50%;
	padding: 0 15px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	  flex:  0 0 auto;
	}

	h6 {
	  font-size: 20px;
	  margin-bottom: 7px;

	}

	h2 {
	  font-size: 40px;
	  line-height: 1.2;
	  font-weight: 400;
	  margin-bottom: 40px;
	  @media screen and (max-width: 1024px) {
		font-size: 30px;
		margin-bottom: 70px;
	  }
	}
  }

  &__inner-block {
	flex: 0 0 50%;
	padding: 0 15px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	  flex: 0 0 auto;
	  margin-bottom: 50px;
	}
  }
}
