$darkgreen: #002433;
$blackgreen: #000e14;
$white: #fff;
$brightblue: #00ffff;


.acfblock-textandimageblocktwo{
background-color: $blackgreen;
height: 90vh;
min-height: 500px;
max-height: 50rem;
border-bottom-right-radius: 10rem;
position: relative;
overflow: hidden;
  
.background_a{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
height: 100%;
width: 100%;
z-index: 0;
opacity: 0.1;
}


.background_b{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
height: 100%;
width: 100%;
z-index: 1;
opacity: 0.3;
}




.containo_pemac{
height: 100%;
width: 90vw;
margin: 0 auto;
max-width: 1680px;
.flexholder{
display: flex;
align-items: center;
height: 100%;
.leftarea{
height: 100%;

@media screen and (min-width:992px) {
width: 50%;
}
@media screen and (max-width:991px) {
width: 90%;
}

position: relative;
display: flex;
justify-content: center;
flex-direction: column;


.titletext{
font-size: calc(2.5rem + 0.1vw);
font-weight: 600;
}


h1,h2,h3,h4,h5{
color:$white;
font-weight: 500;
line-height: 1.15em
}
.contento{
color: $white;
p{
    line-height: 1.75rem;
}
}


.titletext, .contento{
    position: relative;
    z-index: 6;
@media screen and (min-width:992px) {
max-width:40rem;
}
}

}
}
}

.circlezone{
height: 100%;
width: 40%;
position: absolute;
right: 0;
top: 0;

.blurbox{
border-radius: 2rem;
height: 6.5rem;
width: 6.5rem;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
img{
position: relative;
height: calc(100% - 2rem);
width: calc(100% - 2rem);
}
.underglass{
position: absolute;
border-radius: 2rem;
left: 0;
top: 0;
width: 100%;
height: 100%;
opacity: 0.8;
pointer-events: none;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}


@media screen and (min-height:800px) and (max-height:900px){
height: 5rem;
width: 5rem;
border-radius: 1rem;
.underglass{
border-radius: 1rem;
}
}

@media screen and (min-height:700px) and (max-height:799px){
height: 5.5rem;
width: 5.5rem;
border-radius: 1rem;
.underglass{
border-radius: 1rem;
}
}
@media screen and (min-height:550px) and (max-height:699px){
height: 5.5rem;
width: 5.5rem;
border-radius: 1rem;
.underglass{
border-radius: 1rem;
}
}
@media screen and (min-height:10px) and (max-height:549px){
height: 5.25rem;
width: 5.25rem;
border-radius: 1rem;
.underglass{
border-radius: 1rem;
}
}


}






.circlebox.circlebox_a{
@media screen and (min-width:1440px){
width: 80rem;
height: 80rem;
position: absolute;
bottom: -52rem;
right: -40rem;
}
@media screen and (min-width:768px) and (max-width:1439px){
width: 70rem;
height: 70rem;
position: absolute;
bottom: -45rem;
right: -30rem;
}
@media screen and (max-width:767px) {
width: 70rem;
height: 70rem;
position: absolute;
bottom: -45rem;
right: -30rem;
opacity: 0.4
}


//box coming up from below:::::::
.boximage_a{

position: absolute;
// background: #fff;
top: 11%;
left: 14%;
z-index: 9;
@media screen and (max-width:991px) {
display: none;
}
}

@media screen and (min-height:800px) and (max-height:900px){
bottom: -55rem;
}

@media screen and (min-height:700px) and (max-height:799px){
bottom: -55rem;
}
@media screen and (min-height:550px) and (max-height:699px){
bottom: -60rem;
}
@media screen and (min-height:10px) and (max-height:549px){
bottom: -60rem;
}


//end bottom circle
}


.circlebox.circlebox_b{
@media screen and (min-width:1440px){
width: 80rem;
height: 80rem;
position: absolute;
top: -22rem;
right: -59rem;
}
@media screen and (min-width:768px) and (max-width:1439px){
width: 70rem;
height: 70rem;
position: absolute;
top: -12rem;
right: -49rem;
}
@media screen and (max-width:767px) {
width: 70rem;
height: 70rem;
position: absolute;
top: -12rem;
right: -49rem;
opacity: 0.4
}


@media screen and (min-height:850px) and (max-height:900px){
top: -30rem;
}

@media screen and (min-height:800px) and (max-height:849px){
top: -30rem;
}

@media screen and (min-height:700px) and (max-height:799px){
top: -30rem;
}
@media screen and (min-height:550px) and (max-height:699px){
top: -35rem;
}
@media screen and (min-height:10px) and (max-height:549px){
top: -36rem;
}



//boxes coming up from top:::::::
.boximage_ba{
top: 45%;
left: -1%;
z-index: 9;
@media screen and (max-width:991px) {
display: none;
}
}
.boximage_bb{
top: 77%;
left: 10%;
z-index: 9;
@media screen and (max-width:991px) {
display: none;
}
}
//end top circle
}






.maincircle{
background-image: url(images/greencircle.svg);
margin: 0;
padding: 0;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
height: 100%;
width: 100%;
}



@keyframes rotating {
from {
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-ms-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}


.rotating {
-webkit-animation: rotating 12s linear infinite;
-moz-animation: rotating 12s linear infinite;
-ms-animation: rotating 12s linear infinite;
-o-animation: rotating 12s linear infinite;
animation: rotating 12s linear infinite;
}

.rotating_slower {
-webkit-animation: rotating 15s linear infinite;
-moz-animation: rotating 15s linear infinite;
-ms-animation: rotating 15s linear infinite;
-o-animation: rotating 15s linear infinite;
animation: rotating 15s linear infinite;
}

//end imagearea
}


}


/********************/
/*** ********** *****/
/********************/
.hasfader{
    opacity: 0;
    transition: all 0.2s ease;
}

.hasfader.fadedin{
    opacity: 1;
    transition: all 0.2s ease;
}


/********************/
/*** button *****/
/********************/

.pemac_button{
    position: relative;
    color: $white;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    max-width: 10rem;
    text-align: center;
    z-index: 1;
    transition: all .2s ease;
    border: 2px solid transparent;
    &:hover{
            transition: all .2s ease;
    }



    &.outlined{
    background-color: transparent;
    border: 2px solid $brightblue;
    &:hover{
            box-shadow: inset 0 0 0 3px $brightblue;
    }
}

}
