.nsfeed {
  padding: 40px 0;
  padding-bottom: 80px;
}
.nsfeed__excerpt a {
  text-decoration: none;
  color: #002433;
}
.nsfeed__headings {
  margin-bottom: 50px;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .nsfeed__headings {
    max-width: 100%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .nsfeed__wrapper {
    padding: 0 15px;
  }
}
.nsfeed__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -36px;
  column-gap: 25px;
  row-gap: 50px;
}
@media screen and (max-width: 1200px) {
  .nsfeed__inner {
    margin: 0 -10px;
  }
}
@media screen and (max-width: 1024px) {
  .nsfeed__inner {
    margin: 0;
  }
}
.nsfeed__item {
  flex: 0 0 calc(33.33% - 50px);
  transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
  .nsfeed__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .nsfeed__item {
    flex: 1 1 100%;
    padding: 0;
  }
}
.nsfeed-item {
  box-shadow: 0px 3px 20px #E3E0DE;
  border-radius: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nsfeed-item:hover {
  transition: all 0.3s;
}
.nsfeed-item:hover .nsfeed__img img {
  transform: scale(1.1);
}
.nsfeed-item:hover .nsfeed__excerpt a {
  text-decoration: underline;
}
.nsfeed__content {
  background-color: #fff;
  padding: 12px 25px;
}
@media screen and (max-width: 1024px) {
  .nsfeed__content {
    padding-left: 15px;
  }
}
.nsfeed__img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .nsfeed__img {
    height: 177px;
  }
}
.nsfeed__img img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.nsfeed__title {
  font-size: 16px;
  letter-spacing: 0px;
  color: #002433;
  line-height: 1.8;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.nsfeed__excerpt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .nsfeed__excerpt {
    max-width: 100%;
    align-items: center;
    padding-right: 32px;
  }
}
.nsfeed__excerpt p {
  font-weight: 700;
  max-width: 355px;
  letter-spacing: 0px;
  color: #002433;
  font-size: 21px;
  line-height: 1.38;
  opacity: 1;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .nsfeed__excerpt p {
    max-width: 100%;
    padding-right: 15px;
    font-size: 16px;
  }
}
.nsfeed__arrow-right {
  flex-basis: 46px;
  flex-shrink: 0;
}
.nsfeed__arrow-right img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .nsfeed__arrow-right {
    flex-basis: 32px;
    flex-shrink: 0;
  }
}
.nsfeed .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .nsfeed__link.top {
    display: none;
  }
}
.nsfeed__link.bot {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .nsfeed__link.bot {
    display: none;
  }
}
.nsfeed .link {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (max-width: 764px) {
  .nsfeed .link {
    gap: 12px;
  }
  .nsfeed .link img {
    width: 9px;
  }
}
@media only screen and (max-width: 414px) {
  .nsfeed .link {
    gap: 2.9vw;
  }
  .nsfeed .link img {
    width: 2.17vw;
  }
}

@media screen and (max-width: 764px) {
  .nsfeed__item:nth-child(3) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
