@import "mixins.scss";

.text-center {
  text-align: center;
}

.large-image-block {
    margin: 25px 0;
  @include screen(1024) {
    margin: 50px 0 100px;
  }
  &__img {
	img {
	  height: 100%;
	  width: auto;
	  border-radius: 36px;
	  object-fit: cover;
	  object-position: center;
	}
  }
  &__inner{
	max-width: 905px;
	margin: 0 auto 45px;
  }
}
