.text-center {
  text-align: center;
}

.large-image-block {
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .large-image-block {
    margin: 50px 0 100px;
  }
}
.large-image-block__img img {
  height: 100%;
  width: auto;
  border-radius: 36px;
  object-fit: cover;
  object-position: center;
}
.large-image-block__inner {
  max-width: 905px;
  margin: 0 auto 45px;
}

/*# sourceMappingURL=style.css.map */
