.one-image-text {
  margin: 25px 0;
  padding: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .one-image-text {
    margin: 55px 0;
    padding: 50px 0;
  }
}
.one-image-text ul {
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .one-image-text ul {
    margin-bottom: 5px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .one-image-text ul {
    column-count: var(--columns);
    column-width: var(--cw);
  }
}
.one-image-text ul li {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 30px;
}
.one-image-text ul li:before {
  content: "";
  left: 0;
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-color: #00FFFF;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .one-image-text ul li {
    padding-left: 35px;
    max-width: 100%;
  }
}
.one-image-text li {
  color: #4e4c5a;
}
.one-image-text__wrapper .container {
  padding: 0 15px;
  max-width: 1230px;
}
.one-image-text__wrapper .main-link {
  margin-top: 25px;
}
@media screen and (max-width: 1024px) {
  .one-image-text__wrapper .main-link {
    margin-top: 15px;
  }
}
.one-image-text__wrapper .main-link a {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .one-image-text__wrapper .main-link a {
    font-size: 16px;
  }
}
.one-image-text__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;
}
.one-image-text__inner.left {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .one-image-text__inner.left {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1024px) {
  .one-image-text__inner {
    margin: 0;
    flex-direction: column-reverse;
    row-gap: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .one-image-text__inner.right {
    flex-direction: column;
  }
}
.one-image-text__content {
  flex-basis: 543px;
  padding: 0 10px;
}
@media screen and (max-width: 1024px) {
  .one-image-text__content {
    padding: 0;
    flex-basis: auto;
  }
}
.one-image-text__content.navy h1, .one-image-text__content.navy h2, .one-image-text__content.navy h3, .one-image-text__content.navy h4, .one-image-text__content.navy h5, .one-image-text__content.navy h6, .one-image-text__content.navy p {
  color: white;
}
.one-image-text__content.navy .main-link a {
  color: white;
}
.one-image-text__content.navy .main-link a:before {
  background-image: url("./../../assets/images/chevron-right_light.svg");
}
.one-image-text__image {
  flex-basis: 600px;
  padding: 0 10px;
}
@media screen and (max-width: 1024px) {
  .one-image-text__image {
    padding: 0;
    flex-basis: auto;
  }
}
.one-image-text__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
@media screen and (max-width: 1024px) {
  .one-image-text__image img {
    height: auto;
    width: 100%;
  }
}
.one-image-text.is-style-marginless {
  margin: 0 !important;
}

@media screen and (max-width: 1024px) {
  .one-image-text__teXt p strong {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
