@import "mixins.scss";

.one-image-text {
  margin: 25px 0;
  padding: 25px 0;
  @include screen(1280) {
	margin: 55px 0;
	padding: 50px 0;
  }
  ul {
	padding-left: 0;
	@media screen and (max-width: 768px){
	  margin-bottom: 5px;
	  margin-top: 0;
	}
	@include screen(768) {
	  column-count:var(--columns);
	  column-width:var(--cw);
	}
	li {
	  position: relative;
	  font-size: 16px;
	  line-height: 1.5;
	  padding-left: 30px;
	  &:before{
		content: "";
		left: 0;
		position: absolute;
		top: 12px;
		transform: translateY(-50%);
		width: 16px;
		height: 8px;
		background-color: #00FFFF;
		border-radius: 4px;
	  }
	  @media screen and (max-width: 768px){
		padding-left: 35px;
		max-width: 100%;
	  }
	}
  }
  li {
	color: #4e4c5a;
  }

  &__wrapper {
	.container {
	  padding: 0 15px;
	  max-width: 1230px;
	}

	.main-link {
	  margin-top: 25px;
	  @media screen and (max-width: 1024px) {
		margin-top: 15px;
	  }

	  a {
		font-size: 20px;
		@media screen and (max-width: 1024px) {
		  font-size: 16px;
		}
	  }
	}
  }
  &__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -10px;

	&.left {
	  @media screen and (min-width: 1024px) {
		flex-direction: row-reverse;
	  }
	  flex-direction: column;
	}

	@media screen and (max-width: 1024px) {
	  margin: 0;
	  flex-direction: column-reverse;
	  row-gap: 23px;
	}
	&.right{
	  @media screen and (max-width: 1024px) {
		flex-direction: column;
	  }
	}
  }

  &__content {
	flex-basis: 543px;
	padding: 0 10px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	  flex-basis: auto;
	}

	&.navy {
	  h1, h2, h3, h4, h5, h6, p {
		color: white;
	  }

	  .main-link {
		a {
		  color: white;

		  &:before {
			background-image: url("./../../assets/images/chevron-right_light.svg");
		  }
		}
	  }
	}
  }

  &__image {
	flex-basis: 600px;
	padding: 0 10px;
	@media screen and (max-width: 1024px) {
	  padding: 0;
	  flex-basis: auto;
	}

	img {
	  width: 100%;
	  height: auto;
	  object-fit: contain;
	  object-position: center;
	  //border-radius: 36px;
	  @media screen and (max-width: 1024px) {
		height: auto;
		width: 100%;
	  }
	}
  }

  &.is-style-marginless {
	margin: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .one-image-text__teXt {
	p {
	  strong {
		margin-top: 1em;
		margin-bottom: 1em;
		display: block;
	  }
	}
  }
}
