.job-form {
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  .job-form {
    padding: 45px;
  }
}
.job-form * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}
.job-form .gform_title {
  color: #160F50;
  margin: 0;
}
.job-form .gform_description {
  display: none;
}
.job-form .gfield_required {
  display: none;
}
.job-form input:not(.gfield-choice-input) {
  width: 100%;
  padding: 19px 10px;
  border: 1px solid #828B94;
}
.job-form input::placeholder {
  color: #828B94;
  font-family: "Plus Jakarta Sans";
}
.job-form label {
  margin: 10px 0;
  display: block;
  color: #0D1320;
  font-weight: 600;
}
.job-form .gfield_radio label {
  margin: 10px 0;
  display: inline !important;
  color: #0D1320;
  font-weight: 600;
}
.job-form textarea {
  width: 100%;
  padding: 19px 10px;
  border: 1px solid #828B94;
}
.job-form textarea::placeholder {
  color: #828B94;
  font-family: "Plus Jakarta Sans";
}

.job-form .gform_button {
  background: #B7E539;
  color: #28334D;
  font-weight: 500;
  cursor: pointer;
  border: none !important;
}
@media only screen and (min-width: 768px) {
  .job-form .gform_button {
    width: 285px !important;
  }
}
.job-form .gfield--type-choice {
  margin: 15px 0;
}
.job-form .gfield--type-choice legend {
  font-size: 16px;
  margin-bottom: 10px;
}
.job-form .gfield--type-choice label {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .job-form .gform_fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .job-form .gform_fields .gfield--width-half {
    flex: 0 0 calc(50% - 25px);
  }
}
@media only screen and (min-width: 768px) {
  .job-form .gform_fields .gfield--width-full {
    flex: 0 0 calc(100% - 25px);
  }
}
.job-form .gform_submission_error {
  font-size: 16px;
}
.job-form .gfield_validation_message {
  font-size: 16px;
  color: #00B1FF;
}

/*# sourceMappingURL=style.css.map */
