@import "mixins.scss";

// .job-form {
//   .gform_title {
//     font-size: 2.5rem;
//     line-height: 2.75rem;
//     font-family: 'Nunito', sans-serif;
//     font-weight: 700;
//     color: #002433;
//     margin-bottom: 33px;
//     @include screen (0, 810) {
//       text-align: center;
//       font-size: 1.375rem;
//       line-height: 1.875rem;
//     }
//     @include screen (0, 414) {
//       font-size: 5.31vw;
//       line-height: 7.25vw;
//       margin-bottom: 7.97vw;
//     }
//   }
//   legend,
//   label,
//   button,
//   #gform_submit_button_2 {
//     font-size: 1rem;
//     line-height: 1.375rem;
//     font-family: 'Nunito', sans-serif;
//     font-weight: 400;
//     color: #002433;
//     @include screen (0, 414) {
//       font-size: 3.86vw;
//       line-height: 5.31vw;
//     }
//   }
//   button {
//     border-radius: 23px;
//     width: 226px;
//     height: 35px;
//     border: 2px solid #002433;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//     background: white;
//     cursor: pointer;
//     transition: background 0.3s ease-out;
//     @include screen (0, 414) {
//       width: 54.59vw;
//       height: 8.45vw;
//       border-radius: 5.56vw;
//     }
//     &:hover {
//       background: #002433;
//       color:white;
//     }
//   }
//   input::placeholder,
//   .gform_drop_instructions,
//   #gfield_upload_rules_2_6
//    {
//     font-size: 0.875rem;
//     line-height: 1.1875rem;
//     font-family: 'Nunito', sans-serif !important;
//     font-weight: 400;
//     color: #9796A0;
//     @include screen (0, 414) {
//       font-size: 3.38vw;
//       line-height: 4.59vw;
//     }
//   }
//   input {
//     border-radius: 4px;
//     border: 1px solid #E3E0DE;
//   }
//   max-width: 790px !important;
//   margin: 0 auto;
//   padding: 36px 0;
//   @include screen (0, 842) {
//     padding: 36px 15px;
//     margin: 0 26px;
//   }
//   @include screen (0, 414) {
//     padding: 8.7vw 3.62vw;
//     margin: 0 6.28vw;
//   }
//   .ginput_container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     #gform_multifile_upload_2_6 {
//       width: 100% !important;
//     }
//     #gfield_upload_rules_2_6{
//       max-width: 292px !important;
//       margin: 0 auto;
//       text-align: center;
//     }
//     .gfield_description{
//       font-size: 1rem;
//       line-height: 1.375rem;
//       font-family: 'Nunito', sans-serif;
//       font-weight: 400;
//       color: #9796A0;
//       @include screen (0, 414) {
//         font-size: 3.86vw;
//         line-height: 5.31vw;
//       }
//     }
//   }
//   #gform_submit_button_2 {
//     width: 143px;
//     height: 35px;
//     border-radius: 23px;
//     background: #00FFFF;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//     transition: background 0.3s ease-out;
//     &:hover {
//       background: #002433;
//       color: #00FFFF;
//     }
//     @include screen (0, 414) {
//       width: 100%;
//       height: 8.45vw;
//     }
//   }
// }

.job-form {
  padding: 25px;

  @include screen(1280) {
      padding: 45px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
  }
  .gform_title {
      color:#160F50;
      margin: 0;
  }
  .gform_description {
      display:none;
  }
  .gfield_required {
      display:none;
  }
  input {
      &:not(.gfield-choice-input) {
          width: 100%;
          padding: 19px 10px;
          border:1px solid #828B94;
      }
      &::placeholder {
          color:#828B94;
          font-family: "Plus Jakarta Sans";
      }
  }
  label {
      margin: 10px 0;
      display: block;
      color:#0D1320;
      font-weight: 600;
  }
  .gfield_radio {
      label {
          margin: 10px 0;
          display: inline !important;
          color:#0D1320;
          font-weight: 600;
      }
  }
  textarea {
      width: 100%;
      padding: 19px 10px;
      border:1px solid #828B94;
      &::placeholder {
          color:#828B94;
          font-family: "Plus Jakarta Sans";
      }
  }
}
.job-form {
  .gform_button {
    background:#B7E539;
    color:#28334D;
    font-weight: 500;
    cursor:pointer;
    border:none !important;
    @include screen(768) {
        width: 285px !important;
    }
  }
  .gfield--type-choice {
    margin: 15px 0;
    legend {
        font-size: 16px;
        margin-bottom: 10px;
    }
    label {
        font-size: 16px;
    }
  }
  .gform_fields {
    @include screen(768) {
        display: flex;
        flex-wrap: wrap;
        column-gap:25px;
        row-gap:15px;
    }
    .gfield--width-half {
        @include screen(768) {
            flex:0 0 calc(50% - 25px);
        }
    }
    .gfield--width-full {
        @include screen(768) {
            flex:0 0 calc(100% - 25px);
        }
    }
  }
  .gform_submission_error {
    font-size: 16px;
  }
  .gfield_validation_message {
    font-size: 16px;
    color:#00B1FF;
  }
}
