@import "mixins.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.job-feed {
	background: #F0F2F3;

	h2 {
		font-weight: 700;
		color: #002433;
		line-height: 1.5;
	}

	h4 {

		font-weight: 700;
		color: rgba($color: #002433, $alpha: 0.87);
	}

	h5 {
		font-weight: 700;
		color: #002433;
	}

	p {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		color: #4E4C5A;

		@include screen (0, 414) {
			font-size: 3.86vw;
			line-height: 5.8vw;
		}
	}

	.big {
		font-size: 1.25rem;

		@include screen (0, 764) {
			font-size: 1rem;
		}

		@include screen (0, 414) {
			font-size: 3.86vw;
		}
	}

	.bold {
		font-weight: 700;
	}

	a {
		text-decoration: none;
	}

	.dsp-c-r,
	.dsp-c-c {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.dsp-c-c {
		flex-direction: column;
	}

	.container {
		max-width: 1013px;
		margin: 0 auto;
		padding: 50px 24px;
		align-items: flex-start;
		gap: 35px;
		@include screen(1024) {
			padding: 75px;
		}
		@include screen(1366) {
			padding: 75px 0;
		}

		.headline {
			h2 {
				margin-bottom: 6px;

				@include screen (0, 414) {
					margin-bottom: 1.45vw;
				}
			}
		}

		.jobs {
			width: 100%;
			gap: 35px;

			.job {
				width: 100%;
				justify-content: space-between;
				align-items: flex-start;
				border-top: 2px solid #E3E0DE;
				padding-top: 24px;

				@include screen (0, 764) {
					flex-direction: column;
					gap: 16px;
					padding-top: 18px;
				}

				@include screen (0, 414) {
					gap: 3.86vw;
					padding-top: 4.35vw;
				}

				.job-description {
					align-items: flex-start;
					width: 70%;

					@include screen (0, 764) {
						width: 100%;
					}

					h4 {
						margin-bottom: 8px;

						@include screen (0, 764) {
							margin-bottom: 6px;
						}

						@include screen (0, 414) {
							margin-bottom: 1.45vw;
						}
					}

					.big {
						margin-bottom: 24px;

						@include screen (0, 764) {
							margin-bottom: 6px;
						}

						@include screen (0, 414) {
							margin-bottom: 1.45vw;
						}
					}
				}

				.place_time {
					align-items: flex-start;
					gap: 24px;

					@include screen (0, 414) {
						gap: 5.8vw;
					}
				}

				.place,
				.time {
					gap: 6px;

					@include screen (0, 414) {
						gap: 1.45vw;
					}
				}

				.place {
					@include screen (0, 764) {
						img {
							width: 12px;
						}
					}

					@include screen (0, 414) {
						img {
							width: 2.9vw;
						}
					}
				}

				.time {
					@include screen (0, 764) {
						img {
							width: 13px;
						}
					}

					@include screen (0, 414) {
						img {
							width: 3.14vw;
						}
					}
				}
			}

			.link {
				gap: 16px;

				@include screen (0, 764) {
					gap: 12px;

					img {
						width: 9px;
					}
				}

				@include screen (0, 414) {
					gap: 2.9vw;

					img {
						width: 2.17vw;
					}
				}
			}
		}
	}
}