* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.job-feed {
  background: #F0F2F3;
}
.job-feed h2 {
  font-weight: 700;
  color: #002433;
  line-height: 1.5;
}
.job-feed h4 {
  font-weight: 700;
  color: rgba(0, 36, 51, 0.87);
}
.job-feed h5 {
  font-weight: 700;
  color: #002433;
}
.job-feed p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #4E4C5A;
}
@media only screen and (max-width: 414px) {
  .job-feed p {
    font-size: 3.86vw;
    line-height: 5.8vw;
  }
}
.job-feed .big {
  font-size: 1.25rem;
}
@media only screen and (max-width: 764px) {
  .job-feed .big {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .big {
    font-size: 3.86vw;
  }
}
.job-feed .bold {
  font-weight: 700;
}
.job-feed a {
  text-decoration: none;
}
.job-feed .dsp-c-r,
.job-feed .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-feed .dsp-c-c {
  flex-direction: column;
}
.job-feed .container {
  max-width: 1013px;
  margin: 0 auto;
  padding: 50px 24px;
  align-items: flex-start;
  gap: 35px;
}
@media only screen and (min-width: 1024px) {
  .job-feed .container {
    padding: 75px;
  }
}
@media only screen and (min-width: 1366px) {
  .job-feed .container {
    padding: 75px 0;
  }
}
.job-feed .container .headline h2 {
  margin-bottom: 6px;
}
@media only screen and (max-width: 414px) {
  .job-feed .container .headline h2 {
    margin-bottom: 1.45vw;
  }
}
.job-feed .container .jobs {
  width: 100%;
  gap: 35px;
}
.job-feed .container .jobs .job {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #E3E0DE;
  padding-top: 24px;
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job {
    flex-direction: column;
    gap: 16px;
    padding-top: 18px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job {
    gap: 3.86vw;
    padding-top: 4.35vw;
  }
}
.job-feed .container .jobs .job .job-description {
  align-items: flex-start;
  width: 70%;
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job .job-description {
    width: 100%;
  }
}
.job-feed .container .jobs .job .job-description h4 {
  margin-bottom: 8px;
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job .job-description h4 {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .job-description h4 {
    margin-bottom: 1.45vw;
  }
}
.job-feed .container .jobs .job .job-description .big {
  margin-bottom: 24px;
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job .job-description .big {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .job-description .big {
    margin-bottom: 1.45vw;
  }
}
.job-feed .container .jobs .job .place_time {
  align-items: flex-start;
  gap: 24px;
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .place_time {
    gap: 5.8vw;
  }
}
.job-feed .container .jobs .job .place,
.job-feed .container .jobs .job .time {
  gap: 6px;
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .place,
  .job-feed .container .jobs .job .time {
    gap: 1.45vw;
  }
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job .place img {
    width: 12px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .place img {
    width: 2.9vw;
  }
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .job .time img {
    width: 13px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .job .time img {
    width: 3.14vw;
  }
}
.job-feed .container .jobs .link {
  gap: 16px;
}
@media only screen and (max-width: 764px) {
  .job-feed .container .jobs .link {
    gap: 12px;
  }
  .job-feed .container .jobs .link img {
    width: 9px;
  }
}
@media only screen and (max-width: 414px) {
  .job-feed .container .jobs .link {
    gap: 2.9vw;
  }
  .job-feed .container .jobs .link img {
    width: 2.17vw;
  }
}

/*# sourceMappingURL=style.css.map */
