{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-c">
      <div class="headline">
        <InnerBlocks />
      </div>
      <div class="jobs dsp-c-c">
      {% for item in objects %}
      {% set item_fields = fn('get_fields', item) %}
        <div class="job dsp-c-r">
          <div class="job-description dsp-c-c">
            <a href="{{item.link}}">
              <h4>
              {{item.title}}
              </h4>
            </a>
            <p class="big">
               {{ item.preview.length(15).read_more('') }}
            </p>
            <div class="place_time dsp-c-r">
            {% if item_fields.location|length > 0%}
              <div class="place dsp-c-r">
                <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-feed/location.png" alt="place" class="place">
                <p>
                  {{item_fields.location}}
                </p>
              </div>
            {% endif %}
            {% if item_fields.type|length > 0%}
              <div class="time dsp-c-r">
                <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-feed/clock.png" alt="clock" class="clock">
                <p>
                  {{item_fields.type}}
                </p>
              </div>
            {% endif %}
            </div>
          </div>
          <a href="{{item.link}}" class="link dsp-c-r">
            <img src="{{ fn('get_stylesheet_directory_uri') }}/blocks/job-feed/arrow.png" alt="arrow" class="arrow">
            <p>
                <strong>View Job</strong>
            </p>
          </a>          
        </div>
    {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

